.tei-ref {
    font-size: var(--jinks-base-font-size);
}

.verse {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}

.verse label {
    display: block;
}

.verse p {
    margin: 0;
}