<template>
    ---json
    {
        "templating": {
            "extends": "static/templates/layouts/content.html"
        },
        "features": {
            "toc": {
                "enabled": false
            },
            "toolbar": {
                "navigation": false
            },
            "register": {
                "enabled": true
            }
        }
    }
    ---
    <div class="content">
    [[ $parts?default?content ]]
    [[ $parts?default?footnotes ]]
    </div>
    <div class="content">
        [[ $parts?translation?content ]]
        [[ $parts?translation?footnotes ]]
    </div>
</template>
