<pb-authority-lookup subscribe="transcription" emit="transcription">
  <pb-authority connector="Custom" name="organization" edit="">
    <pb-authority connector="GND" prefix="gnd"></pb-authority>
  </pb-authority>
  <!--pb-authority connector="GeoNames" name="place" user="existdb" prefix="geo"></pb-authority-->
  <pb-authority connector="Custom" name="place" edit="">
    <pb-authority connector="GeoNames" user="existdb" prefix="geo"></pb-authority>
  </pb-authority>
  <pb-authority connector="Custom" name="work" edit="">
    <pb-authority connector="GND" prefix="gnd"/>
  </pb-authority>
  <pb-authority connector="GND" name="term" prefix="gnd"></pb-authority>
  <pb-authority connector="Custom" name="person" edit="">
    <pb-authority connector="GND" prefix="gnd"></pb-authority>
  </pb-authority>
</pb-authority-lookup>
