<html>
<head>
    <title>TEI Publisher Person Register</title>
</head>
<body>

<fx-fore class="authority-editor">

    <fx-model id="model-1">

        <fx-instance id="default" src="[[ $context-path]]/api/forms/template/person-default" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
        </fx-instance>

        <fx-instance id="i-template" src="[[ $context-path ]]/api/forms/template/person-template" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-submission id="load" method="GET" replace="instance">
            <fx-action event="submit-done">
                <!-- setting selection we got from user as default -->
                <fx-action if="instance()/@xml:id = 'person-NEW'">
                    <fx-setvalue ref="instance()/*[1][@type='main']" value="query()"/>
                </fx-action>
            </fx-action>
        </fx-submission>
        <fx-submission id="save" method="PUT" replace="instance">
            <fx-action event="submit-done">
                <fx-message>Person saved with ID {instance()/@xml:id/string()}</fx-message>
                <fx-dispatch name="authority-created">
                    <fx-property name="ref" expr="instance()/@xml:id/string()"/>
                </fx-dispatch>
            </fx-action>
            <fx-action event="submit-error">
                <fx-message>Failed to save data - Please login</fx-message>
            </fx-action>
        </fx-submission>

        <!-- hack til shared instances are working in Fore - accesses value of output in outer fore with stores the 'ref' -->
        <fx-function signature="getRef() as xs:string" type="text/javascript">
            const key = document.querySelector('fx-instance#i-default').instanceData.querySelector('key');
            return key ? key.innerHTML : '';
        </fx-function>

        <fx-function signature="query() as xs:string" type="text/javascript">
            const query = document.querySelector('fx-instance#i-default').instanceData.querySelector('query');
            return query ? query.innerHTML : '';
        </fx-function>
    </fx-model>

    <!--
    ### Use the header to give the main name of the page plus provide eventual buttons needed
    -->
    <header>
        <h1>Person '{instance('default')/*[1][@type='main']}'</h1>
        <div>
            <fx-trigger>
                <button data-i18n="[title]annotations.save"><iron-icon icon="icons:save"/></button>
                <fx-call action="saveAction"/>
            </fx-trigger>
            <fx-trigger>
                <button data-i18n="[title]annotations.authority" id="close-authority"><iron-icon icon="close"/></button>
                <fx-confirm message="close this editor?">
                    <fx-dispatch name="hide-authority" target="#document"/>
                </fx-confirm>
            </fx-trigger>
        </div>
    </header>

    <!-- ### main   -->
    <main>
        <!-- begin section general -->
        <fx-group id="general" ref="instance()" class="col-2">
            <h2>Person ID:
                <fx-output ref="@xml:id"/>
            </h2>

            <fx-control ref="persName[@type='main']">
                <label>Canonical form</label>
                <fx-hint>Joachim Lelewel</fx-hint>
            </fx-control>
            <fx-control ref="persName[@type='sort']">
                <label>Sorting form</label>
                <fx-hint>Lelewel, Joachim</fx-hint>
            </fx-control>
            <fx-control ref="gender/@value">
                <label>Gender</label>
                <select class="widget">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="U">Unknown</option>
                </select>
                <fx-hint>M, F or U</fx-hint>
            </fx-control>
        </fx-group>

        <!-- Basic name forms -->

        <fx-group id="note" ref="instance()" class="col-2">
            <h2>Note</h2>
            <fx-control ref="note[@type='bio']" as="node" update-event="blur">
                <jinn-xml-editor unwrap="unwrap" class="widget" placeholder="[Inline text/markup or sequence of paragraphs]" schema="resources/scripts/annotations/tei.json" schema-root="note" namespace="http://www.tei-c.org/ns/1.0">
                    <div slot="toolbar">
                        <button data-command="selectElement" title="Select element around current cursor position">&lt;|&gt;</button>
                        <button data-command="encloseWith" title="Enclose selection in new element">&lt;...&gt;</button>
                        <button data-command="removeEnclosing" title="Remove enclosing tags" class="sep">&lt;X&gt;</button>
                        <button data-command="snippet" data-params="&lt;placeName key=&quot;$|1|&quot;&gt;$|_|&lt;/placeName&gt;" title="Insert placeName">&lt;placeName&gt;</button>
                        <button data-command="snippet" data-params="&lt;persName key=&quot;$|1|&quot;&gt;$|_|&lt;/persName&gt;" title="Insert persName">&lt;persName&gt;</button>
                    </div>
                </jinn-xml-editor>
            </fx-control>
        </fx-group>

        <fx-group id="birth" ref="//person/birth" class="col-2">
            <h2>Birth</h2>
            <fx-control ref="date/@when">
                <label>Date normalized (YYYY-MM-DD)</label>
                <fx-hint>YYYY-MM-DD</fx-hint>
            </fx-control>
            <fx-control ref="date">
                <label>Date descriptive</label>
                <fx-hint>1786-03-22</fx-hint>
            </fx-control>
            <fx-control ref="placeName">
                <label>Place of birth</label>
                <fx-hint>Warsaw</fx-hint>
            </fx-control>
        </fx-group>

        <fx-group id="birth" ref="//person/death" class="col-2">
            <h2>Death</h2>
            <fx-control ref="date/@when">
                <label>Date normalized (YYYY-MM-DD)</label>
                <fx-hint>YYYY-MM-DD</fx-hint>
            </fx-control>
            <fx-control ref="date">
                <label>Date descriptive</label>
                <fx-hint>1786-03-22</fx-hint>
            </fx-control>
            <fx-control ref="placeName">
                <label>Place of death</label>
                <fx-hint>Warsaw</fx-hint>
            </fx-control>
        </fx-group>


        <!-- // end section general -->
        <!-- begin section name variants -->
        <fx-group>
            <header>
                Name variants ({count(//persName[@type='variant'])})
                <fx-trigger class="add-button">
                    <!--                        <button>add</button>-->
                    <button data-i18n="[title]annotations.add.authority"><iron-icon icon="icons:add"/></button>
                    <fx-insert context="//person" ref="persName" origin="instance('i-template')//persName[@type='variant']"/>
                </fx-trigger>
            </header>

            <fx-repeat id="r-nameVariant" ref="//persName[@type='variant']" class="two-col">
                <template>
                    <fx-control ref=".">
                        <label>Variant form</label>
                        <fx-hint>Joachim Lelewel</fx-hint>
                    </fx-control>

                    <fx-trigger>
                        <button data-i18n="[title]annotations.authority" title="delete"><iron-icon icon="close"/></button>
                        <fx-delete ref="."/>
                    </fx-trigger>
                </template>
            </fx-repeat>
        </fx-group>

        <!-- begin section professions -->
        <fx-group>
            <header>
                Professions and roles ({count(//occupation)})
                <fx-trigger class="add-button">
                    <button data-i18n="[title]annotations.add.roles"><iron-icon icon="icons:add"/></button>
                    <fx-insert context="//person" ref="name" origin="instance('i-template')//occupation"/>
                </fx-trigger>
            </header>

            <fx-repeat id="r-occupation" ref="//occupation" class="two-col">
                <template>
                    <fx-control ref=".">
                        <label>Profession</label>
                        <fx-hint>teacher</fx-hint>
                    </fx-control>
                    <fx-trigger>
                        <button data-i18n="[title]annotations.authority" title="delete"><iron-icon icon="close"/></button>
                        <fx-delete ref="."/>
                    </fx-trigger>
                </template>
            </fx-repeat>
        </fx-group>

    </main>
    <fx-trigger>
        <button data-i18n="[title]annotations.save"><iron-icon icon="icons:save"/></button>
        <fx-call action="saveAction"/>
    </fx-trigger>

    <fx-action event="ready" if="string-length(getRef()) = 0">
        <fx-send event="ready" submission="load" url="[[ $context-path]]/api/register/NEW"/>
    </fx-action>
    <fx-action event="ready" if="string-length(getRef()) != 0">
        <fx-send event="ready" submission="load" url="[[ $context-path]]/api/register/{getRef()}"/>
    </fx-action>

    <fx-action id="saveAction">
        <fx-action if="string-length(getRef()) != 0">
            <fx-send submission="save" url="[[ $context-path]]/api/register/{getRef()}"/>
        </fx-action>
        <fx-action if="string-length(getRef()) = 0">
            <fx-send submission="save" url="[[ $context-path]]/api/register/person-NEW"/>
        </fx-action>
    </fx-action>
</fx-fore>

</body>
</html>
