<main>
    ---json
    {
        "templating": {
            "extends": "templates/base.html"
        }
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/index.html?collection=[[ browse:parent-link($context) ]]">Documents</a></li>
                <li>[[ $doc?transform-with($doc?content//tei:teiHeader/tei:fileDesc/tei:titleStmt/tei:title[@type='main'], map { "mode": "breadcrumb" }, "dta.odd") ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
    <pb-document id="document1" path="[[ $doc?path ]]" odd="[[ $doc?odd ]]" view="[[ $doc?view ]]"
        root-path="[[ $config:app-root ]]"/>
    <div class="paginated">
        <pb-navigation class="nav-button left" emit="transcription" keyboard="left"
            subscribe="transcription" direction="backward" unit="page">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
        </pb-navigation>
        <pb-view class="content" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription"/>
        <pb-navigation class="nav-button right" emit="transcription" keyboard="right"
            subscribe="transcription" direction="forward" unit="page">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
        </pb-navigation>
    </div>
</main>