<template>
  ---json
{
    "templating": {
        "extends": "templates/layouts/content.html"
    },
    "features": {
        "forms": {
            "enabled": true
        },
        "metadata-editor": {
            "enabled": false
        }
    }
}
  ---
  <fx-fore xmlns:tei="http://www.tei-c.org/ns/1.0" create-nodes="create-nodes" id="metadata-panel"
           ignore-expressions="fx-function">
    <fx-model>
      <!-- This will be filled with the teiHeader element -->
      <fx-instance id="default" src="[[ $context-path ]]/api/metadata/[[ $context?doc?path ]]"></fx-instance>

	  [% if $context?features?metadata-editor?standalone %]

	  <fx-instance id="default" src="[[ $context-path || '/api/document/' || $context?doc?path ]]"></fx-instance>

	  <fx-instance id="save-result"></fx-instance>
	  [% else %]
	  <!-- This will be filled with the TEI element -->
	  <fx-instance id="default"></fx-instance>
	  [% endif %]

	  [% if $context?features?metadata-editor?standalone %]
	  <fx-submission
		id="save"
		url="[[ $context-path || '/api/document/' || $context?doc?path ]]"
		method="PUT"
		replace="instance"
		instance="save-result"
		>
		<fx-message event="submit">Going to Save</fx-message>
		<fx-message event="submit-done">Saved</fx-message>
		<fx-message event="submit-error">An error occured while saving this document</fx-message>
	  </fx-submission>
	  [% endif %]
	</fx-model>

    [% include "templates/form.html" %]
  </fx-fore>
</template>
