<template>
---json
{
    "templating": {
        "extends": "templates/layouts/content.html"
    },
    "features": {
        "forms": {
            "enabled": true
        },
        "metadata-editor": {
            "enabled": false
        }
    }
}
---
    <fx-fore xmlns:tei="http://www.tei-c.org/ns/1.0" create-nodes="create-nodes" id="metadata-panel"
        ignore-expressions="fx-function">
        <fx-model>
            <!-- This will be filled with the teiHeader element -->
            <fx-instance id="default" src="[[ $context-path ]]/api/metadata/[[ $context?doc?path ]]"></fx-instance>
        </fx-model>

        [% include "templates/form.html" %]
    </fx-fore>
</template>