<div class="container-fluid">
    ---json
    {
        "templating": {
            "extends": "templates/static/templates/base.html"
        },
        "features": {
            "toolbar": false
        }
    }
    ---
    <main>
        <div role="group">
            [% for $i in $pagination?all %]
                [% if $pagination?page = $i?page %]
                <a role="button" href="../[[ $i?page ]]/index.html" aria-current="page">[[ $i?page ]]</a>
                [% else %]
                <a role="button" href="../[[ $i?page ]]/index.html">[[ $i?page ]]</a>
                [% endif %]
            [% endfor %]
        </div>
        <ul>
        [% for $doc in $content %]
            <li>
                [[$doc?content]]
            </li>
        [% endfor %]
        </ul>
    </main>
</div>