<details id="pictures" class="group-6">
    <summary>
        <h3>
            <span class="form-hint-wrap">
                <pb-i18n key="form.images">Abbildungen (URLs)</pb-i18n>
                <span class="hint-trigger hint-trigger--passive" tabindex="0" role="button" aria-label="Help">
                    <svg class="icon icon-info"><use href="#info-circle"></use></svg>
                </span>
                <div class="form-hint" popover="manual" role="tooltip">
                    <pb-i18n key="form.hint-digital-images"></pb-i18n>
                </div>
            </span>
        </h3>
    </summary>
    <fx-group ref="instance('default')">
        <fx-group ref="facsimile" class="neutral">
            <fx-repeat class="nested-repeat" ref="graphic" id="r-pics">
                <template>
                    <fx-control ref="@url" create="create">
                        <label>URL</label>
                    </fx-control>

                    <fx-trigger>
                        <svg class="icon icon-remove" title="delete image"><use href="#dash-circle"></use></svg>
                        <fx-delete ref="."></fx-delete>
                    </fx-trigger>
                </template>
            </fx-repeat>
            <fx-trigger class="add" title="Abbildung hinzufügen">
                <svg class="icon icon-add"><use href="#plus-circle"></use></svg>

                <fx-insert context="facsimile" ref="graphic" origin="instance('templates')/graphic"></fx-insert>
            </fx-trigger>
        </fx-group>
    </fx-group>
</details>
