**/build
node_modules/
test/cypress/screenshots/
test/cypress/videos/
test/cypress/downloads/
resources/lib/
resources/i18n/common/
resources/css/
resources/images/leaflet/
resources/images/openseadragon/
resources/styles/pico.min.css
resources/styles/pico-jinks.css
resources/scripts/dist/
.DS_Store
.cursor/
local.build.properties
demo/*.xar
.notes/