**/build
node_modules/
test/cypress/screenshots/
test/cypress/videos/
test/cypress/downloads/
resources/lib/
resources/i18n/common/
resources/css/
resources/images/leaflet/
resources/images/openseadragon/
resources/styles/pico.min.css
.DS_Store