# Ignore any files that need to go through jinks-templating

*.tpl.*
*.tps.*

# Ignore files that are not under out control
package-lock.json
package.json

# Ignore HTML files for now, the prolog is mangled after a prettier format

*.html