<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico" />
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16" />
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24" />
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32" />
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
        <link rel="stylesheet" href="resources/css/serafin-theme.css"/>
        <title>[[ $label ]]</title>
        
        <script src="[[ $context?path ]]/resources/scripts/dark.js"></script>
        [% if $script?webcomponents = 'dev' %]
        <script type="module" src="[[$script?cdn]]/src/pb-components-bundle.js"></script>
        <script type="module" src="[[$script?cdn]]/src/pb-tify.js"></script>
        [% else %]
        <script type="module" src="[[$script?cdn]]@[[$script?webcomponents]]/dist/pb-components-bundle.js"></script>
        <script type="module" src="[[$script?cdn]]@[[$script?webcomponents]]/dist/pb-tify.js"></script>
        [% endif %]
    </head>
    <body>
        <pb-page endpoint="[[ $context?path ]]" app-root="[[ $context?path ]]" api-version="1.0.0" 
            locales="resources/i18n/{{ns}}/{{lng}}.json" locale-fallback-ns="app" unresolved="unresolved">
        [[ $content ]]
        </pb-page>
        <div class="splash"/>
    </body>
</html>