<header class="is-fixed-above-lg">
    <div>
        <nav class="menubar container-fluid">
            <ul>
                <li><div class="logo"></div></li>
                <li><a href="[[ $config:context-path ]]/index.html">Start</a></li>
                [% block menubar %][% endblock %]
            </ul>
            <ul>
                <li>
                    <pb-lang name="lang">
                        [% for $lang in map:keys($languages) %]
                        <paper-item value="[[ $lang ]]">[[ $languages?($lang) ]]</paper-item>
                        [% endfor %]
                    </pb-lang>
                </li>
                <li>
                    <a id="colorMode" href="#">
                        <iron-icon icon="image:wb-sunny"></iron-icon>
                    </a>
                </li>
                <li>
                    <pb-login id="login" group="tei"></pb-login>
                </li>
            </ul>
        </nav>
        [% block toolbar %][% endblock %]
    </div>
</header>