<nav class="menubar container-fluid">
    <ul>
        <li class="logo"></li>
        [% for $item in $menu?items?* %]
        <li class="hidden-mobile">
            <a href="[[ $item?url ]]"><pb-i18n key="menu.[[ $item?id ]]">[[ $item?id ]]</pb-i18n></a>
        </li>
        [% endfor %]
    </ul>
    <ul>
        [% if $menu?language %]
        <li class="hidden-mobile">
            <pb-lang name="lang">
                [% for $lang in map:keys($languages) %]
                <paper-item value="[[ $lang ]]">[[ $languages?($lang) ]]</paper-item>
                [% endfor %]
            </pb-lang>
        </li>
        [% endif %]
        <li>
            <a id="colorMode" href="#">
                <iron-icon icon="image:wb-sunny"></iron-icon>
            </a>
        </li>
        [% if $menu?login %]
        <li class="hidden-mobile">
            <pb-login id="login" group="[[ $pkg?user?group ]]"/>
        </li>
        [% endif %]
    </ul>
</nav>