<div class="about">   
    <p>
        Jagiellońska Platforma Cyfrowa pozwala tworzyć i publikować cyfrowe edycje
        naukowe, które są odpowiedzią na realne potrzeby humanistów. Edycje powstające
        w ramach projektu odpowiadają na zróżnicowane potrzeby kilku dyscyplin
        humanistycznych (literaturoznawstwa, językoznawstwa, historii). Rozwiązania
        wykorzystywane w ramach Platformy bazują na tym, co wspólne, dając zarazem
        możliwość indywidualnego dopasowania edycji do wymagań badaczy oraz potrzeb
        czytelników i użytkowników edycji.
    </p>     
    <p>
        Platforma działa w zgodzie z międzynarodowym standardem opracowania danych
        tekstowych, TEI, a wizualizacje oparte są na oprogramowaniu TEI Publisher.
        Umożliwia to przygotowanie różnego typu opracowań: od podstawowej prezentacji
        tekstów i dokumentów w formie cyfrowe po najbardziej złożone edycje naukowe. Jest
        w nich miejsce na różne formy podawcze tekstu (transliteracje, transkrypcje,
        przekłady, faksymile) i elementy opracowania naukowego.
    </p>
        Narzędzia i środowisko pracy to nie wszystko. Żeby mogły jak najlepiej służyć
        potrzebom edytorów, potrzebne jest opracowanie spójnego procesu tworzenia
        i publikacji cyfrowych edycji naukowych. W ramach projektu wypracowujemy taki
        proces, mający umożliwić wydajną i skuteczną pracę nad edycjami. Obejmuje on
        zestawy dobrych praktyk i przepływy pracy oraz uwzględnia specyfikę pracy
        edytorów humanistów i informatyków odpowiadających za techniczną stronę edycji.
    </p>     
    <p>
        Celem projektu jest także edukacja w zakresie edycji cyfrowych, dlatego Platforma
        prezentuje wybrane projekty studenckie powstałe w ramach zajęć dydaktycznych.
        Platforma jest częścią Projektu Flagowego <a href="https://dhlab.id.uj.edu.pl" target="_blank">Digital Humanities Lab</a> i współpracuje z <a href="https://www.uj.edu.pl/web/jchc" target="_blank">Jagiellońskim Centrum
        Humanistyki Cyfrowej</a>.
    </p>
</div>