<div class="slides">
    <article>
        <h2><span>Bibliotheca Neolatina</span></h2>
        <h3>Biblioteka Literatury Staropolskiej i Nowołacińskiej</h3>
        <p>Collection of digital editions of early modern Latin texts from the Polish-Lithuanian
            Commonwealth.</p>
    </article>
    <article>
        <h2><span>Wacław Potocki</span></h2>
        <h3>Moralia</h3>
        <p>Digital edition of the first book of Moralia by Wacław Potocki (1621–1696)</p>
    </article>
    <article>
        <h2>
            <span>Piotr Skarga</span>
        </h2>
        <h3>Piotr Skarga</h3>
        <p>Scholarly edition of Piotr Skarga’s (1536–1612) works (grants of the National
            Programme for the Development of Humanities)</p>
    </article>
    <article>
        <h2>
            <span>Szymon Laks</span>
        </h2>
        <h3>Szymon Laks</h3>
        <p>Edition of the correspondence between Szymon Laks (1901–1983) and Krystyna and
            Czesław Bednarczyk</p>
    </article>
    <article>
        <h2>
            <span>Student's projects</span>
        </h2>
        <h3>Student's projects</h3>
        <p>Digital humanities projects created as a part of teaching and learning.</p>
    </article>
    <article>
        <h2>
            <span>Digital Humanities at UJ</span>
        </h2>
        <h3>Digital Humanities at UJ</h3>
        <p>Information about digital projects being carried out at the Jagiellonian University.</p>
    </article>
</div>