<div class="slides">
    <article>
        <h2><span>Neolatina Sarmatica</span></h2>
        <h3>Biblioteka Literatury Staropolskiej i Nowołacińskiej</h3>
        <p>Kolekcja edycji cyfrowych tekstów nowołacińskich powstałych na obszarze dawnego
            Królestwa Polskiego oraz wielonarodowej Rzeczypospolitej Obojga Narodów</p>
    </article>
    <article>
        <h2><span>Wacław Potocki</span></h2>
        <h3>Moralia</h3>
        <p>Edycja cyfrowa pierwszej centurii Moraliów Wacława Potockiego (1621–1696)</p>
    </article>
    <article>
        <h2>
            <span>Piotr Skarga</span>
        </h2>
        <h3>Piotr Skarga</h3>
        <p>Naukowa edycja pism Piotra Skargi (1536–1612) opracowana w ramach projektów
            finansowanych przez Narodowy Program Rozwoju Humanistyki</p>
    </article>
    <article>
        <h2>
            <span>Szymon Laks</span>
        </h2>
        <h3>Szymon Laks</h3>
        <p>Edycja korespondencji Szymona Laksa (1901–1983) z Krystyną i Czesławem
            Bednarczykami</p>
    </article>
    <article>
        <h2>
            <span>Strefa studencka</span>
        </h2>
        <h3>Strefa studencka</h3>
        <p>Projekty cyfrowe tworzone w ramach zajęć dydaktycznych i szkoleń</p>
    </article>
    <article>
        <h2>
            <span>Humanistyka cyfrowa w UJ</span>
        </h2>
        <h3>Humanistyka cyfrowa w UJ</h3>
        <p>Projekty cyfrowe realizowane w jednostkach Uniwersytetu Jagiellońskiego</p>
    </article>
</div>