<div class="slides">
    <article>
        <h2><span>Bibliotheca Neolatina</span></h2>
        <h3>Biblioteka Literatury Staropolskiej i Nowołacińskiej</h3>
        <p>Korpus tekstów odzwierciedlających kulturę dawnego Królestwa Polskiego oraz wielonarodowej Rzeczypospolitej Obojga Narodów.</p>
    </article>
    <article>
        <h2><span>Wacław Potocki</span></h2>
        <h3>Moralia</h3>
        <p>Moralia abo rzeczy do obyczajów, nauk i przestróg – zbiór wierszy Wacława Potockiego, liczący ponad 2100 utworów, powstały w latach 1688-1694. Inspiracją dla autora były Adagia Erazma z Rotterdamu.</p>
    </article>
    <article>
        <h2>
            <span>Piotr Skarga</span>
        </h2>
        <h3>Piotr Skarga</h3>
        <p>Piotr Skarga był wybitnym kaznodzieją, polemistą oraz hagiografem. Wiele z jego dzieł cieszyło się ogromną popularnością wśród jego współczesnych, natomiast dzisiejsi historycy literatury zaliczają żarliwego kaznodzieję do najwybitniejszych twórców prozy polskiej epoki Renesansu.</p>
    </article>
</div>