<div>
    [% extends "templates/base.html" %]

    <header class="page-header">
        <div>
            [% include "templates/menu.html" %]

            <div class="hero">
                <h1><pb-i18n key="hero.jdp"/></h1>
                <p><pb-i18n key="hero.sub"/></p>
                <a href="#collections"><pb-i18n key="hero.see"/></a>
            </div>
        </div>
    </header>

    <main>
        <section id="collections">
            <header>
                <h1><pb-i18n key="menu.collections"/></h1>
            </header>
            [% include "templates/editions." || $request?parameters?lang || ".html" %]
        </section>

        <section id="about">
            <header>
                <h1><pb-i18n key="menu.about"/></h1>
            </header>
            [% include "templates/about." || $request?parameters?lang || ".html" %]
        </section>
    </main>
    <script src="resources/scripts/language.js"></script>
</div>