<div>
    [% extends "templates/base.html" %]

    <header class="page-header">
        <div>
            [% include "templates/menu.html" %]

            <aside class="mobile container-fluid">
                <nav>
                    <ul>
                        [% for $item in $menu?* %]
                        <li>
                            <a href="[[ $item?url ]]"><pb-i18n key="menu.[[ $item?label ]]">[[ $item?label ]]</pb-i18n></a>
                        </li>
                        [% endfor %]
                    </ul>
                </nav>
            </aside>

            <div class="hero container-fluid">
                <h1><pb-i18n key="hero.jdp"/></h1>
                <p><pb-i18n key="hero.sub"/></p>
                <a href="#collections"><pb-i18n key="hero.see"/></a>
            </div>
        </div>
    </header>

    <main class="container-fluid">
        <section id="collections">
            <header>
                <h1><pb-i18n key="menu.collections"/></h1>
            </header>
            [% include "templates/editions." || $request?parameters?lang || ".html" %]
        </section>

        <section id="about">
            <header>
                <h1><pb-i18n key="menu.about"/></h1>
            </header>
            <div class="grid">
                [% include "templates/about." || $request?parameters?lang || ".html" %]
                <div class="bg-transparent"><span></span></div>
            </div>
        </section>

        <section id="team">
            <header>
                <h1><pb-i18n key="menu.team"/></h1>
            </header>
            [% include "templates/team." || $request?parameters?lang || ".html" %]
        </section>
        
        <section id="info">
            [% include "templates/info." || $request?parameters?lang || ".html" %]
        </section> 
    </main>
    
    [% include "templates/footer.html" %]
    <script src="resources/scripts/language.js"></script>
</div>