<div class="info">
    <article id="project">
        <h2><pb-i18n key="menu.project"/></h2>
        <p>The Digital Editing Lab (LabEdyt) and the Jagiellonian Digital Platform are part of the
            <a href="https://dhlab.id.uj.edu.pl" target="_blank">Digital Humanities Lab</a> Flagship Project
            carried out as part of the Strategic Excellence Initiative Programme at Jagiellonian
            University.</p>
    </article>
    <article id="contact">
        <h2><pb-i18n key="menu.contact"/></h2>
        <p>Contact us if you are interested to work with us on publishing digital editions.</p>
        <p><iron-icon icon="icons:mail"/> <a href="mailto:magdalena.1.komorowska@uj.edu.pl">magdalena.1.komorowska@uj.edu.pl</a></p>
    </article>
</div>