<nav class="menubar container-fluid">
    <ul>
        <li class="logo"></li>
        [% for $item in $menu?* %]
        <li class="hidden-mobile">
            <a href="[[ $item?url ]]"><pb-i18n key="menu.[[ $item?label ]]">[[ $item?label ]]</pb-i18n></a>
        </li>
        [% endfor %]
    </ul>
    <ul>
        <li>
            <pb-lang name="lang">
                [% for $lang in map:keys($languages) %]
                <paper-item value="[[ $lang ]]">[[ $languages?($lang) ]]</paper-item>
                [% endfor %]
            </pb-lang>
        </li>
        <li>
            <a id="colorMode" href="#">
                <iron-icon icon="image:wb-sunny"></iron-icon>
            </a>
        </li>
    </ul>
</nav>