<ul class="team">
    <li>
        <header>
            <h3>Uniwersytet Jagielloński</h3>
            <img src="resources/images/rybicki.png" alt="Dr Jan Rybicki"/>
        </header>
        <h2>Dr Jan Rybicki</h2>
        <p>profesor uniwersytetu</p>
    </li>
    <li>
        <header>
            <h3>Uniwersytet Jagielloński</h3>
            <img src="resources/images/agata.png" alt="Dr Agata Kwaśnicka-Janowicz"/>
        </header>
        <h2>Dr Agata Kwaśnicka-Janowicz</h2>
        <p>adiunkt</p>
    </li>
    <li>
        <header>
            <h3>Uniwersytet Jagielloński</h3>
            <img src="resources/images/gruchala.png" alt="Prof. Janusz Gruchała"/>
        </header>
        <h2>Prof. Janusz Gruchała</h2>
        <p>profesor zwyczajny</p>
    </li>
    <li>
        <header>
            <h3>Uniwersytet Jagielloński</h3>
            <img src="resources/images/iwona.png" alt="Dr Iwona Grabska-Gradzińska"/>
        </header>
        <h2>Dr Iwona Grabska-Gradzińska</h2>
        <p>doktor nauk asystent</p>
    </li>
    <li>
        <header>
            <h3>Uniwersytet Jagielloński</h3>
            <img src="resources/images/gorszkowski.png" alt="Prof. Albert Gorzkowski"/>
        </header>
        <h2>Prof. Albert Gorzkowski</h2>
        <p>Profesor nadzwyczajny</p>
    </li>
    <li>
        <header>
            <h3>Jinntec GmbH / TEI Publisher</h3>
            <img src="resources/images/magdalena.png" alt="Magdalena Turska"/>
        </header>
        <h2>Magdalena Turska</h2>
        <p>Technical editor / lead developer</p>
    </li>
    <li>
        <header>
            <h3>Uniwersytet Jagielloński</h3>
            <img src="resources/images/komorowska.png" alt="Dr Magdalena Komorowska"/>
        </header>
        <h2>Dr Magdalena Komorowska</h2>
        <p>Adiunkt</p>
    </li>
    <li>
        <header>
            <h3>Uniwersytet Jagielloński</h3>
            <img src="resources/images/halaczkiewicz.png" alt="Joanna Hałaczkiewicz"/>
        </header>
        <h2>Joanna Hałaczkiewicz</h2>
        <p>Współpracownik katedry</p>
    </li>
</ul>