<ul class="team">
    <li>
        <h3>Laboratorium Edytorstwa Cyfrowego</h3>
        <!-- <img src="resources/images/magdalena.komorowska.jpg" alt="Magdalena Komorowska"/> -->
        <h2>dr hab Magdalena Komorowska</h2>
        <p>koordynator</p>
    </li>
    <li>
        <h3>Laboratorium Edytorstwa Cyfrowego</h3>
        <!-- <img src="resources/images/halaczkiewicz.png" alt="Joanna Hałaczkiewicz"/> -->
        <h2>dr Joanna Hałaczkiewicz</h2>
        <p></p>
    </li>
    <li>
        <h3>Laboratorium Edytorstwa Cyfrowego</h3>
        <!-- <img src="resources/images/iwona.png" alt="Dr Iwona Grabska-Gradzińska"/> -->
        <h2>dr Iwona Grabska-Gradzińska</h2>
        <p></p>
    </li>
    <li>
        <h2>LabEdyt</h2>
        <h3>Laboratorium Edytorstwa Cyfrowego</h3>
    </li>
    <li>
        <h3>Uniwersytet Jagielloński</h3>
            <!-- <img src="resources/images/gruchala.png" alt="Janusz Gruchała"/> -->
        <h2>prof. dr hab. Janusz Gruchała</h2>
        <p>Współpraca</p>
    </li>
    <li>
        <h3>Uniwersytet Jagielloński</h3>
        <!-- <img src="resources/images/gug.jpg" alt="Grażyna Urban-Godziek"/> -->
        <h2>dr hab. Grażyna Urban-Godziek, prof. UJ</h2>
        <p>Współpraca</p>
    </li>
    <li>
        <h3>Uniwersytet Jagielloński</h3>
        <!-- <img src="resources/images/mikula.png" alt="Maciej Mikuła"/> -->
        <h2>dr hab. Maciej Mikuła, prof. UJ</h2>
        <p>Współpraca</p>
    </li>
    <li>
    </li>
    <li>
        <h3>Uniwersytet Jagielloński</h3>
        <h2>Lidia Nowak</h2>
        <p>Opracowanie danych</p>
    </li>
    <li>
        <h3>Uniwersytet Jagielloński</h3>
        <h2>Zuzanna Ponulak</h2>
        <p>Opracowanie danych</p>
    </li>
    <li>
        <h3>Uniwersytet Jagielloński</h3>
        <h2>Mateusz Wiater</h2>
        <p>Opracowanie danych</p>
    </li>
    <li>
        <h3>Uniwersytet Jagielloński</h3>
        <h2>Olga Burzyńska</h2>
        <p>Opracowanie danych</p>
    </li>
    <li>
        <h3>TEI Publisher</h3>
        <!-- <img src="resources/images/magdalena.png" alt="Magdalena Turska"/> -->
        <h2>Magdalena Turska</h2>
        <h2>Wolfgang Meier</h2>
        <p>Architekci systemu</p>
    </li>
    <li>
        <h3>IZI</h3>
            <!-- <img src="resources/images/anna.jpg" alt="Anna Krzysik"/> -->
        <h2>Anna Krzysik</h2>
        <p>Koordynator IT</p>
    </li>
    <li>
        <h3>Współpraca</h3>
            <!-- <img src="resources/images/wolfgang.jpg" alt="Wolfgang Meier"/> -->
        <h2>Julia Peshkova</h2>
        <p>Projekt graficzny</p>
    </li>
    <li>
        <h3>JinnTec GmbH</h3>
        <img src="resources/images/jinntec.svg" alt="JinnTec"/>
        <h2>JinnTec</h2>
        <p>Systemy komputerowe</p>
    </li>
</ul>