<main class="two-column">
    ---json
    {
        "templating": {
            "extends": "templates/static/templates/base.html"
        },
        "features": {
            "toc": false
        }
    }
    ---
    [% block breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/1/index.html">Letters</a></li>
                <li>[[ $parts?breadcrumb?content ]]</li>
            </ul>
        </nav>
    </li>
    [% endblock %]
    <div class="col1">
    [[ $parts?default?content ]]
    [[ $parts?default?footnotes ]]
    </div>
    <div class="col2">
        [[ $parts?translation?content ]]
        [[ $parts?translation?footnotes ]]
    </div>
</main>