<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/content.html"
        },
        "urls": {
            "ignore": "selectors"
        }
    }
    ---
    [% template toolbar %]
    <li>
        <pb-toggle-feature name="p_norm" selector=".lb,.running" emit="transcription" subscribe="transcription" class="light">
            <pb-i18n key="document.normalized">Normalized View</pb-i18n>
        </pb-toggle-feature>
    </li>
    [% endtemplate %]
    <pb-view class="overflow" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes"
        subscribe="transcription" emit="transcription" />
</template>
