<main>
    ---json
    {
        "templating": {
            "extends": "static/templates/layouts/base.html"
        },
        "layout": "sticky-layout",
        "script": {
            "extra-components": [
                "pb-leaflet-map"
            ]
        },
        "features": {
            "toc": {
                "enabled": false
            }
        },
        "styles": [
            "resources/css/registers-theme.css"
        ]
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/1/index.html">Letters</a></li>
                <li>[[ $parts?breadcrumb?content ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
    [% template above-content %]
    <header class="correspondence content">
        [[ $parts?metadata?content ]]
    </header>
    [% endtemplate %]
    <div class="content">
    [[ $parts?default?content ]]
    [[ $parts?default?footnotes ]]
    </div>
    <div class="content">
        [[ $parts?translation?content ]]
        [[ $parts?translation?footnotes ]]
    </div>
    [% template sidebar %]
    <aside class="right">
        [[ $parts?register?content ]]

        <pb-leaflet-map id="map" zoom="11" fit-markers="fit-markers">
            <pb-map-layer show="" base="" label="OpenTopo Map" url="https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png" max-zoom="19" attribution="© &lt;a href=&quot;https://www.openstreetmap.org/copyright&quot;>OpenStreetMap&lt;/a&gt; contributors"></pb-map-layer>
        </pb-leaflet-map>
    </aside>
    [% endtemplate %]
</main>