<template>
    ---json
    {
        "templating": {
            "extends": "static/templates/layouts/content.html"
        },
        "script": {
            "extra-components": [
                "pb-leaflet-map"
            ]
        },
        "features": {
            "toc": {
                "enabled": false
            },
            "toolbar": {
                "navigation": false
            }
        },
        "styles": [
            "resources/css/registers-theme.css",
            "resources/css/correspondence-theme.css"
        ]
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/1/index.html">Letters</a></li>
                <li>[[ $parts?breadcrumb?content ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]

    [% template toolbar %]
    <li>
        [[ $parts?metadata?content ]]
    </li>
    [% endtemplate %]

    [% template after %]
    [[ $parts?register?content ]]

    <pb-leaflet-map id="map" zoom="11" fit-markers="fit-markers">
        <pb-map-layer show="" base="" label="OpenTopo Map" url="https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png" max-zoom="19" attribution="© &lt;a href=&quot;https://www.openstreetmap.org/copyright&quot;>OpenStreetMap&lt;/a&gt; contributors"></pb-map-layer>
    </pb-leaflet-map>
    [% endtemplate %]

    <div class="content">
    [[ $parts?default?content ]]
    [[ $parts?default?footnotes ]]
    </div>
    <div class="content">
        [[ $parts?translation?content ]]
        [[ $parts?translation?footnotes ]]
    </div>
</template>
