:root {

    --jinks-background-color-default: var(--jinks-colors-500);
    --jinks-border-color-default: var(--jinks-colors-700);
    
    /* Default Jinks image assets for this theme; do not change the values */
    --jinks-hero-background-default: url("../images/jinks-images/type.jpeg");
    --jinks-page-background-default: url("../images/jinks-images/paper.jpeg");
    --jinks-texture-background-default: url("../images/jinks-images/paper.jpeg");
    --jinks-feature-background-default: url("../images/jinks-images/typewriter.jpeg");
    --jinks-highlight-background-default: url("../images/jinks-images/books.jpeg");

    /* Splash image */
    --jinks-splash-background-default: url("../images/tei-publisher-logo-color.svg");
    --jinks-splash-background-light-default: var(--jinks-splash-image-default);
    --jinks-splash-background-dark-default: url("../images/tei-publisher-logo-contrast-color.svg");

    --jinks-splash-image-size: 360px auto;

    /* Jinks variable definitions; change here into your tailored assets */
    --jinks-hero-background: var(--jinks-hero-background-default);
    --jinks-page-background: var(--jinks-page-background-default);
    --jinks-texture-background: var(--jinks-texture-background-default);
    --jinks-feature-background: var(--jinks-feature-background-default);
    --jinks-highlight-background: var(--jinks-highlight-background-default);

    /* Hero section: start page and narrow hero section in subpages, e.g. browse */

    /* Default Jinks hero image settings; do not change the values */

    --jinks-hero-height-default: auto;
    --jinks-hero-min-height-default: 60vh;
    --jinks-hero-padding-default: 2rem 1rem 2rem 6rem;
    --jinks-hero-background-size-default: cover;
    --jinks-hero-background-repeat-default: no-repeat;
    --jinks-hero-background-color-default: rgba(0, 0, 0, 0.6); /* Dark, partly opaque, overlay */

    --jinks-header-background-default: var(--jinks-hero-background);
}
