
:root {
    --jinks-text-color: var(--jinks-colors-dark);
    --jinks-text-color-light: var(--jinks-text-color);
    --jinks-text-color-medium: var(--jinks-colors-medium);
    --jinks-text-color-dark: var(--jinks-colors-medium);

    --jinks-background-color: var(--jinks-colors-50);
    --jinks-background-color-light-: var(--jinks-background-color);
    --jinks-background-color-dark: var(--jinks-colors-700);

    /* Background colors */

    /* Header, menubar, toolbar, drawer, footer, splash */

    --jinks-splash-background-color: var(--jinks-background-color);
    --jinks-splash-background-color-light: var(--jinks-splash-background-color);
    --jinks-splash-background-color: var(--jinks-background-color-dark);

    /* Overlay for highlights and (CHECK) hero and menubar section */
    --jinks-header-background-color: rgba(255, 255, 255, 0.8);
    --jinks-header-background-color-light: var(--jinks-header-background-color);
    --jinks-header-background-color-dark: rgba(255, 255, 255, 0.8);

    --jinks-drawer-background-color-default: var(--jinks-colors-100);
    --jinks-menubar-background-color-default: var(--jinks-colors-500);
    --jinks-toolbar-background-color-default: var(--jinks-colors-accent);
}