.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    height: 2.25rem;
    border-radius: var(--jinks-form-border-radius);
    padding: 0px 12px;
}

.badge.accent {
    background-color: var(--jinks-colors-accent);
}

label, input {
    font-size: var(--jinks-form-control-font-size);
    color: var(--jinks-color-primary);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: var(--jinks-colors-200);
    border: 1px solid var(--jinks-form-border-color);
    border-radius: 3.429px;
    margin: 0;
}

input[type="checkbox"]:checked {
    background-color: var(--jinks-colors-accent);
    border: 1px solid var(--jinks-colors-accent);
    background-size: 16px;
}

input:not([type]), input[type="text"],
input[type="password"] {
    width: 100%;
    height: 2.25rem;
    line-height: 2.25rem;
    padding: 0px 12px;
    background-color: var(--jinks-colors-light);
    border: 1px solid var(--jinks-form-border-color);
    border-radius: var(--jinks-form-border-radius);
    margin-bottom: 20px;
}

input[type="search"] {
    display: inline-flex;
    gap: 0.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    justify-content: center;
    align-items: center;
    border-radius: var(--jinks-form-border-radius);
    border: 1px solid var(--jinks-form-border-color);
    background-color: var(--jinks-color-lighter);
    font-size: var(--jinks-form-control-font-size);
    padding: 0px 12px 0px 1.875rem;
    background-image: var(--jinks-search-input-icon);
    background-position: center left 0.75rem;
    background-size: .875rem auto;
    background-repeat: no-repeat;
    appearance: none;
}

label:has(input:not([type="checkbox"])) {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

label:has(input:not([type="checkbox"])) > input {
    margin: 0;
}

label:has(input[type="checkbox"]) {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: .5rem;
}

label:has(input[type="checkbox"]) > input {
    margin: 0;
}

pb-search {
    border-radius: var(--jinks-form-border-radius);
    height: 2.25rem;
}

pb-search:has([slot="searchButton"])::part(input) {
    flex: 2;
    padding-left: 1.875rem;
    border-radius: var(--jinks-form-border-radius) 0 0 var(--jinks-form-border-radius);
    border-right: none;
    height: 2.25rem;
    line-height: 2.25rem;
}

pb-search [slot="searchButton"] {
    border-radius: 0 var(--jinks-form-border-radius) var(--jinks-form-border-radius) 0;
    border: 1px solid var(--jinks-form-border-color);
    border-left: none;
    height: 2.25rem;
    line-height: 2.25rem;
}

input:focus, select:focus, pb-search:focus-within {
    outline: none;
    box-shadow: 0px 0px 0px 1px var(--jinks-form-focus-color1), 0px 0px 0px 4px var(--jinks-form-focus-color2);
}

pb-search:focus-within::part(input) {
    outline: none;
    box-shadow: none;
}

label > input {
    margin-top: 0.5rem;
}

select:not([multiple], [size]) {
    display: flex;
    height: 2rem;
    padding: 0 0.5rem 0px 12px;
    flex: 1 0 0;
    gap: .25rem;
    border-radius: var(--jinks-form-border-radius);
    border: 1px solid var(--jinks-form-border-color);
    margin-bottom: 0;
    margin-top: 4px; /* leave room for focus shadow */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M5.40988 6.25C5.24682 6.24994 5.08676 6.21269 4.94646 6.14216C4.80615 6.07162 4.69073 5.97039 4.61228 5.84904C4.53383 5.72769 4.49521 5.59067 4.50047 5.45232C4.50574 5.31397 4.55468 5.17936 4.64219 5.06255L7.2317 1.60788C7.31392 1.49821 7.4274 1.40791 7.56165 1.34535C7.69589 1.2828 7.84656 1.25 7.9997 1.25C8.15284 1.25 8.3035 1.2828 8.43775 1.34535C8.57199 1.40791 8.68547 1.49821 8.76769 1.60788L11.3578 5.06255C11.4453 5.17939 11.4943 5.31405 11.4995 5.45245C11.5048 5.59085 11.4661 5.7279 11.3876 5.84926C11.309 5.97063 11.1935 6.07185 11.0532 6.14235C10.9128 6.21285 10.7526 6.25003 10.5895 6.25H5.40988Z' fill='currentColor'/%3e%3cpath d='M10.5901 9.75C10.7532 9.75006 10.9132 9.78731 11.0535 9.85784C11.1939 9.92838 11.3093 10.0296 11.3877 10.151C11.4662 10.2723 11.5048 10.4093 11.4995 10.5477C11.4943 10.686 11.4453 10.8206 11.3578 10.9374L8.7683 14.3921C8.68608 14.5018 8.5726 14.5921 8.43835 14.6546C8.30411 14.7172 8.15344 14.75 8.0003 14.75C7.84716 14.75 7.6965 14.7172 7.56225 14.6546C7.42801 14.5921 7.31453 14.5018 7.23231 14.3921L4.64219 10.9374C4.55465 10.8206 4.50571 10.6859 4.50047 10.5476C4.49523 10.4092 4.5339 10.2721 4.61243 10.1507C4.69095 10.0294 4.80645 9.92815 4.94685 9.85765C5.08724 9.78715 5.24737 9.74997 5.41049 9.75H10.5901Z' fill='currentColor'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center right 0.75rem;
    background-size: 1rem auto;
    background-color: var(--jinks-form-background-color);
    appearance: none;
    color: var(--jinks-color-primary);
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem;
    align-items: center;
    margin-bottom: .5rem;
}

button,
.btn:not(pb-link),
pb-link.btn a {
    display: inline-flex;
    padding: 12px 24px;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--jinks-form-border-radius-full);
    border: none;
    color: var(--jinks-form-text-color);
    background-color: var(--jinks-form-background-color);
    font-size: var(--jinks-form-control-font-size);
    cursor: pointer;
    text-decoration: none;
}

button:hover, .dropdown-button summary:hover, btn:hover {
    background-color: var(--jinks-form-hover-color);
}

button.secondary {
    color: var(--jinks-colors-light);
    background-color: var(--jinks-colors-500);
}

/* Button with label or icon */
button:has(svg + span),
button:has(span + svg),
.btn:not(pb-link):has(svg + span),
.btn:not(pb-link):has(span + svg),
pb-link.btn a:has(svg + span),
pb-link.btn a:has(span + svg){
    height: 36px;
    padding: 6px 12px;
    /* Card_shadow */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

/* Button with icon only */
button:has(svg):not(:has(span)),
.btn:not(pb-link):has(svg):not(:has(span)),
.pb-link.btn a:not(:has(span)){
    border-radius: var(--jinks-form-border-radius);
    height: 36px;
    width: 36px;
    padding: 0;
    /* Card_shadow */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

/* Group of buttons, e.g. navigate left/right */
[role="group"] {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: var(--jinks-form-border-radius);
    height: 36px;
    color: var(--jinks-color-primary);
    background-color: var(--jinks-form-background-color);

    /* Card_shadow */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

[role="group"] a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

[role="group"] button {
    box-shadow: none;
    width: 1.5rem;
    height: 1.5rem;
}

[role="group"] li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.light,
pb-link .btn.light a {
    background-color: var(--jinks-colors-light);
}

.accent,
pb-link .btn.accent a {
    background-color: var(--jinks-colors-500);
    color: var(--jinks-colors-light);
}

[role="group"] pb-zoom,
[role="group"] pb-navigation,
[role="group"] pb-link {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button.icon svg, .dropdown-button summary svg, [role="group"] svg, button svg, .btn svg {
    width: 1rem;
    height: 1rem;
}


.dropdown-button, .dropdown {
    margin-bottom: 0;
    position: relative;
}

.dropdown-button[open] summary,
.dropdown[open] summary {
    margin-bottom: 0;
}

.dropdown-button summary {
    height: 36px;
    padding: 5.774px 12px;
    justify-content: center;
    align-items: center;
    border-radius: var(--jinks-form-border-radius);
    background-color: var(--jinks-form-background-color);
    font-size: var(--jinks-form-control-font-size);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.dropdown-button summary, .dropdown summary {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    list-style: none;
    cursor: pointer;
    user-select: none;
}

.dropdown-button summary::after,
.dropdown summary::after {
    display: block;
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: var(--jinks-dropdown-button-chevron-image);
    transform: none;
    height: var(--jinks-dropdown-button-chevron-size);
    width: var(--jinks-dropdown-button-chevron-size);
    background-size: var(--jinks-dropdown-button-chevron-size) auto;
    background-position: right center;
    background-repeat: no-repeat;
}

.dropdown-button[open]>summary::after {
    transform: rotate(180deg);
}

.dropdown-button[open]>summary {
    margin-bottom: 0;
}

.dropdown-button>summary+ul, .dropdown>summary+ul {
    background-color: var(--jinks-color-white);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0 0 0;
    z-index: 99;
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    white-space: nowrap;
    list-style: none;
    max-height: 80vh;
    overflow-y: auto;
}

.dropdown-button>summary+ul li, .dropdown>summary+ul li {
    list-style: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background-color: var(--jinks-color-white);
    width: 100%;
}

.dropdown-button>summary+ul li:hover, .dropdown>summary+ul li:hover {
    border: 1px solid var(--jinks-colors-400);
    background-color: var(--jinks-form-background-color);
}

.dropdown-button a, .dropdown a, .dropdown-button a:link, .dropdown a:link {
    color: var(--jinks-color-primary);
}

dialog > article{
    border-radius: 1rem;
    background-color: var(--jinks-colors-light);
}

dialog > article > header {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--jinks-color-inverse);
    background-color: var(--jinks-colors-500);
}

dialog > article > header > [name="title"] {
    font-size: 1.125rem;
    margin: 0;
    line-height: 140%;
}

dialog > article > header > button {
    background-color: transparent;
}
