.menubar {
    --pico-color: var(--jinks-menubar-color);
    --pico-primary: var(--jinks-menubar-color);
    --pico-primary-hover: var(--jinks-menubar-color);

    --jinks-select-color: var(--jinks-menubar-color);
    --jinks-select-background-color: var(--jinks-menubar-background-color);

    --pb-login-link-color: var(--jinks-menubar-color);
    --pb-search-suggestions-color: var(--jinks-menubar-color);
    --pb-search-suggestions-background: var(--jinks-menubar-background-color);

    background-color: var(--jinks-menubar-background-color);
    background-image: none;
    color: var(--jinks-menubar-color);
    font-size: var(--jinks-menubar-font-size);
    padding-inline: 1.5rem;
}

.menubar .icon {
    color: var(--pico-color);
}

.menubar > ul > li > a:link,
.menubar > ul > li > a:visited {
    color: var(--jinks-menubar-color);
    background-color: var(--jinks-menubar-background-color);
    text-decoration: none;
}

.menubar pb-login::part(label) {
    display: none;
}

.menubar ul:nth-child(1) {
    gap: 2.5rem;
}

.menubar ul:nth-child(2) {
    gap: 10px;
}

.menubar li {
    padding: 0;
}

.menubar details a:link,
.menubar details a:visited,
.menubar details ul {
    color: var(--jinks-color-primary);
}

.menubar details.dropdown summary::after {
    height: 1rem;
}

.menubar details {
    --pico-form-element-background-color: var(--color-menu-bg);
    --pico-form-element-border-color: var(--color-menu-bg);
    --pico-form-element-focus-color: var(--color-menu-bg);
    --pico-form-element-placeholder-color: var(--pico-primary);
    --pico-form-element-active-background-color: var(--color-menu-bg);
    --pico-form-element-active-border-color: var(--color-menu-bg);
}

.menubar form {
    margin-bottom: 0;
}


.menubar button,
.menubar input[type="search"],
.menubar pb-search::part(input) {
    background-color: var(--jinks-menubar-button-color);
    color: var(--jinks-menubar-color);
    border: 1px solid transparent;
}

.menubar pb-search::part(input)::placeholder {
    color: #E1E1E1;
}

.menubar .dropdown {
    margin-bottom: 0;
}

.menubar .dropdown summary, .menubar .dropdown summary::after {
    color: var(--jinks-menubar-color);
}

.mobile.menu {
    display: none;
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    padding: 0 var(--pico-block-spacing-horizontal);
    background-color: var(--jinks-menubar-background-color);
    color: var(--jinks-menubar-color);
    z-index: 3;
}

.mobile.trigger:hover .mobile.menu {
    display: block;
}
