:root {
    --jinks-colors-700: #24211d;
    --jinks-colors-600: #2a2925;
    --jinks-colors-500: #62543a;
    --jinks-colors-400: #ddd5c0;
    --jinks-colors-300: #f1ede6;
    --jinks-colors-200: #fffcf8;
    --jinks-colors-100: #fffef9;
    --jinks-colors-50: #fffff9;

    --jinks-colors-light: #fcfcf8;
    --jinks-colors-grey: #5a5a5a;
    --jinks-colors-dark: #4c5f41;
    --jinks-colors-medium: #dbdbd0;
    --jinks-colors-accent: #ccb383;
    --jinks-colors-black-300: #737373;

    --jinks-colors-highlight: var(--jinks-colors-accent);
}
