:root {
    --jinks-colors-700: #2D2B26;
    --jinks-colors-600: #555041;
    --jinks-colors-500: #6F6B5D;   
    --jinks-colors-400: #CFCDC5;
    --jinks-colors-300: #DCDAD4;
    --jinks-colors-200: #F6F6F3;
    --jinks-colors-100: #FCFCF8;
    --jinks-colors-50: #FDFEFD;
    
    --jinks-colors-grey: #5A5A5A;
    --jinks-colors-dark: #4C5F41;
    --jinks-colors-medium: #DBDBD0;
    --jinks-colors-accent: #CFCDC5;
}