:root {
    --jinks-colors-700: #2d2b26;
    --jinks-colors-600: #555041;
    --jinks-colors-500: #6f6b5d;
    --jinks-colors-400: #cfcdc5;
    --jinks-colors-300: #dcdad4;
    --jinks-colors-200: #f6f6f3;
    --jinks-colors-100: #fcfcf8;
    --jinks-colors-50: #fefef9;

    --jinks-colors-light: #fcfcf8;
    --jinks-colors-grey: #5a5a5a;
    --jinks-colors-dark: #4c5f41;
    --jinks-colors-medium: #dbdbd0;
    --jinks-colors-accent: #cfcdc5;
    --jinks-colors-black-300: #737373;

    --jinks-colors-highlight: var(--jinks-colors-accent);
}
