:root {
    --jinks-colors-700: #0A2232;
    --jinks-colors-600: #143246;
    --jinks-colors-500: #1B3E55;
    --jinks-colors-400: #396C8D;
    --jinks-colors-300: #88A5B8;
    --jinks-colors-200: #C4E5FC;
    --jinks-colors-100: #DBEBF6;
    --jinks-colors-50: #ECF7FF;

    --jinks-colors-light: #FCFCF8;
    --jinks-colors-grey: #0A2232;
    --jinks-colors-dark: #143246;
    --jinks-colors-medium: #88A5B8;
    --jinks-colors-accent: #FD3131;

    --jinks-color-highlight: var(--jinks-colors-accent);
}
