/* .hero h1  to limit width of the hero title */

:root {

--jinks-hero-text-width-default: 50rem;


--jinks-base-font-family-default: 'Nunito Sans', 'Inter', 'Roboto', 'Noto', sans-serif;
--jinks-base-font-size-default: 16px;
--jinks-base-line-height-default: 1.42857143;
--jinks-base-font-weight-default: 300;
--jinks-base-font-default: var(--jinks-base-font-weight) var(--jinks-base-font-size)/var(--jinks-base-line-height) var(--jinks-base-font-family);

--jinks-serif-font-family-default: 'Roboto Serif', 'Inter', Junicode, Georgia, 'Times New Roman', serif;

--jinks-content-font-family: 'Roboto Serif', 'Inter', Junicode, Georgia, 'Times New Roman', serif;
--jinks-content-font-size-default: 20px;

--jinks-heading-font-family-default: 'Nunito Sans', Oswald, Verdana, Helvetica, sans-serif;
--jinks-heading-font-weight-default: 400 !important;
--jinks-heading-line-height-default: 1.2;
--jinks-breadcrumbs-font-size-default: 18px;

--jinks-menubar-font-size: var(--jinks-base-font-size);
--jinks-footnote-font-size: 13px;
--jinks-footnote-font-family: var(--jinks-content-font-family);
--jinks-footnote-font-weight: var(--jinks-content-font-weight);
--jinks-footnote-color: var(--jinks-text-color);
--jinks-popover-font-size: 16px;
--jinks-popover-line-height: 1.2;
--pb-link-font-family: var(--jinks-serif-font-family);
}