:root {
    --pb-content-font-family: var(--pb-base-font-family);
}

@media (min-width: 769px) {
    pb-view.content {
        max-width: 60vw;
    }
}

.fixed-layout {
    grid-template-columns: 420px 1fr;
    grid-template-rows: min-content auto 1fr auto;
    grid-template-areas: "header header" "toc breadcrumbs" "toc content" "toc footer";
}

.page-header {
    grid-area: header;
}

.breadcrumbs {
    grid-area: breadcrumbs;
    font-family: var(--pb-heading-font-family);
    font-size: var(--pb-base-font-size);
    --pb-view-max-width: auto;
}

.static .breadcrumbs {
    margin-left: 1rem;
}

pb-view.content, main.content {
    grid-area: content;
    grid-column: 2 / 2;
    overflow: auto;
    font-size: 20px;
    padding: 1rem 0 0 0;
    margin: 8px 16px;
}

footer {
    grid-area: footer;
    margin-top: 0;
    padding: .5rem;
    display: block;
    background-color: var(--pb-toolbar-background-color);
}

footer .nav-button.right {
    float: right;
}

footer .nav-button svg {
    height: 24px;
}

.toc {
    grid-area: toc;
    height: auto;
    overflow: auto;
    font-size: var(--pb-base-font-size);
    background-color: var(--pb-drawer-background-color);
}

.toc li pb-link {
    display: inline-block;
    font-family: var(--pb-base-font-family);
    --pb-link-font-family: var(--pb-base-font-family);
    margin-left: 0;
}

.toc li pb-link.active {
    --pb-link-color: #d07f00;
    --pb-link-text-decoration: underline;
}

.toc ul li {
    font-weight: bold;
    list-style: none;
}

.toc ul {
    margin: 0;
    padding: 0;
}

.static .toc {
    padding: 1rem;
}

.toc ul ul {
    margin-left: 0;
}

.toc ul ul li {
    font-weight: normal;
}

.toc ul ul {
    margin-left: 14px;
}