<template>
    ---json
    {
        "features": {
            "toolbar": {
                "enabled": false
            },
            "toc": {
                "enabled": false
            },
            "register": {
                "enabled": false
            },
            "metadata-editor": {
                "enabled": true
            },
            "upload": {
                "enabled": false
            }
        },
        "templating": {
            "extends": "templates/layouts/base.html",
            "modules": {
                "http://teipublisher.com/ns/templates/jinntap": {
                    "prefix": "jt",
                    "at": "modules/templates/jinntap.xqm"
                }
            }
        },
        "styles": [
            "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css",
            "resources/css/editor-styles.css"
        ],
        "theme": {
            "layout": {
                "after-width": "30vw"
            }
        },
        "script": {
            "extra-components": [
                "pb-odd-editor"
            ]
        },
        "menu": {
            "login": true
        }
    }
    ---
    [% template styles %]
    [% if $features?jinntap?version = "dev" %]
    <link rel="stylesheet" href="[[ $features?jinntap?cdn ]]/jinn-tap/jinn-tap.css" />
    [% else %]
    <link rel="stylesheet" href="[[ $features?jinntap?cdn ]]@[[ $features?jinntap?version ]]/dist/jinn-tap.css"/>
    [% endif %]
    [% endtemplate %]

    [% template scripts %]
    [% if $features?jinntap?version = "dev" %]
    <script type="module" src="[[ $features?jinntap?cdn ]]/jinn-tap/src/index.js"></script>
    [% else %]
    <script type="module" src="[[ $features?jinntap?cdn ]]@[[ $features?jinntap?version ]]/dist/index.es.js"></script>
    [% endif %]
    <script src="[[ $context-path ]]/resources/scripts/editor.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const doc = "[[ $context?doc?path ]]";
            const baseURI = "[[ $context-path ]]";

            initEditor(baseURI, doc);
        });
    </script>
    [% endtemplate %]

    [% template content-top %]
    <nav class="toolbar">
        <ul>
            <li>
                <nav aria-label="breadcrumb">
                    <ul>
                        <li>
                            <a href="[[ $context-path ]]/browse.html?collection=[[ browse:parent-link($context) ]]">
                                <pb-i18n key="breadcrumb.document-root">Documents</pb-i18n>
                            </a>
                        </li>
                        <li>
                            [[ $context?doc?path ]]
                        </li>
                    </ul>
                </nav>
            </li>
        </ul>

        <ul>
            [% block toolbar %][% endblock %]
        </ul>
    </nav>
    [% endtemplate %]

    [% template after %]
	[% block metadata-editor %][% endblock %]
    <div id="attributes-panel"></div>
    [% endtemplate %]

    <main>
        [% let $url = if (map:contains($context, 'doc')) then $context-path || "/api/document/" || $context?doc?path else () %]
        [% if ($features?collab?enable and $features?jinntap?schema) %]
        <jinn-tap url="[[ $url ]]" name="[[ $context?doc?path ]]" schema="[[ $context?features?jinntap?schema ]]"
                  token="[[ jt:jwt-token() ]]" server="[[ $features?collab?server ]]" sidebar="#attributes-panel">
            <img slot="aside" class="logo" src="https://cdn.jsdelivr.net/npm/@jinntec/jinntap@latest/dist/jinntap-logo-128.png" alt="JinnTap"/>
            <li slot="toolbar">
                <a href="#" class="saveBtn toolbar-button" data-tooltip="Save" data-placement="bottom">
                    <i class="bi bi-floppy"></i>
                </a>
            </li>
            <li slot="toolbar">
                <a href="#" class="copyBtn toolbar-button" data-tooltip="Copy TEI to clipboard" data-placement="bottom">
                    <i class="bi bi-clipboard-plus"></i>
                </a>
            </li>
        </jinn-tap>
        [% elif $features?collab?enable %]
        <jinn-tap url="[[ $url ]]" name="[[ $context?doc?path ]]"
                  token="[[ jt:jwt-token() ]]" server="[[ $features?collab?server ]]" sidebar="#attributes-panel">
            <img slot="aside" class="logo" src="https://cdn.jsdelivr.net/npm/@jinntec/jinntap@latest/dist/jinntap-logo-128.png" alt="JinnTap"/>
            <li slot="toolbar">
                <a href="#" class="saveBtn toolbar-button" data-tooltip="Save" data-placement="bottom">
                    <i class="bi bi-floppy"></i>
                </a>
            </li>
            <li slot="toolbar">
                <a href="#" class="copyBtn toolbar-button" data-tooltip="Copy TEI to clipboard" data-placement="bottom">
                    <i class="bi bi-clipboard-plus"></i>
                </a>
            </li>
        </jinn-tap>
        [% elif $features?jinntap?schema %]
        <jinn-tap url="[[ $url ]]" name="[[ $context?doc?path ]]" notes="disconnected" schema="[[ $context?features?jinntap?schema ]]" sidebar="#attributes-panel">
            <img slot="aside" class="logo" src="https://cdn.jsdelivr.net/npm/@jinntec/jinntap@latest/dist/jinntap-logo-128.png" alt="JinnTap"/>
            <li slot="toolbar">
                <a href="#" class="saveBtn toolbar-button" data-tooltip="Save" data-placement="bottom">
                    <i class="bi bi-floppy"></i>
                </a>
            </li>
            <li slot="toolbar">
                <a href="#" class="copyBtn toolbar-button" data-tooltip="Copy TEI to clipboard" data-placement="bottom">
                <i class="bi bi-clipboard-plus"></i>
                </a>
            </li>
        </jinn-tap>
        [% else %]
        <jinn-tap url="[[ $url ]]" name="[[ $context?doc?path ]]" notes="disconnected" sidebar="#attributes-panel">
            <img slot="aside" class="logo" src="https://cdn.jsdelivr.net/npm/@jinntec/jinntap@latest/dist/jinntap-logo-128.png" alt="JinnTap"/>
            <li slot="toolbar">
                <a href="#" class="saveBtn toolbar-button" data-tooltip="Save" data-placement="bottom">
                    <i class="bi bi-floppy"></i>
                </a>
            </li>
            <li slot="toolbar">
                <a href="#" class="copyBtn toolbar-button" data-tooltip="Copy TEI to clipboard" data-placement="bottom">
                    <i class="bi bi-clipboard-plus"></i>
                </a>
            </li>
        </jinn-tap>
        [% endif %]
        [% endlet %]
    </main>
    <jinn-toast></jinn-toast>
    <dialog id="saveDialog">
        <form action="">
            <article>
                <header>
                    <h3>New Document</h3>
                </header>
                <label for="docTitle">
                    Document Title
                    <input type="text" id="docTitle" name="docTitle" />
                </label>
                <label for="docName">
                    Document Name
                    <input type="text" id="docName" name="docName" />
                </label>
                <footer>
                    <button id="confirm">Confirm</button>
                    <button class="cancel">Cancel</button>
                </footer>
            </article>
        </form>
    </dialog>
</template>
