.thumbnail{
    width: 8em;
    height: 8em;
    width:8em;
    background-repeat: no-repeat ;
    background-position: center center;
    background-size: cover;
    box-shadow:2px 2px 4px rgba(33,33,33,0.5);
    position:relative;
}
.thumbnail img {
    border-radius:35px;
    border-color: #19232d;
    border-style: groove;
    box-shadow: 1px 1px 1px 1px  #19232d;
}

.thumbnail.monograph {
    background-image: url("../images/annie-spratt-iLEwA5UH8mE-unsplash.jpg");
}

.thumbnail.letters {
    background-image: url("../images/tolga-deniz-aran-YQdum4z_1dM-unsplash.jpg");
}

.attribution{
    position: absolute;
    bottom: 1rem;
    font-size: 0.6em;
    left: 0;
    color: blue;
    background: rgba(255,255,255,0.6);
    padding: 0 0.375em;
    border-top-left-radius: 0.25em;
}