<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
        <link rel="shortcut icon" type="image/x-icon" href="[[ $context-path ]]/resources/images/favicon.ico" />
        <link rel="shortcut icon" type="image/png" href="[[ $context-path ]]/resources/images/favicon-16.png" sizes="16x16" />
        <link rel="shortcut icon" type="image/png" href="[[ $context-path ]]/resources/images/favicon-24.png" sizes="24x24" />
        <link rel="shortcut icon" type="image/png" href="[[ $context-path ]]/resources/images/favicon-32.png" sizes="32x32" />
        <link rel="shortcut icon" type="image/png" href="[[ $context-path ]]/resources/images/favicon-64.png" sizes="64x64" />

        [% for $path in ($styles?*, $static?styles?*) %]
            [% if matches($path, "(?:^https?://|^/).*$") %]
            <link rel="stylesheet" href="[[ $path ]]" />
            [% else %]
            <link rel="stylesheet" href="[[ $context-path ]]/[[ $path ]]" />
            [% endif %]
        [% endfor %]

        <title>[[ $label ]]</title>
        
        [% if $menu?dark-mode %]
        <script src="[[ $context-path ]]/resources/scripts/dark.js"></script>
        [% endif %]
        [% if $script?webcomponents = 'dev' %]
        <script type="module" src="[[$script?cdn]]/src/pb-components-bundle.js"></script>
        [% for $component in $script?extra-components?* %]
        <script type="module" src="[[$script?cdn]]/src/[[ $component ]].js"></script>
        [% endfor %]
        [% elif $script?webcomponents = '' %]
        [% else %]
        <script type="module" src="[[$script?cdn]]@[[$script?webcomponents]]/dist/pb-components-bundle.js"></script>
        [% for $component in $script?extra-components?* %]
        <script type="module" src="[[$script?cdn]]@[[$script?webcomponents]]/dist/[[ $component ]].js"></script>
        [% endfor %]
        [% endif %]

        [% if $script?fore %]
        <script type="module" src="https://cdn.jsdelivr.net/npm/@jinntec/fore@[[ $script?fore ]]/dist/fore.js"></script>
        [% endif %]

        [% block scripts %][% endblock %]
    </head>
    <body>
        <pb-page endpoint="[[ $context-path ]]" app-root="[[ $context-path ]]" api-version="1.0.0" 
            supported-languages="[[ string-join(map:keys($languages), ', ') ]]"
            locales="[[ $context-path ]]/resources/i18n/{{ns}}/{{lng}}.json" 
            locale-fallback-ns="app [[ if (map:contains($context, 'i18n')) then string-join($context?i18n?*, ' ') else () ]]" 
            unresolved="unresolved">
            [% if $context?features?hero %]
            <div class="banner-spacer">
                <!-- Contains the banner image spanning header and hero -->
                <div></div>
            </div>
            [% endif %]
            <header class="page-header">
                <div>
                    [% if $features?menubar %]
                    [% include "templates/menu.html" %]
                    [% endif %]
                    [% if $features?toolbar %]
                    [% include "templates/static/templates/toolbar.html" %]
                    [% endif %]

                    [% block header %][% endblock %]
                </div>
            </header>
            [% block hero %][% endblock %]
            [[ if ($context?templating?strip-root) then $content/node() else $content ]]
            [% if $features?toc %]
            <pb-drawer toggle="tocToggle" class="toc" emit="toc" subscribe="transcription">
                <div class="drawer-content">
                    <h3>
                        <pb-i18n key="document.contents">Contents</pb-i18n>
                    </h3>
                    [[ 
                        replace(
                            serialize($context?table-of-contents, map { "method": "xml" }),
                            "&lt;!DOCTYPE[^&gt;]+&gt;", 
                            ""
                        )
                    ]]
                </div>
            </pb-drawer>
            [% endif %]
        </pb-page>
        <div class="splash"/>
        [% for $src in $context?script?custom?* %]
        <script src="[[ if (matches($src, '^https?://')) then $src else $context-path || '/' || $src ]]"></script>
        [% endfor %]
    </body>
</html>