<template>
---json
{
    "templating": {
        "extends": "templates/edep-base.html"
    },
    "script": {
        "custom": [
            "resources/scripts/edep-hints.js",
            "resources/scripts/zotero-autocomplete.js",
            "resources/scripts/util.js",
            "https://cdn.jsdelivr.net/npm/@jinntec/jinn-codemirror@1.19.0/dist/jinn-codemirror-bundle.js"
        ]
    },
    "styles": [
        "resources/css/zotero-autocomplete.css"
    ],
    "features": {
        "toolbar": {
            "navigation": false
        }
    }
}
---
[% template fore-prolog %]
    <fx-model>
        <fx-action event="model-construct-done">
            <fx-send submission="s-login" if="instance('vars')/loggedin != 'true'"></fx-send>
            <!-- ### if get called with an id param we load the data via submission ### -->
            <fx-send submission="s-load-inscription" if="string-length(instance('params')/id) != 0"></fx-send>
            <fx-setvalue ref="instance('vars')/inited">true</fx-setvalue>
        </fx-action>

        <fx-instance id="default" src="templates/fore/epidoc-template.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="i-fragment" xpath-default-namespace="http://www.tei-c.org/ns/1.0"></fx-instance>
        <!--
        <fx-submission id="s-load-template" method="get"
            url="[[ $context-path ]]/templates/fore/epidoc-template.xml" replace="instance" instance="i-fragment"
            validate="false">
            <fx-action event="submit-done">
                <fx-setvalue ref="instance('i-fragment')/@corresp"
                    value="instance('default')/@xml:id"></fx-setvalue>
                <fx-setvalue ref="instance('i-fragment')/@type" value="'partial'">partial</fx-setvalue>
                <fx-setvalue ref="instance('i-fragment')/@xml:id"
                    value="concat(instance('default')/@xml:id,'-')"></fx-setvalue>
            </fx-action>
        </fx-submission>
        -->
        <!-- <fx-instance id="i-fragments" type="json"></fx-instance> -->
        <fx-submission id="s-create-fragment"
            url="[[ $context-path ]]/api/fragment?collection={instance('params')/collection}" method="post"
            ref="instance('default')" replace="instance" instance="i-fragment">
            <fx-action event="submit-done">
                <fx-message><pb-i18n key="form.data-saved"></pb-i18n></fx-message>
                <fx-setvalue ref="instance('default')/@fragments"
                    value="concat(instance('default')/@fragments, ' ', instance('i-fragment')/@xml:id)"></fx-setvalue>
            </fx-action>
            <fx-action event="submit-error">
                <fx-message>
                    <pb-i18n key="form.save-failed"></pb-i18n>
                </fx-message>
                <fx-action src="resources/scripts/showErrors.js"></fx-action>
            </fx-action>
        </fx-submission>
        <fx-bind ref="instance('default')">
            <!-- Fragments are relevant if they are actually there and if this TEI is of type partial -->
            <fx-bind ref="@fragments" relevant="string() and not(../@type='partial')"></fx-bind>
            <fx-bind ref="@type" relevant=". = 'partial'"></fx-bind>
            <fx-bind ref="teiHeader">
                <fx-bind ref="fileDesc/titleStmt/title" required="true()" constraint="string-length(.) &gt; 0">
                </fx-bind>
                <fx-bind ref="fileDesc/sourceDesc/msDesc/history">
                    <fx-bind ref="provenance">
                        <fx-bind ref="./@when" constraint="checkDate(.)"></fx-bind>
                        <fx-bind ref="./@notBefore" constraint="checkDate(.)"></fx-bind>
                        <fx-bind ref="./@notAfter" constraint="checkDate(.)"></fx-bind>
                    </fx-bind>
                    <fx-bind ref="origin/origDate">
                        <fx-bind ref="./@when-custom" constraint="checkDate(.)"></fx-bind>
                        <fx-bind ref="./@notBefore-custom" constraint="checkDate(.)"></fx-bind>
                        <fx-bind ref="./@notAfter-custom" constraint="checkDate(.)"></fx-bind>
                    </fx-bind>
                </fx-bind>
            </fx-bind>
        </fx-bind>

        <fx-instance id="typeins" src="[[ $context-path ]]/data/taxonomy/typeins.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="objtyp" src="[[ $context-path ]]/data/taxonomy/objtyp.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="material" src="[[ $context-path ]]/data/taxonomy/material.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="paleography" src="[[ $context-path ]]/data/taxonomy/paleography.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="editor-roles" src="[[ $context-path ]]/data/taxonomy/editor-roles.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="language-options" src="[[ $context-path ]]/data/taxonomy/languages.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="language-scope" src="[[ $context-path ]]/data/taxonomy/language-scope.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="decoration" src="[[ $context-path ]]/data/taxonomy/decor.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="metre" src="[[ $context-path ]]/data/taxonomy/metre.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="ligature" src="[[ $context-path ]]/data/taxonomy/ligature.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="verification-options" src="[[ $context-path ]]/data/taxonomy/verification.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="publication-status" src="[[ $context-path ]]/data/taxonomy/publication-status.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="preservation" src="[[ $context-path ]]/data/taxonomy/preservation.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="religion" src="[[ $context-path ]]/data/taxonomy/religion.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="document-type" src="[[ $context-path ]]/data/taxonomy/document-type.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="templates" src="[[ $context-path ]]/templates/fore/templates.xml"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-instance id="vars" shared="true">
            <data>
                <appdir>[[ $context-path ]]</appdir>
                <display-leiden>hidden</display-leiden>
                <can-delete>false</can-delete>
                <parent></parent>
                <uuid></uuid>
                <geoid></geoid>
                <loggedin>hidden</loggedin>
                <xml-valid>true</xml-valid>
                <history-term></history-term>
                <geography-term></geography-term>
                <military-term></military-term>
                <language>en</language>
                <inited>false</inited>
                <is-fragment>false</is-fragment>
                <has-fragments>false</has-fragments>
                <is-partial>false</is-partial>
            </data>
        </fx-instance>
        <!-- todo: remove static readonly once new fragment functionality is completely done -->
        <fx-bind ref="instance('vars')/is-fragment" relevant="not(exists(instance('default')/@type))"
            readonly="true()"></fx-bind>
        <!-- drive fragment-nav visibility off these vars: empty-nodeset refs are not hidden by this Fore version -->
        <fx-bind ref="instance('vars')/has-fragments"
            relevant="string-length(instance('default')/@fragments) > 0 and not(instance('default')/@type='partial')"></fx-bind>
        <fx-bind ref="instance('vars')/is-partial" relevant="instance('default')/@type = 'partial'"></fx-bind>
        <!--<fx-bind ref="instance('vars')/can-delete" relevant="index('r-fragments') gt 1"></fx-bind>-->
        <fx-bind ref="instance('vars')/loggedin" relevant=".='true'"></fx-bind>
        <fx-bind ref="instance('vars')/xml-valid" calculate="editorsValid()" constraint=".='true'"></fx-bind>

        <fx-instance id="tmp">
            <data>
                <dummy>xpath?</dummy>
            </data>
        </fx-instance>

        <!-- this instance holds queryString params from the Url of this page -->
        <fx-instance id="params">
            <data>
                <id>[[ page:parameter($context, 'id') ]]</id>
                <collection>[[ page:parameter($context, 'collection') ]]</collection>
                <app>[[ page:parameter($context, 'app') ]]</app>
            </data>
        </fx-instance>

        <fx-submission id="s-load-inscription"
            url="[[ $context-path ]]/api/inscription?id={instance('params')/id}&amp;collection={instance('params')/collection}"
            method="get" replace="instance" validate="false">
            <fx-message event="submit-error">
                <pb-i18n key="loading-failed"></pb-i18n>
            </fx-message>

            <fx-action event="submit-done">
                <!--
                        ### initializing state for 30) 31) 32) dummy switches
                    -->
                <fx-setvalue ref="instance('vars')/history-term"
                    value="if(exists(instance('default')//term[@ref='#social-economic-legal-history'])) then 'true' else 'false'"></fx-setvalue>

                <fx-setvalue ref="instance('vars')/geography-term"
                    value="if(exists(instance('default')//term[@ref='#geography'])) then 'true' else 'false'"></fx-setvalue>

                <fx-setvalue ref="instance('vars')/military-term"
                    value="if(exists(instance('default')//term[@ref='#military'])) then 'true' else 'false'"></fx-setvalue>
            </fx-action>
        </fx-submission>

        <fx-submission id="s-create"
            url="[[ $context-path ]]/api/inscription?collection={instance('params')/collection}" method="post"
            replace="instance">
            <fx-message event="submit-done">
                <pb-i18n key="form.data-saved"></pb-i18n>
            </fx-message>
            <fx-action event="submit-error">
                <fx-message>
                    <pb-i18n key="form.save-failed"></pb-i18n>
                </fx-message>
                <fx-action src="resources/scripts/showErrors.js"></fx-action>
            </fx-action>
        </fx-submission>

        <fx-submission id="s-save"
            url="[[ $context-path ]]/api/inscription?id={instance('params')/id}&amp;collection={instance('params')/collection}"
            method="post" replace="instance">
            <fx-action event="submit-done">
                <fx-message><pb-i18n key="form.data-saved"></pb-i18n></fx-message>
                <fx-unmodified></fx-unmodified>
                <fx-call function="updateUrl(instance('default')/@xml:id)"
                    if="not(ends-with(uri-path(),'.xml'))"></fx-call>
            </fx-action>
            <fx-action event="submit-error">
                <fx-message>
                    <pb-i18n key="form.save-failed"></pb-i18n>
                </fx-message>
                <fx-action src="resources/scripts/showErrors.js"></fx-action>
            </fx-action>
        </fx-submission>

        <fx-function signature="gen-id() as xs:string" type="text/javascript">
            return createUUID();
        </fx-function>

        <fx-instance id="login" type="json">{}</fx-instance>
        <fx-submission id="s-login" ref="instance('login')?*" url="[[ $context-path ]]/api/login" method="post"
            replace="instance" instance="login" validate="false" serialization="none">
            <fx-setvalue ref="instance('vars')/loggedin" event="submit-error">false</fx-setvalue>
            <fx-setvalue ref="instance('vars')/loggedin" event="submit-done">true</fx-setvalue>
        </fx-submission>
        <fx-function signature="updateUrl($id as xs:string)" type="text/javascript">
            const url = new URL(window.location.href);
            url.pathname += $id + '.xml';
            history.pushState(null, '', url.toString());
        </fx-function>

        <fx-function signature="editorsValid() as xs:boolean" type="text/javascript">
            const editors =
            form.querySelectorAll('jinn-xml-editor[valid="false"],jinn-epidoc-editor[valid="false"]');
            if(editors.length !== 0){ return false; }else{ return true; }
        </fx-function>

        <fx-function signature="shortlang($input as xs:string,$default as xs:string) as xs:string"
            type="text/javascript">
            if($input) { return $input.substring(0, 2); } return $default;
        </fx-function>

        <fx-function signature="checkDate($value as xs:string) as xs:boolean" type="text/javascript">
            return checkDate($value);
        </fx-function>
        <fx-function signature="sortNames($terms as element()*) as element()*" type="text/xquery">
            let $lang := instance('vars')/language for $term in $terms order by
            $term/catDesc[@xml:lang = $lang] return $term
        </fx-function>
        <fx-function signature="sortLang($langs as element()*) as element()*" type="text/xquery">
            for $term in $langs order by $term return $term
        </fx-function>
        <fx-function signature="computeBiblId($bibls as element()*) as xs:string" type="text/xquery">
            max(( 0, for $bibl in $bibls/@xml:id where starts-with($bibl, 'bibl-') return
            xs:int(substring-after($bibl, 'bibl-')) )) + 1
        </fx-function>
        <fx-function signature="clipboard($value as xs:string) as xs:string" type="text/javascript">
            console.log($value); navigator.clipboard.writeText($value); return $value;
        </fx-function>
        <fx-function signature="scrollto($selector as xs:string) as xs:string" type="text/javascript">
            const found = document.querySelector($selector); if(found){
            found.scrollIntoView({block: "start", inline: "nearest", behavior:"smooth"}); }
        </fx-function>
    </fx-model>
    <fx-action event="pb-i18n-update" target="#document">
        <fx-setvalue ref="instance('vars')/language"
            value="shortlang(event('language'), instance('vars')/language/string())"></fx-setvalue>
        <fx-refresh force="force"></fx-refresh>
    </fx-action>

    <fx-var name="lang" value="instance('vars')/language"></fx-var>
[% endtemplate %]

[% template before %]
    <nav aria-labelledby="navigation">
        <!--                                <div id="navigation">Navigation</div>-->
        <ul>

            <!--
                        <li>
                            <a
                                href="{uri-path()}#object">
                                <pb-i18n key="form.object">Objekt</pb-i18n>
                            </a>
                            <button id="expander" onclick="expander()">&lt; &gt;</button>
                        </li>

        -->
            <!-- if corresp then partial document, otherwise, composite -->

            <li>
                <a href="{uri-path()}#object">
                    <pb-i18n key="form.identifier">Identifier</pb-i18n>
                </a>
                <!--                                                <input type="checkbox" id="object-checkbox" title="expand/collapse"/>-->
            </li>
            <li>
                <a href="{uri-path()}#findspot">
                    <pb-i18n key="form.finding"></pb-i18n>
                </a>
            </li>
            <li>
                <a href="{uri-path()}#location">
                    <pb-i18n key="form.last-recorded-location"></pb-i18n>
                </a>
                <!--                                                <input type="checkbox" id="location-checkbox" title="expand/collapse"/>-->
            </li>
            <li>
                <a href="{uri-path()}#verification">
                    <pb-i18n key="form.verification"></pb-i18n>
                </a>
                <!--                                                <input type="checkbox" id="verification-checkbox" title="expand/collapse"/>-->
            </li>
            <li>
                <a href="{uri-path()}#objectdesc">
                    <pb-i18n key="form.object-description"></pb-i18n>
                </a>
                <!--                                                <input type="checkbox" id="objectdesc-checkbox" title="expand/collapse"/>-->
            </li>
            <li>
                <a href="{uri-path()}#inscription-field">
                    <pb-i18n key="form.inscription-field"></pb-i18n>
                </a>
                <!--                                                <input type="checkbox" id="inscription-field-checkbox" title="expand/collapse"/>-->
            </li>
            <li>
                <a href="{uri-path()}#text-description">
                    <pb-i18n key="form.text-description"></pb-i18n>
                </a>
                <!--                                                <input type="checkbox" id="text-description-checkbox" title="expand/collapse"/>-->
            </li>
            <!-- <li>
                                    <a
                                        href="{uri-path()}#languages">
                                        <pb-i18n key="form.language"></pb-i18n>
                                    </a>
                                </li> -->
            <li>
                <a href="{uri-path()}#references">
                    <pb-i18n key="form.references"></pb-i18n>
                </a>
                <!-- <input type="checkbox" id="references-checkbox" title="expand/collapse"/> -->
            </li>

            <!-- <li>
                                    <a
                                        href="{uri-path()}#transmission">
                                        <pb-i18n key="form.transmission"></pb-i18n>
                                    </a>
                                </li> -->
            <!-- <li>
                                    <a
                                        href="{uri-path()}#prev-editions">
                                        <pb-i18n key="form.previous-editions"></pb-i18n>
                                    </a>
                                </li> -->
            <!-- <li>
                                    <a
                                        href="{uri-path()}#bibliography">
                                        <pb-i18n key="form.bibliography"></pb-i18n>
                                    </a>
                                </li> -->
            <!-- <li>
                                    <a
                                        href="{uri-path()}#images">
                                        <pb-i18n key="form.images-dps"></pb-i18n>
                                    </a>
                                </li> -->
            <!-- <li>
                                    <a
                                        href="{uri-path()}#pictures">
                                        <pb-i18n key="form.images"></pb-i18n>
                                    </a>
                                </li> -->
            <li>
                <a href="{uri-path()}#edition">
                    <pb-i18n key="form.edition">Textedition</pb-i18n>
                </a>
                <!--                                        <input type="checkbox" id="edition-checkbox" title="expand/collapse"/>-->
            </li>
            <li>
                <a href="{uri-path()}#commentary">
                    <pb-i18n key="form.commentary"></pb-i18n>
                </a>
                <!--                                        <input type="checkbox" id="commentary-checkbox" title="expand/collapse"/>-->
            </li>
            <li>
                <a href="{uri-path()}#dating">
                    <pb-i18n key="form.dating"></pb-i18n>
                </a>
                <!--                                                <input type="checkbox" id="dating-checkbox" title="expand/collapse"/>-->
            </li>
            <li>
                <a href="{uri-path()}#historic-relevance">
                    <pb-i18n key="form.historic-relevance"></pb-i18n>
                </a>
                <!--                                                <input type="checkbox" id="profileDesc-checkbox" title="expand/collapse"/>-->
            </li>
            <li>
                <a href="{uri-path()}#editor">
                    <pb-i18n key="form.editing"></pb-i18n>
                </a>
                <!--                                                <input type="checkbox" id="editor-checkbox" title="expand/collapse"/>-->
            </li>
            <!--
                            </ul>
                        </li>
        -->

            <!--
                        <li>
                            <button  onclick="expander()">&lt; &gt;<pb-i18n key="form.expand">Expand all sections</pb-i18n></button>
                        </li>
        -->
            <li class="nav-divider"></li>
            <li class="noflex">
                <fx-group ref="instance('vars')/has-fragments" class="neutral">
                    <fieldset id="fragment-fields">
                        <legend>
                            <pb-i18n key="form.fragments"></pb-i18n>
                        </legend>
                        <fx-repeat id="r-fragments" ref="tokenize(instance('default')/@fragments)"
                            aria-labelledby="r-fragments-label">
                            <template>
                                <a href="{uri-relpath()}{.}.xml" target="_blank">
                                    <fx-output ref="."></fx-output>
                                </a>
                            </template>
                        </fx-repeat>
                    </fieldset>
                </fx-group>

                <!-- show trigger only on composite/parent docs (no @type) -->
                <fx-group ref="instance('vars')/is-fragment">
                    <fx-trigger id="addFragment">
                        <button><pb-i18n key="form.add"></pb-i18n></button>
                        <fx-send submission="s-create-fragment"></fx-send>
                    </fx-trigger>
                </fx-group>

                <fx-group id="backlink" ref="instance('vars')/is-partial">
                    <a href="{concat(uri-relpath(),instance('default')/@corresp)}.xml" target="_blank">
                        <fx-output ref="instance('default')/@corresp"></fx-output>
                    </a>
                </fx-group>
            </li>
        </ul>
    </nav>
[% endtemplate %]

    <fx-group ref="teiHeader" aria-labelledby="title-lbl" class="outer-group">
        <h1 id="title-lbl">
            <fx-control id="edeptitle" class="title" ref="fileDesc/titleStmt/title">
                <label>
                    <pb-i18n key="form.title"></pb-i18n>
                </label>
            </fx-control>
        </h1>


        <!-- IDENTIFIERs -->
        [% include "templates/parts/object.html" %]

        <fx-group ref="fileDesc/sourceDesc/msDesc" id="inscription" class="neutral">

            <!-- FINDSPOT -->
            [% include "templates/parts/findspot.html" %]

            <!-- PRESENT LOCATION -->
            [% include "templates/parts/location.html" %]

            <!-- VERIFICATION -->
            [% include "templates/parts/verification.html" %]
        </fx-group>
        <fx-group ref="fileDesc/sourceDesc/msDesc" id="objdesc" class="neutral">
            <!-- OBJECT DESCRIPTION -->
            [% include "templates/parts/objectdesc.html" %]

            <!-- INSCRIPTION FIELD -->
            [% include "templates/parts/inscription-field.html" %]

            <!-- TEXT DESCRIPTION -->
            [% include "templates/parts/text-description.html" %]
        </fx-group>
        <!--
        <fx-group ref="profileDesc" class="outer-group" aria-labelledby="profile-lbl">
            <div
                id="languages"
                data-template="lib:include"
                data-template-path="templates/parts/languages.html"
                data-template-replace="true"></div>
        </fx-group> -->


        <!-- REFERENCES -->
        <fx-group id="references" class="references-background">
            <fx-group ref="fileDesc/sourceDesc/listBibl" class="outer-group">
                <h2>
                    <pb-i18n key="form.references" />
                                        <span class="form-hint-wrap">
                        <button type="button" class="hint-trigger" aria-label="Help">
                            <svg class="icon icon-info"><use href="#info-circle"></use></svg>
                        </button>
                        <div class="form-hint" popover="manual" role="tooltip">
                            <pb-i18n key="form.hint-references"></pb-i18n>
                        </div>
                    </span>
                </h2>


                [% include "templates/parts/transmission.html" %]

                [% include "templates/parts/prev-editions.html" %]
                [% include "templates/parts/bibliography.html" %]
                [% include "templates/parts/images.html" %]
            </fx-group>

            <!-- DIGITAL IMAGES -->
            <fx-group id="dig-images" class="neutral">
                [% include "templates/parts/pictures.html" %]
            </fx-group>
        </fx-group>
    </fx-group>

    <!-- edition here, splitting the binding group -->
    <!-- EDITION and COMMENTARY together as they are all stored in BODY -->
    <fx-group ref="text/body" class="outer-group">
        [% include "templates/parts/edition.html" %]

        <!--
            This won't call the update-cycle for each event as the replace action in its current form does not
            call it. The control will refresh the UI when the control looses focus (onblur).
        -->
        [% include "templates/parts/commentary.html" %]
    </fx-group>

    <fx-group ref="teiHeader" aria-labelledby="title-lbl" class="outer-group">
        <!-- DATING -->
        [% include "templates/parts/dating.html" %]

        <!-- HISTORIC RELEVANCE -->
        [% include "templates/parts/historic-relevance.html" %]

        <!-- EDITOR -->
        [% include "templates/parts/editor.html" %]
    </fx-group>

[% template toolbar %]
    <li>
        <pb-restricted login="login" group="tei">
            <p class="loginMessage" slot="fallback">You need to be logged in to save.</p>

            <fx-trigger class="saveBtn" debounce="1000">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy"
                        viewBox="0 0 16 16">
                        <path d="M11 2H9v3h2z" />
                        <path
                            d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                    </svg>
                    <span><pb-i18n key="form.save"></pb-i18n></span>
                </button>
                <fx-action if="not(exists(instance('params')/id))">
                    <fx-send submission="s-login"></fx-send>
                    <fx-send submission="s-create"></fx-send>
                </fx-action>
                <fx-action if="exists(instance('params')/id)">
                    <fx-send submission="s-login"></fx-send>
                    <fx-send submission="s-save"></fx-send>
                </fx-action>
            </fx-trigger>
        </pb-restricted>
    </li>
    <li>
        <fx-trigger>
            <a id="createNewDocument" class="btn" href="[[ $context-path ]]/edit/workspace/" data-tooltip="Create New Document"
                data-placement="left">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                    <path
                        d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5" />
                    <path
                        d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z" />
                </svg>
                <span><pb-i18n key="menu.new-inscription"></pb-i18n></span>
            </a>
        </fx-trigger>
    </li>
    <li>
        <fx-control ref="instance('vars')/xml-valid" class="valid-warning">
            <fx-alert>
                <pb-i18n key="form.invalid-data"></pb-i18n>
            </fx-alert>
            <input style="display: none" />
        </fx-control>
    </li>
[% endtemplate %]

[% template breadcrumb %]
<li>
    <fx-output ref="instance('default')//fileDesc/titleStmt/title"></fx-output>
</li>
[% endtemplate %]
</template>
