<template>
---json
{
    "templating": {
        "extends": "templates/edep-base.html"
    },
    "styles": [
        "resources/css/edep-theme.css"
    ],
    "features": {
        "forms": {
            "enabled": true
        }
    }
}
---
[% template styles %]
<style>
    [invalid] fx-alert {
        display: block;
    }
    fx-output#validator[valid] {
        display: none;
    }
    input.widget,
    select.widget {
        width: 20rem;
    }
    fx-control[required]::after,
    fx-control[required] > label::after {
        display: none;
    }
    .actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    #new-entry a {
        color: black;
        cursor: pointer;
        text-decoration: underline;
    }
    .reference-type {
        width: 10rem;
    }
    main {
        padding: 0 2rem;
    }
    fieldset > fieldset {
        margin: 2rem 1rem;
        width: auto;
    }
    .hint {
        margin-left: 1rem;
    }
</style>
[% endtemplate %]

[% template fore-prolog %]
    <fx-action event="ready" if="exists(instance('query')/id)">
        <fx-send submission="s-load"></fx-send>
        <fx-setfocus control="first" delay="300"></fx-setfocus>
    </fx-action>

    <fx-model>
        <fx-action event="model-construct-done">
            <fx-send submission="s-login"></fx-send>
            <fx-send submission="s-load" if="exists(instance('query')/id)"></fx-send>
        </fx-action>

        <fx-instance src="templates/fore/person-tmpl.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>
        <fx-bind
            ref="instance('default')/persName/name[@type = ('nomen', 'praenomen', 'god', 'cognomen', 'supernomen')]"
            required="let $c := . return empty(../name[@type = ('nomen', 'praenomen', 'god', 'cognomen', 'supernomen')][$c/@type != @type][string-length(.) > 0])">
        </fx-bind>

        <fx-instance id="tribus">
            <data>
                <tribus>Aelia</tribus>
                <tribus>Aemilia</tribus>
                <tribus>Arnensis</tribus>
                <tribus>Camilia</tribus>
                <tribus>Claudia</tribus>
                <tribus>Clustumina</tribus>
                <tribus>Collina</tribus>
                <tribus>Cornelia</tribus>
                <tribus>Esquilina</tribus>
                <tribus>Fabia</tribus>
                <tribus>Falerna</tribus>
                <tribus>Galeria</tribus>
                <tribus>Horatia</tribus>
                <tribus>Lemonia</tribus>
                <tribus>Maecia</tribus>
                <tribus>Menenia</tribus>
                <tribus>Oufentina</tribus>
                <tribus>Palatina</tribus>
                <tribus>Papiria</tribus>
                <tribus>Pollia</tribus>
                <tribus>Pomptina</tribus>
                <tribus>Publilia</tribus>
                <tribus>Pupinia</tribus>
                <tribus>Quirina</tribus>
                <tribus>Romilia</tribus>
                <tribus>Sabatina</tribus>
                <tribus>Scaptia</tribus>
                <tribus>Sergia</tribus>
                <tribus>Stellatina</tribus>
                <tribus>Suburana</tribus>
                <tribus>Sulpicia</tribus>
                <tribus>Teretina</tribus>
                <tribus>Tromentina</tribus>
                <tribus>Ulpia</tribus>
                <tribus>Velina</tribus>
                <tribus>Voltinia</tribus>
                <tribus>Voturia</tribus>
            </data>
        </fx-instance>
        <fx-instance id="status">
            <data>
                <item key="Herrscher / Herrscherhaus"></item>
                <item key="Senatorenstand"></item>
                <item key="Ritterstand"></item>
                <item key="Dekurionenstand"></item>
                <item key="höhere Gemeindeverwaltung"></item>
                <item key="subalterne Beamte"></item>
                <item key="Domänen- / niedere Gemeindeverwaltung"></item>
                <item key="Augustalen"></item>
                <item key="Freigelassene"></item>
                <item key="Sklaven"></item>
                <item key="Sonstige"></item>
            </data>
        </fx-instance>
        <fx-instance id="vars">
            <data>
                <loggedin>hidden</loggedin>
            </data>
        </fx-instance>
        <fx-bind ref="instance('vars')/loggedin" relevant=".='true'"></fx-bind>

        <fx-instance id="query" src="#querystring">
            <data></data>
        </fx-instance>

        <fx-submission id="s-save" method="post" url="[[ $context-path ]]/api/people/{instance('query')/id}" replace="instance">
            <fx-action event="submit-done">
                <fx-message>Person wurde gespeichert</fx-message>
                <fx-send submission="s-load"></fx-send>
            </fx-action>
            <fx-message event="submit-error">couldn't be saved</fx-message>
        </fx-submission>
        <fx-submission id="s-create" url="[[ $context-path ]]/api/people" method="post" replace="instance">
            <fx-action event="submit-done">
                <fx-message>Daten wurden gespeichert</fx-message>
            </fx-action>
            <fx-action event="submit-error">
                <fx-message>Daten konnten nicht gespeichert werden.</fx-message>
            </fx-action>
        </fx-submission>
        <fx-submission id="s-load" method="get" url="[[ $context-path ]]/api/people/{instance('query')/id}" replace="instance"
            validate="false"></fx-submission>
        <fx-submission id="s-reset" url="templates/fore/person-tmpl.xml" replace="instance">
        </fx-submission>

        <fx-instance id="login" type="json">{}</fx-instance>
        <fx-submission id="s-login" ref="instance('login')?*" url="[[ $context-path ]]/api/login" method="post" replace="instance"
            instance="login" validate="false">
            <fx-setvalue ref="instance('vars')/loggedin" event="submit-error">false</fx-setvalue>
            <fx-setvalue ref="instance('vars')/loggedin" event="submit-done">true</fx-setvalue>
        </fx-submission>
    </fx-model>
[% endtemplate %]

    <fx-output ref="instance('default')/@xml:id"></fx-output>
    <fieldset>
        <legend>Person</legend>
        <p class="hint"><pb-i18n key="form.hint-person-validation"></pb-i18n></p>
        <fx-control id="first" ref="persName/name[@type='god']">
            <label>
                <pb-i18n key="person.deity">Gott</pb-i18n>
            </label>
            <input type="text" autofocus="autofocus" class="widget" tabindex="1" />
        </fx-control>
        <fx-control ref="persName/name[@type='praenomen']">
            <label>Praenomen</label>
        </fx-control>
        <fx-control ref="persName/name[@type='nomen']">
            <label>Nomen Gentile</label>
        </fx-control>
        <fx-control ref="persName/name[@type='cognomen']">
            <label>Cognomen</label>
        </fx-control>
        <fx-control ref="persName/name[@type='supernomen']">
            <label>Supernomen</label>
        </fx-control>
        <fx-control ref="persName/name[@type='tribus']">
            <label>Tribus</label>
            <select ref="instance('tribus')/tribus" class="widget" selection="open">
                <template>
                    <option value="{.}">{.}</option>
                </template>
            </select>
        </fx-control>
        <fx-control ref="persName/name[@type='origo']">
            <label>Origo</label>
        </fx-control>
        <fx-control ref="@sex">
            <label>
                <pb-i18n key="person.sex"></pb-i18n>
            </label>
            <select class="widget">
                <option></option>
                <option value="M" selected="selected">
                    <pb-i18n key="person.male">Männlich</pb-i18n>
                </option>
                <option value="F">
                    <pb-i18n key="person.female">Weiblich</pb-i18n>
                </option>
            </select>
        </fx-control>
        <fx-control ref="state[@type='status']">
            <label>
                <pb-i18n key="person.status">Sozialer Status</pb-i18n>
            </label>
            <select class="widget" ref="instance('status')/item" selection="open">
                <template>
                    <option value="{@key}">{@key}</option>
                </template>
            </select>
        </fx-control>
        <fx-control ref="occupation">
            <label>
                <pb-i18n key="person.occupation">Beruf</pb-i18n>
            </label>
        </fx-control>

        <fieldset>
            <legend>
                <label>
                    <pb-i18n key="form.references">Referenzen</pb-i18n>
                </label>
                <fx-trigger class="add" title="Referenz hinzufügen">
                    <iron-icon icon="add-circle-outline" title="Referenz hinzufügen"></iron-icon>
                    <fx-insert context="." ref="idno"></fx-insert>
                    <fx-refresh control="r-idno"></fx-refresh>
                </fx-trigger>
            </legend>
            <fx-repeat ref="./idno" id="r-idno">
                <template>
                    <div class="inline-form">
                        <fx-control class="reference-type" ref="@type">
                            <label>
                                <pb-i18n key="person.work">Work</pb-i18n>
                            </label>
                            <select class="widget" selection="open">
                                <option value="pir">PIR</option>
                                <option value="plre">PLRE</option>
                                <option value="wikidata">Wikidata</option>
                            </select>
                        </fx-control>
                        <fx-control ref=".">
                            <label>
                                <pb-i18n key="form.idno"></pb-i18n>
                            </label>
                            <input />
                        </fx-control>
                    </div>
                </template>
            </fx-repeat>
        </fieldset>
    </fieldset>
[% template footer %]
    <footer>
        <pb-restricted login="login" group="tei">
            <p class="loginMessage" slot="fallback">You need to be logged in to edit.</p>
            <div class="actions">
                <fx-trigger id="save" class="saveBtn" debounce="1000">
                    <button type="submit">
                        <pb-i18n key="form.save">Save</pb-i18n>
                    </button>
                    <fx-action>
                        <fx-send submission="s-login"></fx-send>
                        <fx-send submission="s-create" if="not(exists(instance('query')/id))"></fx-send>
                        <fx-send submission="s-save" if="exists(instance('query')/id)"></fx-send>
                    </fx-action>
                </fx-trigger>
                <fx-trigger id="new-entry">
                    <a href="person">
                        <pb-i18n key="form.new">New</pb-i18n>
                    </a>
                </fx-trigger>
            </div>
        </pb-restricted>
        <a href="[[ $context-path ]]/people">
            <pb-i18n key="form.list"></pb-i18n>
        </a>
    </footer>
[% endtemplate %]
</template>
