<div class="container">
    ---json
    {
        "templating": {
            "extends": "static/templates/base.html"
        }
    }
    ---
    [% block scripts %]
        [% if $script?webcomponents = 'dev' %]
        <script type="module" src="[[$script?cdn]]/src/pb-leaflet-map.js"></script>
        [% elif $script?webcomponents = '' %]
        [% else %]
        <script type="module" src="[[$script?cdn]]@[[$script?webcomponents]]/dist/pb-leaflet-map.js"></script>
        [% endif %]
    [% endblock %]
    [% block breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/index.html">Letters</a></li>
                <li>[[ $parts?breadcrumb?content ]]</li>
            </ul>
        </nav>
    </li>
    [% endblock %]
    <main class="three-column">
        <div class="col1">
        [[ $parts?default?content ]]
        [[ $parts?default?footnotes ]]
        </div>
        <div class="col2">
            [[ $parts?translation?content ]]
            [[ $parts?translation?footnotes ]]
        </div>
        <div class="col3">
            [[ $parts?register?content ]]

            <pb-leaflet-map id="map" zoom="11" fit-markers="fit-markers">
                <pb-map-layer show="" base="" label="OpenTopo Map" url="https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png" max-zoom="19" attribution="© &lt;a href=&quot;https://www.openstreetmap.org/copyright&quot;>OpenStreetMap&lt;/a&gt; contributors"></pb-map-layer>
            </pb-leaflet-map>
        </div>
    </main>
</div>