<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/content.html"
        },
        "features": {
            "toc": false
        }
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/index.html?collection=[[ $request?parameters?collection ]]">Letters</a></li>
                <li>[[ $doc?transform($doc?content//*:titleStmt, map { "mode": "breadcrumb" }) ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
    <pb-view class="column1" src="document1" xpath="//text[@type = 'source']" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription"/>
    <pb-view class="column2" src="document1" xpath="//text[@type = 'translation']" subscribe="transcription" column-separator=".tei-cb" append-footnotes="append-footnotes"/>
</template>