.wit-info {
    font-family: monospace; 
    font-size: small;  
    text-align: right;
}

.alt-rdg {
    margin-top: 0.8em;
}

.primary-witness {
    font-size: larger;
}

.line {
    font-size: small;
    color: gray;
    margin-left: 0.5em;
}

.table-line {
    font-size: small;
    color: gray;
    text-align: right;
}

.app-entry {
    display: inline-grid; 
    margin-bottom: 2em;
    padding-left: 4px; 
    margin-left: 6px;
}

.app-entry p {
    margin: 0;
    padding: 0;
}

.apparatus {
    direction: rtl;
}

.h-f {
    color: green;
}

pb-popover a { 
    text-decoration: none; 
    color: inherit; 
    padding-left: 0.4em;
}

.versification {
    color:red;
}