<main>
    ---json
    {
        "templating": {
            "extends": "templates/base.html"
        },
        "features": {
            "toc": false
        },
        "script": {
            "extra-components": [
                "pb-leaflet-map"
            ]
        }
    }
    ---
    [% block breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/index.html?collection=[[ $request?parameters?collection ]]">Letters</a></li>
                <li>[[ $doc?transform-with($doc?content//*:titleStmt, map { "mode": "breadcrumb" }, "serafin.odd") ]]</li>
            </ul>
        </nav>
    </li>
    [% endblock %]
    <pb-document id="document1" path="[[ $doc?path ]]" odd="[[ $doc?odd ]]" view="[[ $doc?view ]]"
        root-path="[[ $config:data-root ]]"/>
    <div class="three-column">
        <pb-view class="col1" src="document1" xpath="! (.//text[@xml:lang = 'la']/body | .//text/body)[1]" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription"/>
        <pb-view class="col2" src="document1" xpath="//text[@xml:lang='pl']/body" subscribe="transcription" column-separator=".tei-cb" append-footnotes="append-footnotes"/>
        <aside class="col3">
            <pb-view class="col3" src="document1" subscribe="transcription" view="div">
                <pb-param name="mode" value="register"/>
            </pb-view>
            <pb-leaflet-map id="map" zoom="11">
                <pb-map-layer show="" base="" label="OpenTopo Map" url="https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png" max-zoom="19" attribution="© &lt;a href=&quot;https://www.openstreetmap.org/copyright&quot;>OpenStreetMap&lt;/a&gt; contributors"></pb-map-layer>
            </pb-leaflet-map>
        </aside>
    </div>
</main>