@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap');

:root {
    --pico-font-family-sans-serif: 'Poppins', sans-serif;
    /* --pico-font-size: 16px; */
    --pico-line-height: 140%;
    --Gray-1: #333333;
    --Gray-2: #4F4F4F;
    --Gray-3: #828282;
    --dark-Gray-1: #efefef;
    --dark-Gray-2: #cfcfcf;
    --dark-Gray-3: #bfbfbf;

    --logo: url("../images/tei-publisher-logo-color.svg");
    --page-header-background-color: rgba(255, 255, 255, 0.8);
    --color-grey-1: var(--Gray-1);
    --color-grey-2: var(--Gray-2);
    --color-grey-3: var(--Gray-3);
}

@media only screen and (prefers-color-scheme: dark) {
    body:not([data-theme]) {
        --color-grey-1: var(--dark-Gray-1);
        --color-grey-2: var(--dark-Gray-2);
        --color-grey-3: var(--dark-Gray-3);
        --logo: url("../images/tei-publisher-logo-contrast-color.svg");
        --page-header-background-color: rgba(0, 0, 0, 0.6);
    }
}

[data-theme="dark"] {
    --color-grey-1: var(--dark-Gray-1);
    --color-grey-2: var(--dark-Gray-2);
    --color-grey-3: var(--dark-Gray-3);
    --logo: url("../images/tei-publisher-logo-contrast-color.svg");
    --page-header-background-color: rgba(0, 0, 0, 0.6);
}

body {
    --pb-lang-input-color: var(--pico-color);
    --pb-lang-label-color: var(--pico-color);
    background-color: var(--pico-background-color);
}

@media (max-width: 1023px) {
    .hidden-mobile {
        display: none;
    }
}
@media (min-width: 1024px) {
    .mobile {
        display: none;
    }
}

.page-header {
    width: 100vw;
    height: 37.5rem;
    margin-bottom: 2rem;
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.page-header > div {
    height: 100%;
    width: 100%;
    background-color: var(--page-header-background-color);
}

.logo {
    width: 180px;
    height: 64px;
    background-image: var(--logo);
    background-size: 100% auto;
    margin-right: 1rem;
}

.hero, .menubar, main, footer {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 var(--pico-spacing);
}

.hero {
    margin-top: 10rem;
}

.hero h1 {
    text-transform: uppercase;
}

.hero h1, .hero p {
    max-width: 50rem;
}

@media (max-width: 1023px) {
    .hero {
        margin-top: 4rem;
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
footer a {
    width: 128px;
}