@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap');

@import url("variables.css");

html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

:root {
    --pico-font-family-sans-serif: var(--pb-font-family-sans-serif);
    --pico-font-size: var(--pb-font-size, var(--pico-font-size));
    --pico-line-height: var(--pb-line-height);

    --pb-color: var(--pb-color-light, var(--pico-color));
    --pb-logo: var(--pb-logo-light);

    --pb-color-grey-1: var(--pb-light-grey-1);
    --pb-color-grey-2: var(--pb-light-grey-2);
    --pb-color-grey-3: var(--pb-light-grey-3);
}

[data-theme="dark"] {
    --pb-color: var(--pb-color-dark, var(--pico-color));
    --pb-color-grey-1: var(--pb-dark-grey-1);
    --pb-color-grey-2: var(--pb-dark-grey-2);
    --pb-color-grey-3: var(--pb-dark-grey-3);
    --pb-logo: var(--pb-logo-dark);
    --jinks-header-background-color: var(--jinks-header-background-color-dark);
}

body {
    --pb-lang-input-color: var(--pb-color);
    --pb-lang-label-color: var(--pb-color);
    background-color: var(--pico-background-color);
}

@media (max-width: 1023px) {
    .hidden-mobile {
        display: none;
    }
}
@media (min-width: 1024px) {
    .mobile {
        display: none;
    }
}

pb-page {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.page-header {
    position: sticky;
    top: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100vw;
    background-image: var(--jinks-header-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* This element contains the background covering both, page header and hero */
.banner-spacer {
    height: 100vh;
    /* Span from the first to the last grid column line */
    /* (Negative numbers count from the end of the grid) */
    grid-column: 1 / -1;
    /* Start at the first grid row line, and take up 2 rows */
    grid-row: 1 / span 2;
    background-image: var(--jinks-header-background);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-spacer div {
    background-color: var(--jinks-header-background-color);
    height: 100%;
}

.banner-spacer ~ .page-header {
    background-image: none;
}

/* As soon as the hero moves out of the viewport, the page header gets a fixed background */
.banner-spacer.not-visible ~ .page-header {
    background-image: var(--jinks-header-background);
}

.banner-spacer.not-visible ~ .page-header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--jinks-header-background-color);
    z-index: -1;
}

.hero, main, footer {
    max-width: var(--pb-content-max-width);
    margin: 0 auto;
    padding: 0 var(--pico-spacing);
}

main {
    margin-top: 2rem;
}

/* hero covers 100% of the viewport height */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 2;
    margin-bottom: 1rem;
    height: 100%;
}

.logo {
    width: 180px;
    height: 64px;
    background-image: var(--pb-logo);
    background-size: 100% auto;
    margin-right: 1rem;
}

.theme-toggle svg {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.menubar a:link, .menubar a:visited {
    color: var(--pb-color-grey-1);
    text-decoration: none;
}

.hero h1 {
    text-transform: uppercase;
}

.hero h1, .hero p {
    max-width: 50rem;
}

@media (max-width: 1023px) {
    .hero {
        margin-top: 4rem;
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
}
footer a {
    width: 128px;
}