:root {
    --tp-font-family-sans-serif: 'Poppins', sans-serif;
    --tp-font-size: 16px;

    --tp-line-height: 140%;
    --tp-content-max-width: 70rem;

    --tp-color-light: #333333;
    --tp-color-dark: white;

    --tp-light-grey-1: #333333;
    --tp-light-grey-2: #4F4F4F;
    --tp-light-grey-3: #828282;
    --tp-dark-grey-1: #efefef;
    --tp-dark-grey-2: #cfcfcf;
    --tp-dark-grey-3: #bfbfbf;

    --tp-logo-light: url("../images/tei-publisher-logo-color.svg");
    --tp-logo-dark: url("../images/tei-publisher-logo-contrast-color.svg");

    --tp-header-background-image: url("../images/header-bg.jpg");
    --tp-header-background-color-light: rgba(255, 255, 255, 0.8);
    --tp-header-background-color-dark: rgba(0, 0, 0, 0.6);
}