:root {
    --pb-font-family-sans-serif: 'Poppins', sans-serif;
    --pb-font-size: 16px;

    --pb-line-height: 140%;
    --pb-content-max-width: 70rem;

    --pb-color-light: #333333;
    --pb-color-dark: white;

    --pb-light-grey-1: #333333;
    --pb-light-grey-2: #4F4F4F;
    --pb-light-grey-3: #828282;
    --pb-dark-grey-1: #efefef;
    --pb-dark-grey-2: #cfcfcf;
    --pb-dark-grey-3: #bfbfbf;

    --pb-logo-light: url("../images/tei-publisher-logo-color.svg");
    --pb-logo-dark: url("../images/tei-publisher-logo-contrast-color.svg");
}