<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/content.html"
        },
        "layout": "sticky-layout",
        "urls": {
            "ignore": "selectors"
        },
        "toolbar": {
            "navigation": false
        }
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/browse.html?collection=[[ browse:parent-link($context) ]]">Documents</a></li>
                <li>[[ $doc?transform-with($doc?content//tei:teiHeader/tei:fileDesc/tei:titleStmt/tei:title, map {  }, "docx-output.odd") ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
    <pb-navigation class="floating-button left" emit="transcription" keyboard="left"
        subscribe="transcription" direction="backward" unit="page">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
    </pb-navigation>
    <pb-view class="content" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription"/>
    <pb-navigation class="floating-button right" emit="transcription" keyboard="right"
        subscribe="transcription" direction="forward" unit="page">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
    </pb-navigation>
</template>