<template>
    [% template after %]
        [% if exists($context?doc) and $context?features?metadata?enabled %]
        [% if $context?theme?layout?after?mode = 'tabs' %]
            <div class="tab-panel">
                <span class="tab-title"><pb-i18n key="tabs.metadata">Metadata</pb-i18n></span>
                <div class="metadata-panel">
                    <h2>
                        <pb-i18n key="odd.metadata"/>
                    </h2>
                    <pb-view src="document1" subscribe="transcription" view="single" disable-history="">
                        <pb-param name="mode" value="metadata-panel"/>
                    </pb-view>
                </div>
            </div>
        [% else %]
            <div class="metadata-panel">
                <h2>
                    <pb-i18n key="tabs.metadata"/>
                </h2>
                <pb-view src="document1" subscribe="transcription" view="single" disable-history="">
                    <pb-param name="mode" value="metadata-panel"/>
                </pb-view>
            </div>
        [% endif %]
        [% endif %]
    [% endtemplate %]
</template>
