<main class="three-column">
    ---json
    {
        "templating": {
            "extends": "templates/static/templates/base.html"
        },
        "script": {
            "extra-components": [
                "pb-leaflet-map"
            ]
        },
        "features": {
            "toc": false
        }
    }
    ---
    [% block breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/1/index.html">Letters</a></li>
                <li>[[ $parts?breadcrumb?content ]]</li>
            </ul>
        </nav>
    </li>
    [% endblock %]
    <div class="col1">
    [[ $parts?metadata?content ]]
    [[ $parts?default?content ]]
    [[ $parts?default?footnotes ]]
    </div>
    <div class="col2">
        [[ $parts?translation?content ]]
        [[ $parts?translation?footnotes ]]
    </div>
    <div class="col3">
        [[ $parts?register?content ]]

        <pb-leaflet-map id="map" zoom="11" fit-markers="fit-markers">
            <pb-map-layer show="" base="" label="OpenTopo Map" url="https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png" max-zoom="19" attribution="© &lt;a href=&quot;https://www.openstreetmap.org/copyright&quot;>OpenStreetMap&lt;/a&gt; contributors"></pb-map-layer>
        </pb-leaflet-map>
    </div>
</main>