[aria-label=breadcrumb] .content {
    font-size: var(--pb-base-font-size);
}

.static main {
    column-gap: 2rem;
}

.content a[rel="footnote"] {
    font-size: var(--pb-footnote-font-size, var(--pb-content-font-size, 75%));
    font-family: var(--pb-footnote-font-family, var(--pb-content-font-family));
    vertical-align: super;
    color: var(--pb-footnote-color, var(--jinks-color-primary, #333333));
    text-decoration: none;
    padding: var(--pb-footnote-padding, 0 0 0 .25em);
}

.footnote .fn-number {
    float: left;
    font-size: var(--pb-footnote-font-size, var(--pb-content-font-size, 75%));
}

.content, .footnotes {
    font-family: var(--pb-content-font-family);
    font-size: var(--pb-content-font-size);
    max-width: var(--pb-view-max-width);
}

.footnotes {
    font-size: 0.875em;
}

.grid.nav {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 2rem;
}

pb-geolocation svg {
    width: 16px;
}