.correspondence {
    width: 100%;
}

.correspondence::part(content) {
    margin: 0;
    padding: 0;
}

.correspContext pb-link[path$="/"] {
    display: inline-block;
    opacity: 0.3;
    pointer-events: none;
}
