<div class="about">   
    <p>
        The Jagiellonian Digital Platform is designed as a working environment for creating
        and publishing of digital scholarly editions. The editions within the Platform meet the
        varied needs of several humanities disciplines (literary studies, linguistics, history).
        The Platform builds on what is common and at the same time provides the possibility
        of customisation to the requirements of editors and the needs of readers and users.
        The platform follows the international standard for the encoding of textual data, TEI,
        and bases its visualisations on TEI Publisher. As a result, it enables publication of
        different types of editions: from the basic presentation of texts and documents in
        digital form to the most complex scholarly editions. There is room for various forms of
        textual delivery (transcriptions, translations, facsimiles) and annotations.
        Tools and working environment are not enough. To best serve the needs of editors, a
        consistent and efficient process for creating and publishing digital scholarly editions is
        needed. The project is developing such a process. It includes sets of good practices
        and workflows and takes into account both how scholarly editors work and how IT
        specialists, responsible for the technical side of editions, complete their tasks.
    </p>     
    <p>
        The project also aims to educate about digital editions, and the Platform showcases a
        selection of student projects created as part of teaching.
        The Jagiellonian Digital Platform is a part of the Flagship Project 
        <a href="https://dhlab.id.uj.edu.pl" target="_blank">Digital Humanities
        Lab</a> and cooperates with the <a href="https://www.uj.edu.pl/web/jchc" target="_blank">Jagiellonian
        Centre for Digital Humanities</a>.
    </p>     
</div>