<footer class="bottom menubar">
    <a>Privacy policy</a>
    <pb-popover theme="light">
        <span slot="default">
            <a>Credits</a>
        </span>
        <template slot="alternate">
            <div>
                <h3>
                    Image credits:
                </h3>
                <p>
                    Hero image: <a href="https://commons.wikimedia.org/wiki/File:Generative_art_mael_tsang.jpg">Gwendal Tsang</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons
                </p>
                <p>
                    <a href="https://pixabay.com/users/artisticace7-36392172/?utm_content=8333972">Amir Hossain</a>, <a href="https://pixabay.com/service/license-summary/">Pixabay Content License</a>, via <a href="https://pixabay.com/illustrations/ai-generated-geometric-pattern-8333972/">Pixabay</a>
                </p>
                <p>
                    <a href="https://pixabay.com/users/pachecoytalo-23214455">Italo Pacheco</a>, <a href="https://pixabay.com/service/license-summary//?utm_content=8671852">Pixabay Content License</a>, via <a href="https://pixabay.com/illustrations/ai-generated-geometric-abstract-8671852/">Pixabay</a>
                </p>
            </div>
        </template>
    </pb-popover>
    <pb-popover theme="light">
        <span slot="default">
            <a>Cookies</a>
        </span>
        <template slot="alternate">
            <p>
                This website is only using necessary cookies. Consent is not required.
            </p>
        </template>
    </pb-popover>
    <a>Copyright</a>
</footer>