<footer>
    <div class="center-l">
        <div class="logo">
            <a href="#">
                <img src="resources/images/logo.svg" />
            </a>
        </div>
        <a class="license" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                <use href="resources/images/cc-icons.svg#cc-logo" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                <use href="resources/images/cc-icons.svg#cc-by" />
            </svg>
        </a>
    </div>
</footer>
