<footer>
    <div class="center-l row thirds">
        <div class="logo">
            <a href="#">
                <img src="resources/images/logo.svg"/>
            </a>
        </div>

        <ul class="link-group link-group-horizontal">
            <li><pb-i18n key="landing.cite"></pb-i18n></li>
            <li><pb-i18n key="landing.credits"></pb-i18n></li>
            <li><pb-i18n key="landing.about"></pb-i18n></li>
            <li><pb-i18n key="landing.team"></pb-i18n></li>
        </ul>

        <a class="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            <img src="resources/images/cc.svg"/><img src="resources/images/by.svg"/><img src="resources/images/sa.svg"/>
        </a>
    </div>
</footer>