<div class="slides highlights">
    <article>
        <a href="browse.html">
            <h2><pb-i18n key="landing.corpus"/></h2>
            <p>
                <pb-i18n key="landing.corpus-info"/> 
                <img src="resources/images/arrow-right.svg"/>
            </p> 
        </a>
    </article>
    <article>
        <a href="places">
            <h2><pb-i18n key="landing.register"/></h2>
            <p>
                <pb-i18n key="landing.register-info"/> 
                <img src="resources/images/arrow-right.svg"/>
            </p> 
        </a>
    </article>
    <article>
        <a href="howto">
            <h2><pb-i18n key="landing.howto"/></h2>
            <p>
                <pb-i18n key="landing.howto-info"/> 
                <img src="resources/images/arrow-right.svg"/>
            </p> 
        </a>
    </article>
</div>