<div class="highlights">
    <article class="highlight">
        <a href="browse.html">
            <h2><pb-i18n key="landing.corpus"/></h2>
            <p>
                <pb-i18n key="landing.corpus-info"/> 
            </p> 
        </a>
    </article>
    <article class="highlight">
        <a href="places">
            <h2><pb-i18n key="landing.register"/></h2>
            <p>
                <pb-i18n key="landing.register-info"/> 
            </p> 
        </a>
    </article>
    <article class="highlight">
        <a href="howto">
            <h2><pb-i18n key="landing.howto"/></h2>
            <p class="highlight--read-more">
                <pb-i18n key="landing.howto-info"/> 
            </p>
        </a>
    </article>
</div>