<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/base.html"
        },
        "features": {
            "toolbar": {
                "enabled": false
            }
        },
        "styles": [
            "resources/css/landing-page.css"
        ],
        "script": {
            "custom": [
                "resources/scripts/language.js"
            ]
        },
        "theme": {
            "layout": {
                "class": "landing-layout"
            }
        }
    }
    ---
    [% template styles %]
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet"/> -->
    [% endtemplate %]

    [% template hero %]
    <header class="hero">
        [% let $doc = config:get-document("landing/landing.xml") %]
        [[ page:transform($doc//tei:div[@type='hero'], (), "landing.odd") ]]
        [% endlet %]

            <!--h1><pb-i18n key="hero.main"/> <strong><pb-i18n key="hero.main2"/></strong></h1>
            <p>
                <pb-i18n key="hero.sub"></pb-i18n><br/>
                <a class="explore-link" href="[[ $context?defaults?browse ]]"><pb-i18n key="hero.explore"></pb-i18n></a>
            </p-->
    </header>
    [% endtemplate %]

    [% let $doc = config:get-document("landing/landing.xml") %]
    <section id="about"><!-- control bleed / transparent by default -->
    [[ page:transform($doc//tei:div[@type='about'], (), "landing.odd") ]]
    </section>
    
    [% include "templates/sections/highlights.html" %]
    [% include "templates/sections/team.html" %]
    
    <section class="section-dark">
        [[ page:transform($doc//tei:div[@type='section'], (), "landing.odd") ]]
    </section>
    [% endlet %]

    [% include "templates/sections/partners.html" %]
    [% include "templates/sections/bottom.html" %]

    [% include "templates/footer.html" %]
</template>