<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/base.html"
        },
        "features": {
            "toolbar": {
                "enabled": false
            }
        },
        "styles": [
            "resources/css/landing-page.css", "transform/teipublisher.css"
        ],
        "script": {
            "custom": [
                "resources/scripts/language.js"
            ]
        },
        "theme": {
            "layout": {
                "class": "landing-layout"
            }
        }
    }
    ---
    [% template styles %]
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet"/> -->
    [% endtemplate %]

    [% template hero %]
    <header class="hero">
        [% let $doc = config:get-document("landing/landing.xml") %]
        [[ landing:section($context, 'hero', $doc) ]]
        [% endlet %]
    </header>
    [% endtemplate %]

    [% let $doc = config:get-document("landing/landing.xml") %]
    <section id="about"><!-- control bleed / transparent by default -->
    [[ landing:section($context, 'about', $doc, 'landing.odd') ]]
    </section>
    
    <section id="highlights" class="section-highlight">
        [[ landing:section($context, 'highlights', $doc, 'landing.odd') ]]
    </section>

    <section id="team" class="section-light">
        [[ landing:section($context, 'team', $doc, 'landing.odd') ]]
    </section>

    <section class="section-dark">
        [[ landing:section($context, 'section', $doc, 'landing.odd') ]]
    </section>
    
    <section id="project-partners" class="section-light">
        [[ landing:section($context, 'partners', $doc, 'landing.odd') ]]
    </section>
    [% endlet %]
    
    [% include "templates/bottom.html" %]

    [% include "templates/footer.html" %]
</template>