<div class="info">
    <article id="project">
        <h2><pb-i18n key="menu.project"/></h2>
        <p>Laboratorium Edytorstwa Cyfrowego (LabEdyt) i Jagiellońska Platforma Cyfrowa są
            częścią Projektu Flagowego <a href="https://dhlab.id.uj.edu.pl" target="_blank">Digital Humanities Lab</a> realizowanego w ramach Programu Strategicznego
            Inicjatywa Doskonałości w Uniwersytecie Jagiellońskim.</p>
    </article>
    <article id="contact">
        <h2><pb-i18n key="menu.contact"/></h2>
        <p>Zapraszamy do kontaktu osoby oraz instytucje zainteresowane współpracą przy
                publikowaniu edycji cyfrowych.</p>
        <p><iron-icon icon="icons:mail"/> <a href="mailto:magdalena.1.komorowska@uj.edu.pl">magdalena.1.komorowska@uj.edu.pl</a></p>
    </article>
</div>