<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/base.html"
        },
        "layout": "sticky-layout",
        "features": {
            "toolbar": false
        },
        "styles": [
            "resources/css/landing-page.css"
        ],
        "script": {
            "custom": [
                "resources/scripts/language.js"
            ]
        }
    }
    ---
    [% template styles %]
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet"/>
    [% endtemplate %]

    [% template hero %]
    <div class="hero">
        <h1><pb-i18n key="hero.jdp"/></h1>
        <p><pb-i18n key="hero.sub"/></p>
        <a href="#editions"><pb-i18n key="hero.see"/></a>
    </div>
    [% endtemplate %]

    <main>
        <div class="container">
            <section id="editions">
                <header>
                    <h1><pb-i18n key="menu.collections"/></h1>
                </header>
                [% include "templates/editions." || $request?parameters?lang || ".html" %]
            </section>

            <section id="about">
                <header>
                    <h1><pb-i18n key="menu.about"/></h1>
                </header>
                <div class="grid">
                    [% include "templates/about." || $request?parameters?lang || ".html" %]
                    <div class="bg-transparent"><span></span></div>
                </div>
            </section>

            <section id="team">
                <header>
                    <h1><pb-i18n key="menu.team"/></h1>
                </header>
                [% include "templates/team." || $request?parameters?lang || ".html" %]
            </section>
            <section id="partners">
                <header>
                    <h1><pb-i18n key="menu.partners"/></h1>
                </header>
                [% include "templates/footer.html" %]
            </section>
            <section id="info">
                [% include "templates/info." || $request?parameters?lang || ".html" %]
            </section> 
        </div>
    </main>
    [% include "templates/bottom.html" %]
</template>