<div class="partner-logos">
    <a class="partner-logo" href="https://jinntec.de" target="_blank"><img src="resources/images/jinntec.svg"/></a>
    <a class="partner-logo" href="https://e-editiones.org" target="_blank"><img src="resources/images/e-editiones-logo-color.svg"/></a>
    <a class="partner-logo" href="https://tei-c.org" target="_blank"><img src="resources/images/tei-dark.png"/></a>
    <a class="partner-logo" href="https://teipublisher.org" target="_blank"><img src="resources/images/tei-publisher-logo-color.svg"/></a>
</div>
