<ul class="team">
    <li>
        <h3>e-editiones</h3>
        <img src="resources/images/team/wolfgang.jpg" alt="Wolfgang Meier" />
        <h2>Wolfgang Meier</h2>
        <p>System architect</p>
        <pb-markdown url="api/document/auxiliary/team/wolfgang.md" />
    </li>
    <li>
        <h3>e-editiones</h3>
        <img src="resources/images/team/magdalena.png" alt="Magdalena Turska" />
        <h2>Magdalena Turska</h2>
        <p>System architect</p>
        <pb-markdown url="api/document/auxiliary/team/magdalena.md" />
    </li>
    <li>
        <h3>JinnTec</h3>
        <img src="resources/images/team/helena.jpeg" alt="Helena Bermudez Sabel" />
        <h2>Helena Bermudez Sabel</h2>
        <p>Head of Digital Editions</p>
        <pb-markdown url="api/document/auxiliary/team/helena.md" />
    </li>
    <li>
        <h3>JinnTec</h3>
        <img src="resources/images/team/lars.jpg" alt="Lars Windauer as a child" />
        <h2>Lars Windauer</h2>
        <p>Project director</p>
        <pb-markdown url="api/document/auxiliary/team/lars.md" />
    </li>
    <li>
        <h3>JinnTec</h3>
        <img src="resources/images/team/julia.jpeg" alt="Julia Peshkova" />
        <h2>Julia Peshkova</h2>
        <p>Web design</p>
        <pb-markdown url="api/document/auxiliary/team/julia.md" />
    </li>
    <li>
        <h3>IZI</h3>
        <img src="resources/images/team/anna.jpg" alt="Anna Krzysik" />
        <h2>Anna Krzysik</h2>
        <p>Project Coordinator</p>
        <pb-markdown url="api/document/auxiliary/team/anna.md" />
    </li>
    <li>
        <h3>JinnTec GmbH</h3>
        <img src="resources/images/jinntec.svg" alt="JinnTec" />
        <h2>JinnTec</h2>
        <p>Software solutions</p>
        <pb-markdown url="api/document/auxiliary/team/jinntec.md" />

    </li>
    <li>
        <h3>e-editions</h3>
        <img src="resources/images/e-editiones-logo-color.svg" alt="e-editiones" />
        <h2>e-editiones</h2>
        <p>Scholarly society</p>
        <pb-markdown url="api/document/auxiliary/team/eeditiones.md" />

    </li>
</ul>