<ul class="team">
    <li>
        <h3>e-editiones</h3>
        <img src="resources/images/wolfgang.png" alt="Wolfgang Meier" />
        <h2>Wolfgang Meier</h2>
        <p>System architect</p>
        <pb-markdown url="api/document/ancillary/team/wolfgang.md" />
    </li>
    <li>
        <h3>e-editiones</h3>
        <img src="resources/images/team/magdalena.png" alt="Magdalena Turska" />
        <h2>Magdalena Turska</h2>
        <p>System architect</p>
        <pb-markdown url="api/document/ancillary/team/magdalena.md" />
    </li>
    <li>
        <h3>JinnTec</h3>
        <img src="resources/images/team/helena.jpeg" alt="Helena Bermudez Sabel" />
        <h2>Helena Bermudez Sabel</h2>
        <p>Head of Digital Editions</p>
        <pb-markdown url="api/document/ancillary/team/helena.md" />
    </li>
    <li>
        <h3>JinnTec</h3>
        <h2>Lars Windauer</h2>
        <p>Project director</p>
    </li>
    <li>
        <h3>JinnTec</h3>
        <h2>Julia Peshkova</h2>
        <p>Web design</p>
    </li>
    <li>
        <h3>IZI</h3>
        <img src="resources/images/anna.jpg" alt="Anna Krzysik" />
        <h2>Anna Krzysik</h2>
        <p>Project Coordinator</p>
    </li>
    <li>
        <h3>JinnTec GmbH</h3>
        <img src="resources/images/jinntec.svg" alt="JinnTec" />
        <h2>JinnTec</h2>
        <p>Software solutions</p>
    </li>
    <li>
        <h3>JinnTec GmbH</h3>
        <img src="resources/images/e-editiones-logo-color.svg" alt="JinnTec" />
        <h2>JinnTec</h2>
        <p>Software solutions</p>
    </li>
</ul>