<main>
    ---json
    {
        "templating": {
            "extends": "static/templates/layouts/base.html"
        },
        "toolbar": {
            "navigation": false
        },
        "layout": "sticky-layout"
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/monograph/1/index.html">Documents</a></li>
                <li>[[ $parts?breadcrumb?content ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
    <div class="floating-button left">
        [% if $context("parts")?default?previous %]
            <a href="[[ '../' || $context('pagination')?page - 1 || '/index.html' ]]"
                title="Page [[ $context('pagination')?page - 1 ]]">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
            </a>
        [% endif %]
    </div>
    <div class="content">
        [[ $parts?default?content ]]
        [[ $parts?default?footnotes ]]
    </div>
    <div class="floating-button right">
        [% if $context("parts")?default?next %]
            <a href="[[ '../' || $context('pagination')?page + 1 || '/index.html' ]]"
                title="Page [[ $context('pagination')?page + 1 ]]">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
            </a>
        [% endif %]
    </div>
</main>