<div class="container">
    ---json
    {
        "templating": {
            "extends": "templates/static/templates/base.html"
        },
        "features": {
            "toolbar": false
        },
        "script": {
            "custom": [
                "https://rawcdn.githack.com/nextapps-de/flexsearch/0.7.31/dist/flexsearch.bundle.js",
                "resources/scripts/search.js"
            ]
        }
    }
    ---
    <main class="search">
        <aside>
            <pb-search id="search-input" label="Search" disable-autocomplete="disable-autocomplete"
                subforms="#options" subscribe="search"></pb-search>
            <pb-custom-form id="options">
                <fieldset>
                    <legend>Field</legend>
                    [% for $field in $static?fields?index?* %]
                    <label>
                        <input type="checkbox" name="field" value="[[$field]]" checked="checked"/> <pb-i18n
                            key="static.search.field-[[ $field ]]">[[ $field ]]</pb-i18n>
                    </label>
                    [% endfor %]
                </fieldset>
                [% for $facet in $static?facets?* %]
                <fieldset class="facet [[ $facet ]]">
                    <legend><pb-i18n key="static.search.facet-[[ $facet ]]">[[ $facet ]]</pb-i18n></legend>
                    <div></div>
                </fieldset>
                [% endfor %]
            </pb-custom-form>
        </aside>
        <div id="results"></div>
    </main>
</div>