<template>
    ---json
    {
        "templating": {
            "extends": "static/templates/layouts/base.html"
        }
    }
    ---
    [% template before %]
    [% if $context?features?toc?enabled %]
    <div class="toc">
        <h5>
            <pb-i18n key="document.contents">Contents</pb-i18n>
        </h5>
        [[ $context?table-of-contents ]]
    </div>
    [% endif %]
    [% endtemplate %]

    <main>
        [% block above-content %][% endblock %]
        <!-- Content block -->
        [% block content %][% endblock %]
        [% block below-content %][% endblock %]
    </main>
</template>
