<section id="about"><!-- control bleed / transparent by default -->
    <div class="center-l">
        <span class="label"><pb-i18n key="about.label"/></span>
        <header class="row">
            <h2>
                <pb-i18n key="about.title"/>
            </h2>
            <p>
                <pb-i18n key="about.para-1"/>
            </p>
        </header>
        <div class="long-desc">
            <p>
                <pb-i18n key="about.para-2"/>
            </p>
            <p>
                <pb-i18n key="about.para-3"/>
            </p>
        </div>
    </div>
</section>
