<section id="about"><!-- control bleed / transparent by default -->
    <div class="center-l">
        <span class="label">about project</span>
        <header class="row">
            <h2>
                <!-- <pb-i18n key="landing.about"/> -->
                Working environment for creating and publishing of digital scholarly editions
            </h2>
            <p>
                Jinks application manager is designed as a working environment for creating and
                publishing of digital scholarly editions. Editions created with this framework
                are aiming to meet the varied needs of several humanities disciplines (textual
                scholarship, literary studies, linguistics, history and more). Jinks builds on
                what is common, at the same time providing the choice and customisation 
                possibilities to the editors and developers.
            </p>
                <!-- <p><pb-i18n key="landing.about-1"/></p> -->
        </header>
        <div class="long-desc">
            <p><pb-i18n key="landing.about-2"/></p>
            <p><pb-i18n key="landing.about-3"/></p>
        </div>
    </div>
</section>
