    <section id="bottom" class="section-dark">
        <div class="center-l">
            <ul class="link-group">
                <li><pb-i18n key="landing.cite"/></li>
                <li><pb-i18n key="landing.credits"/></li>
                <li><pb-i18n key="landing.about"/></li>
                <li><pb-i18n key="landing.team"/></li>
            </ul>
            <ul class="link-group">
                <li><pb-i18n key="landing.cite"/></li>
                <li><pb-i18n key="landing.credits"/></li>
                <li><pb-i18n key="landing.about"/></li>
                <li><pb-i18n key="landing.team"/></li>
            </ul>
            <ul class="link-group">
                <li><pb-i18n key="landing.cite"/></li>
                <li><pb-i18n key="landing.credits"/></li>
                <li><pb-i18n key="landing.about"/></li>
                <li><pb-i18n key="landing.team"/></li>
            </ul>
            <div>
                <p>
                    The header features a portrait of Ioannes Dantiscus
                    by an unknown Netherlandish painter, c. 1654, oil on panel,
                    Royal Castle in Warsaw – Museum, inventory no. ZKW/6057/ab, photo by
                    Małgorzata Niewiadomska, Andrzej Ring.
                </p>
                <p>
                    Research financed by the Minister for Science and Higher Education through
                    the National Programme for the Development of Humanities in 2020-2025,
                    Project No. 11H 11 0042 87, subsidy in the amount of 771,523.00 PLN.
                </p>
            </div>
        </div>
    </section>
