<section id="highlights" class="section-highlight">
    <header class="center-l row">
        <h2><pb-i18n key="landing.highlights"/></h2>
    </header>
    <div class="highlights center-l">
        <article class="highlight-card area-1" style="background-image: var(--lg), url('resources/images/abstract-1.jpg');">
            <span class="label label-dark">ccc</span>
            <div class="desc">
                <h3><a href="browse.html"><pb-i18n key="landing.corpus"></pb-i18n></a></h3>
                <p>
                    <pb-i18n key="landing.corpus-info"></pb-i18n><br/>
                    <a class="explore-link" href="browse.html"><pb-i18n key="hero.explore"></pb-i18n></a>
                </p> 
            </div>
        </article>
        <article class="highlight-card area-2" style="background-image: var(--lg), url('resources/images/abstract-2.jpg');">
            <span class="label label-dark">bbb</span>
            <div class="desc">
                <h3><a href="places"><pb-i18n key="landing.register"></pb-i18n></a></h3>
                <p>
                    <!-- <pb-i18n key="landing.register-info"/>  -->
                    <a class="explore-link" href="places"><pb-i18n key="hero.explore"></pb-i18n></a>
                </p>
            </div>
        </article>
        <article class="highlight-card area-3" style="background-image: var(--lg), url('resources/images/mael_tsang.jpg');">
            <span class="label label-dark">aaa</span>
            <div class="desc">
                <h3><a href="howto"><pb-i18n key="landing.howto"/></a></h3>
                <p>
                    <!-- <pb-i18n key="landing.howto-info"></pb-i18n> -->
                    <a class="explore-link" href="howto"><pb-i18n key="hero.explore"></pb-i18n></a>
                </p>
            </div>
        </article>
    </div>
</section>
