<section id="project-partners" class="section-light">
    <div class="center-l">
        <span class="label">Project Partners</span>
        <header class="row">
            <h2><pb-i18n key="landing.partners"/></h2>
            <p>
                asd;jas ;alskdjf a;dsl jads;l akjdas;fl ajsd;fla jsd;lfak sjdf adsflkj a;asl 
            </p>
        </header>
        <div class="partner-logos">
            <a class="partner-logo" href="https://jinntec.de" target="_blank"><img src="resources/images/jinntec.svg"/></a>
            <a class="partner-logo" href="https://e-editiones.org" target="_blank"><img src="resources/images/e-editiones-logo-color.svg"/></a>
            <a class="partner-logo" href="https://tei-c.org" target="_blank"><img src="resources/images/tei-with-text.svg"/></a>
            <a class="partner-logo" href="https://teipublisher.org" target="_blank"><img src="resources/images/tei-publisher-logo-color.svg"/></a>
        </div>
    </div>
</section>
