<section id="project-partners" class="section-light">
    <div class="center-l">
        <span class="label"><pb-i18n key="partners.label"></pb-i18n></span>
        <header class="row">
            <h2><pb-i18n key="partners.title"></pb-i18n></h2>
            <p>
                <pb-i18n key="partners.description"></pb-i18n>
            </p>
        </header>
        <div class="partner-logos">
            <a class="partner-logo" href="https://jinntec.de" target="_blank"><img src="resources/images/jinntec.svg"/></a>
            <a class="partner-logo" href="https://e-editiones.org" target="_blank"><img src="resources/images/e-editiones-logo-color.svg"/></a>
            <a class="partner-logo" href="https://tei-c.org" target="_blank"><img src="resources/images/tei-with-text.svg"/></a>
            <a class="partner-logo" href="https://teipublisher.org" target="_blank"><img src="resources/images/tei-publisher-logo-color.svg"/></a>
        </div>
    </div>
</section>
