<section id="generic" class="section-dark">
    <div class="center-l">
        <span class="label"><pb-i18n key="section.label"></pb-i18n></span>
        <div class="row">
            <header>
                <h2><pb-i18n key="section.title"></pb-i18n></h2>
                <p><pb-i18n key="section.description"></pb-i18n></p>
            </header>
            <div class="two-thirds">
                <article class="teaser">
                    <h3><pb-i18n key="article.title"></pb-i18n></h3>
                    <p><pb-i18n key="article.description"></pb-i18n></p>
                    <a href="browse.html" class="explore-link"><pb-i18n key="landing.explore"></pb-i18n></a>
                </article>
                <article class="teaser">
                    <h3><pb-i18n key="article.title"></pb-i18n></h3>
                    <p><pb-i18n key="article.description"></pb-i18n></p>
                    <a href="browse.html" class="explore-link"><pb-i18n key="landing.explore"></pb-i18n></a>
                </article>
                <article class="teaser">
                    <h3><pb-i18n key="article.title"></pb-i18n></h3>
                    <p><pb-i18n key="article.description"></pb-i18n></p>
                    <a href="browse.html" class="explore-link"><pb-i18n key="landing.explore"></pb-i18n></a>
                </article>
            </div>
        </div>
    </div>
</section>
