<section id="generic" class="section-dark">
    <div class="center-l">
        <span class="label">FAQ<pb-i18n key="label"></pb-i18n></span>
        <div class="row">
            <header>
                <h2>A section<pb-i18n key="a.section"></pb-i18n></h2>
            </header>
            <div>
                <article>
                    <h3>subsection head</h3>
                    <p>a;sdlfkjasd a ;lsjd 43aroier gmvc.z,mvfrbgaisdgaiegr a iega riurn iorun</p>
                </article>
                <article>
                    <h3>subsection head</h3>
                    <p>a;sdlfkjasd a ;lsjd 43aroier gmvc.z,mvfrbgaisdgaiegr a iega riurn iorun</p>
                </article>
                <article>
                    <h3>subsection head</h3>
                    <p>a;sdlfkjasd a ;lsjd 43aroier gmvc.z,mvfrbgaisdgaiegr a iega riurn iorun</p>
                </article>
            </div>
        </div>
    </div>
</section>
