<section id="team" class="section-light">
    <div class="center-l">
        <span class="label">core team</span>
        <header class="row"><!-- horizontal alignment by default change by adding class="header-left" -->
            <h2><pb-i18n key="landing.team"/></h2>
            <p>
                The Jinks edition project is brought to life by a dedicated team of historians,
                digital archivists, and designers passionate about Renaissance history
            </p>
        </header>
        <div class="team-members">
            <div class="member-card">
                <div class="member-card--top">
                    <div class="label">e-editiones</div>
                    <img src="resources/images/team/wolfgang.jpg" alt="Wolfgang Meier"  class="avatar"/>
                </div>
                <div class="member-card--middle">
                    <header>
                        <h3>Wolfgang Meier</h3>
                        <p class="title">System architect</p>
                    </header>
                    <div class="contact-links">
                        <a class="email" href="mailto:wolfgang.meier@eeditiones.org"></a>
                        <a class="linkedin" href="https://linked-in.com"></a>
                    </div>
                </div>
                <div class="member-card--description">
                    <pb-markdown url="api/document/auxiliary/team/wolfgang.md" />

                </div>
            </div>
            <div class="member-card">
                <div class="member-card--top">
                    <div class="label">indy</div>
                    <img src="resources/images/team/noone.jpg" alt="Some One"  class="avatar"/>
                </div>
                <div class="member-card--middle">
                    <header>
                        <h3>Some One</h3>
                        <p class="title">Jack of all Trades</p>
                    </header>
                    <div class="contact-links">
                        <a class="email" href="mailto:someone@some.one"></a>
                        <a class="linkedin" href="https://linked-in.com"></a>
                    </div>
                </div>
                <div class="member-card--description">
                    <pb-markdown url="api/document/auxiliary/team/wolfgang.md" />

                </div>
            </div>
            <div class="member-card">
                <div class="member-card--top">
                    <div class="label">JinnTec GmbH</div>
                    <img src="resources/images/jinntec.svg" alt="JinnTec" class="member-logo"/>
                </div>
                <div class="member-card--middle">
                    <header>
                        <h3>JinnTec</h3>
                        <p>Software solutions</p>
                    </header>
                    <div class="contact-links">
                        <a class="email" href="mailto:asdfadsfasd"></a>
                        <a class="linkedin" href="https://linked-in.com"></a>
                    </div>
                </div>
                <div class="member-card--description">
                    <pb-markdown url="api/document/auxiliary/team/jinntec.md"></pb-markdown>
                </div>
            </div>
            <div class="member-card">
                <div class="member-card--top">
                    <div class="label">e-editions</div>
                    <img src="resources/images/e-editiones-logo-color.svg" alt="e-editiones" class="member-logo" />
                </div>
                <div class="member-card--middle">
                    <header>
                        <h3>e-editiones</h3>
                        <p>Scholarly society</p>
                    </header>
                    <div class="contact-links">
                        <a class="email" href="mailto:asdfadsfasd"></a>
                        <a class="linkedin" href="https://linked-in.com"></a>
                    </div>
                </div>
                <div class="member-card--description">
                <pb-markdown url="api/document/auxiliary/team/eeditiones.md" />
                </div>
            </div>
        </div>
    </div>
</section>
