<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
        <link rel="shortcut icon" type="image/x-icon" href="[[ $config:context-path ]]/resources/images/favicon.ico" />
        <link rel="shortcut icon" type="image/png" href="[[ $config:context-path ]]/resources/images/favicon-16.png" sizes="16x16" />
        <link rel="shortcut icon" type="image/png" href="[[ $config:context-path ]]/resources/images/favicon-24.png" sizes="24x24" />
        <link rel="shortcut icon" type="image/png" href="[[ $config:context-path ]]/resources/images/favicon-32.png" sizes="32x32" />
        <link rel="shortcut icon" type="image/png" href="[[ $config:context-path ]]/resources/images/favicon-64.png" sizes="64x64" />

        [% for $path in $styles?* %]
            [% if matches($path, "(?:^https?://|^/).*$") %]
            <link rel="stylesheet" href="[[ $path ]]" />
            [% else %]
            <link rel="stylesheet" href="[[ $config:context-path ]]/[[ $path ]]" />
            [% endif %]
        [% endfor %]

        <title>[[ $label ]]</title>
        
        <script src="[[ $config:context-path ]]/resources/scripts/dark.js"></script>

        [% if $script?webcomponents = 'dev' %]
        <script type="module" src="[[$script?cdn]]/src/pb-components-bundle.js"></script>
        [% for $component in $script?extra-components?* %]
        <script type="module" src="[[$script?cdn]]/src/[[ $component ]].js"></script>
        [% endfor %]
        [% elif $script?webcomponents = '' %]
        [% else %]
        <script type="module" src="[[$script?cdn]]@[[$script?webcomponents]]/dist/pb-components-bundle.js"></script>
        [% for $component in $script?extra-components?* %]
        <script type="module" src="[[$script?cdn]]@[[$script?webcomponents]]/dist/[[ $component ]].js"></script>
        [% endfor %]
        [% endif %]

        [% if $script?fore %]
        <script type="module" src="https://cdn.jsdelivr.net/npm/@jinntec/fore@[[ $script?fore ]]/dist/fore.js"></script>
        [% endif %]

        [% block scripts %][% endblock %]
    </head>
    <body>
        <pb-page endpoint="[[ $config:context-path ]]" app-root="[[ $config:context-path ]]" api-version="1.0.0" 
            supported-languages="[[ string-join(map:keys($languages), ', ') ]]"
            language="[[ if ($request?parameters?lang) then $request?parameters?lang else $defaults?language ]]"
            locales="resources/i18n/{{ns}}/{{lng}}.json" 
            locale-fallback-ns="app [[ if (map:contains($context, 'i18n')) then string-join($context?i18n?*, ' ') else () ]]" 
            unresolved="unresolved">
            <header class="page-header">
                <div>
                    [% if $features?menubar %]
                    [% include "templates/menu.html" %]
                    [% endif %]
                    [% if $features?toolbar %]
                    [% include "templates/toolbar.html" %]
                    [% endif %]
                    [% if $features?menubar %]
                    [% include "templates/menu-mobile.html" %]
                    [% endif %]

                    [% block header %][% endblock %]
                </div>
                <pb-progress subscribe="transcription" indeterminate="indeterminate"/>
            </header>
            [[ $content ]]
            [% if $features?toc %]
            <pb-drawer toggle="tocToggle" class="toc" emit="toc" subscribe="transcription">
                <div class="drawer-content">
                    <h3>
                        <pb-i18n key="document.contents">Contents</pb-i18n>
                    </h3>
                    <pb-load id="toc" url="api/document/{doc}/contents?target=transcription&amp;icons=true" expand="expand" src="document1" subscribe="toc" load-once="load-once"><pb-i18n key="dialogs.loading">Loading</pb-i18n></pb-load>
                </div>
            </pb-drawer>
            [% endif %]
        </pb-page>
        <div class="splash"/>
        <paper-dialog id="downloadDialog">
            <h2>
                <pb-i18n key="dialogs.generatingFile">Generating file ...</pb-i18n>
            </h2>
            <paper-dialog-scrollable>
                <pb-i18n key="dialogs.downloadMessage"></pb-i18n>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                    <pb-i18n key="dialogs.close">Close</pb-i18n>
                </paper-button>
            </div>
        </paper-dialog>
    </body>
</html>