<template>
    ---json
    {
        "features": {
            "toolbar": {
                "enabled": false
            }
        },
        "templating": {
            "extends": "templates/layouts/content.html"
        },
        "script": {
            "custom": [
                "resources/scripts/facets.js",
                "resources/scripts/browse.js"
            ]
        }
    }
    ---
    [% template hero %]
        [% if $context?features?hero %]
            <div class="hero">
                <h1>[[ $label ]]</h1>
            </div>
        [% endif %]
    [% endtemplate %]
    [% template sidebar %]
    <aside class="left">
        <pb-search id="search-form" subscribe="search" value="[[ $request?parameters?query ]]"
            subforms=".facets,.options" submit-on-load="submit-on-load">
            <button slot="searchButton"><pb-i18n key="search.search">Search</pb-i18n></button>
            <input type="hidden" name="field" value="text"/>
        </pb-search>
        <pb-custom-form class="options">
            <input type="hidden" name="collection" value="[[ page:parameter($context, 'collection') ]]"/>
            <input type="hidden" name="sort" value="[[ page:parameter($context, 'sort', $defaults?sort)]]"/>
        </pb-custom-form>
        <pb-custom-form class="facets" url="api/search/facets" event="pb-results-received" subscribe="search" emit="search">
        </pb-custom-form>
    </aside>
    <aside class="right">
        [% block browse-aside %][% endblock %]
        [% if $context?features?upload %]
        <pb-restricted group="[[ $pkg?user?group ]]">
            [% if $context?defaults?upload %]
            <pb-upload id="upload" subscribe="search" emit="search" accept=".xml, .tei, .odd, .docx, .md, .mei"
                event="pb-search-resubmit" target="[[ $context?defaults?upload ]]"></pb-upload>
            [% else %]
            <pb-upload id="upload" subscribe="search" emit="search" accept=".xml, .tei, .odd, .docx, .md, .mei"
                event="pb-search-resubmit"></pb-upload>
            [% endif %]
        </pb-restricted>
        [% endif %]
    </aside>
    <nav class="top-center">
        <nav aria-label="breadcrumb">
            <ul>
                <li>
                    <a class="parent-link" role="button" data-collection="[[ browse:parent-link($context) ]]"
                        data-i18n="[title]browse.up">
                        Collections
                    </a>
                </li>
                [% if page:parameter($context, 'collection') != '' %]
                <li class="current-collection">[[ page:parameter($context, 'collection') ]]</li>
                [% endif %]
            </ul>
        </nav>
        <ul>
            [% block before-document-list %][% endblock %]
            <li>
                <pb-paginate id="paginate" per-page="10" range="5" subscribe="search" emit="search"></pb-paginate>
            </li>
        </ul>
    </nav>
    [% endtemplate %]
    <div id="document-list">
        <pb-load url="api/collection/{collection}" expand="" emit="search"></pb-load>
    </div>
</template>