<nav class="menubar container-fluid">
    <ul>
        <li class="logo"></li>
        [% for $item in $menu?items?* %]
        [% if $item?url %]
        <li class="hidden-mobile">
            <a href="[[ $context-path ]]/[[ $item?url ]]"><pb-i18n key="menu.[[ $item?id ]]">[[ $item?id ]]</pb-i18n></a>
        </li>
        [% endif %]
        [% endfor %]

        [# display download menu if in document view #]
        [% if exists($context?doc) and $menu?download %]
        <li class="hidden-mobile">
            <details class="dropdown">
                <summary><pb-i18n key="menu.download.title">Download</pb-i18n></summary>
                <ul dir="rtl">
                    <li>
                        <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                            XML
                        </pb-edit-xml>
                    </li>
                    [% if empty($context?media) or "print" = $context?media %]
                    <li>
                        <a href="[[ $context-path ]]/print/[[ $context?doc?path ]]" target="_new">Print CSS</a>
                    </li>
                    [% endif %]
                    [% if empty($context?media) or "latex" = $context?media %]
                    <li>
                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)">
                            <pb-i18n key="menu.download.pdf-latex">Download</pb-i18n>
                        </pb-download>
                    </li>
                    [% endif %]
                    [% if empty($context?media) or "latex" = $context?media %]
                    <li>
                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)" source="source">
                            <pb-i18n key="menu.download.latex-source"></pb-i18n>
                        </pb-download>
                    </li>
                    [% endif %]
                    [% if empty($context?media) or "fo" = $context?media %]
                    <li>
                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="i18n(pdf-fo)">
                            <pb-i18n key="menu.download.pdf-fo"></pb-i18n>
                        </pb-download>
                    </li>
                    [% endif %]
                    [% if empty($context?media) or "fo" = $context?media %]
                    <li>
                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="pdf-fo" source="source">
                            <pb-i18n key="menu.download.fo-source"></pb-i18n>
                        </pb-download>
                    </li>
                    [% endif %]
                    [% if empty($context?media) or "epub" = $context?media %]
                    <li>
                        <pb-download type="epub" src="document1" dialog="downloadDialog">
                            ePUB
                        </pb-download>
                    </li>
                    [% endif %]
                </ul>
            </details>
        </li>
        [% endif %]

        <pb-restricted group="[[ $pkg?user?group ]]">
            <li class="hidden-mobile">
                <details class="dropdown">
                    <summary><pb-i18n key="menu.admin.title">Admin</pb-i18n></summary>
                    <ul dir="rtl">
                        [% for $odd in $config:odd-available %]
                        <li><a href="[[$context-path]]/odd-editor.html?odd=[[$odd]]" target="_blank"><pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>: [[$odd]]</a></li>
                        [% endfor %]
                        <li>
                            <a href="[[ $context-path ]]/api.html" target="_blank">API Documentation</a>
                        </li>
                        <li>
                            <a href="https://cdn.tei-publisher.com/" target="_blank">Webcomponents API</a>
                        </li>
                        <li>
                            <pb-download url="api/apps/download" dialog="downloadDialog">
                                <pb-i18n key="appgen.xar-download">Download App as .xar</pb-i18n>
                            </pb-download>
                        </li>
                        [% block menu.admin %][% endblock %]
                    </ul>
                </details>
            </li>
        </pb-restricted>
    </ul>
    <ul>
        [% if $menu?search %]
        <li class="hidden-mobile">
            [% if $context('isStatic') %]
            <form action="[[ $context-path ]]/search.html">
                <input type="search" value="" name="query"/>
            </form>
            [% else %]
            <pb-search action="[[ $context-path ]]/search.html" value="[[ page:parameter($context, 'query', '') ]]"
                redirect="redirect"></pb-search>
            [% endif %]
        </li>
        [% endif %]
        [% if $menu?language %]
        <li class="hidden-mobile">
            <pb-lang name="lang">
                [% for $lang in map:keys($languages) %]
                <paper-item value="[[ $lang ]]">[[ $languages?($lang) ]]</paper-item>
                [% endfor %]
            </pb-lang>
        </li>
        [% endif %]
        [% if $menu?dark-mode %]
        <li>
            <div id="colorMode" class="theme-toggle" title="Toggle theme">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    width="1em"
                    height="1em"
                    fill="currentColor"
                    stroke-linecap="round"
                    class="theme-toggle__classic"
                    viewBox="0 0 32 32"
                >
                    <clipPath id="theme-toggle__classic__cutout">
                        <path d="M0-5h30a1 1 0 0 0 9 13v24H0Z" />
                    </clipPath>
                    <g clip-path="url(#theme-toggle__classic__cutout)">
                        <circle cx="16" cy="16" r="9.34" />
                        <g stroke="currentColor" stroke-width="1.5">
                            <path d="M16 5.5v-4" />
                            <path d="M16 30.5v-4" />
                            <path d="M1.5 16h4" />
                            <path d="M26.5 16h4" />
                            <path d="m23.4 8.6 2.8-2.8" />
                            <path d="m5.7 26.3 2.9-2.9" />
                            <path d="m5.8 5.8 2.8 2.8" />
                            <path d="m23.4 23.4 2.9 2.9" />
                        </g>
                    </g>
                </svg>
            </div>
        </li>
        [% endif %]
        [% if $menu?login and not($context?isStatic) %]
        <li class="hidden-mobile">
            <pb-login id="login" group="[[ $pkg?user?group ]]"/>
        </li>
        [% endif %]
        <li class="mobile trigger">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/></svg>
            [% if $features?menubar %]
            [% include "templates/menu-mobile.html" %]
            [% endif %]
        </li>
    </ul>
</nav>
