<main class="container-fluid">
    ---json
    {
        "features": {
            "toolbar": false,
            "toc": false
        },
        "templating": {
            "extends": "templates/base.html"
        },
        "script": {
            "extra-components": [
                "pb-odd-editor"
            ]
        }
    }
    ---
    <pb-odd-editor output-root="[[ ($config:output-root, $config:app-root || '/transform')[1] ]]"
    root-path="[[ $config:odd-root ]]"
    output-prefix="transform"
    odd="[[ request:get-parameter('odd', ()) ]]">
    </pb-odd-editor>
</main>
