<template>
    ---json
    {
        "features": {
            "toolbar": {
                "navigation": false
            }
        },
        "templating": {
            "extends": "templates/layouts/base.html"
        },
        "script": {
            "custom": [
                "resources/scripts/facets.js"
            ]
        }
    }
    ---
    <style>
        main {
            padding: 1rem;
        }

        pb-search .targets {
            margin-top: 1rem;
        }

        /* Fix for overlapping targets and pb-custom-form */
        .right > pb-search {
            margin-bottom: 1rem;
            height: fit-content;
        }
    </style>
    [% if $features?toolbar?enabled %]
    [% include "templates/toolbar.html" %]
    [% endif %]
    <main>
        <pb-load id="results" url="api/search" emit="results"></pb-load>
    </main>
    <nav class="top-right">
        <ul>
            <li>
                <a class="aside-toggle" title="Hide" data-toggle=".right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5" />
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <aside class="right">
        <pb-search id="search-form" subscribe="search"
            value="[[ page:parameter($context, 'query', '') ]]" 
            submit-on-load="submit-on-load" subforms=".facets">
            <div class="targets">
                <label>Search sections
                    <input type="checkbox" name="field" value="text"/>
                </label>
                <label>Search headings
                    <input type="checkbox" name="field" value="head"/>
                </label>
            </div>
            <button slot="searchButton"><pb-i18n key="search.search">Search</pb-i18n></button>
        </pb-search>
        <pb-custom-form class="facets" url="api/search/facets" subscribe="results" event="pb-results-received" emit="search"/>
    </aside>
</template>