:root {
    --text-light: #333333;
    --text-dark: white;
    --color-highlight: #F6A623;
    --color-menu-bg: #35424b;
    --color-submenu: #FADCA1;
    --color-appbar: #D1D5DB;
    --pico-header-background: var(--color-menu-bg);
}

@media (min-width: 1536px) {
    :root {
      --pico-font-size: 100%;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    body:not([data-theme]) {
    }
}

[data-theme="dark"] {
}

[data-tooltip]:not(a,button,input) {
    border-bottom: none;
}

.logo {
    background-image: url("../images/tei-publisher-logo-contrast-color.svg");
    height: 64px;
    width: 140px;
    background-size: auto auto;
    background-position: left center;
    background-repeat: no-repeat;
}

body {
    background-color: var(--pico-background-color);
    min-height: 100vh;
}

pb-page.container-fluid {
    display: block;
    padding-left: 0;
    padding-right: 0;
}

.splash {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #0f0f0f;
    background-image: url("../images/logo.png");
    background-position: center center;
    background-size: auto auto;
    background-repeat: no-repeat;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

header {
    --pico-block-spacing-vertical: 0;
    --pico-nav-element-spacing-vertical: 0;
    --pico-primary: var(--text-dark);
    --pico-primary-hover: var(--text-dark);
    --pb-login-link-color: var(--text-dark);
}

nav details {
    --pico-form-element-background-color: var(--color-menu-bg);
    --pico-form-element-border-color: var(--color-menu-bg);
    --pico-form-element-focus-color: var(--color-menu-bg);
    --pico-form-element-placeholder-color: var(--pico-primary);
    --pico-form-element-active-background-color: var(--color-menu-bg);
    --pico-form-element-active-border-color: var(--color-menu-bg);
}

header nav svg {
    height: 24px;
}

header .toolbar {
    background-color: var(--color-appbar);
    margin-bottom: 1rem;
}

@media (min-width: 1024px) {
    .is-fixed-above-lg {    
        z-index: 6;
        position: sticky;
        top: 0;
        background-color: var(--pico-header-background);
        transition:
            border-top-color 0.4s ease-in-out,
            box-shadow 0.4s ease-in-out;
    }
    .is-fixed {
        border-bottom-color: var(--pico-header-border-color);
        box-shadow: var(--pico-card-box-shadow);
    }
}

.editor {
    grid-column-gap: 3rem;
}

.editor.grid {
    grid-template-columns: auto 1fr;
}

.editor form {
    padding: 1rem var(--pico-spacing);
    display: grid;
    grid-template-columns: minmax(auto,24rem) minmax(auto,24rem) 1fr;
    grid-template-areas:
        "form form form"
        "output output output";
    grid-column-gap: 2rem;
}

#output {
    grid-area: output;
}

.templating {
    grid-template-columns: 1fr minmax(220px, 480px);
    padding: 1rem var(--pico-spacing);
}

h1, h2, h3, .output > label {
    font-family: Oswald, sans-serif;
    font-weight: 200;
}

.output > label {
    color: var(--color-highlight);
}

.output {
    margin-top: 1rem;
    padding: 0 var(--pico-spacing);
}

.output li jinn-monaco-diff {
    height: 40vh;
    margin-top: 1rem;
}

.output li a {
    padding-left: .25rem;
}

p {
    margin-top: 0;
}

jinn-monaco-editor {
    display: block;
    overflow: auto;
    max-height: 40vh;
    min-height: 460px;
}

.hidden {
    display: none;
}
[slot=toolbar] {
    display: flex;
    margin-bottom: 4px;
    --pico-spacing: 0;
}

#eval {
    min-width: fit-content
}

.badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    background-color: #2C6C0C; /* Badge background color */
    color: var(--pico-primary-inverse); /* Text color */
    font-size: 0.875rem; /* Font size */
    font-weight: bold; /* Font weight */
}

.alert {
    background-color: #D93526;
    color: var(--pico-primary-inverse);
}

.resolved {
    background-color: #55524A;
    color: var(--pico-primary-inverse);
}

.error {
    color: #D93526;
}

.buttons {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.installed {
    padding: .5rem;
    max-width: 100%;
    overflow: auto;
    column-gap: 1rem;
    justify-content: flex-start;
}

.installed li {
    display: flex;
    column-gap: .5rem;
    color: #000;
}

.installed li > div {
    padding-top: .5rem;
}

.installed .actions {
    display: flex;
    flex-direction: column;
}

.installed .action svg {
    width: 16px;
}
.installed:empty {
    padding: 0;
}
.installed h3 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
    color: var(--text-light);
}

.installed img, .installed li > label {
    display: block;
    margin: 0 auto;
}
.installed img {
    width: 64px;
    margin-bottom: .5rem;
}

.output .action {
    width: 24px;
}
.output .action {
    display: inline-block;
}

.output {
    line-height: 2;
}
ul.output li {
    list-style: none;
    margin-top: 1rem;
}

#errorMsg {
    color: red;
    font-size: 1.2em;
    margin: 10px 0;
}

#mergedConfig pre {
    min-height: 100px;
}

summary {
    width: fit-content;
}

details {
    margin-top: 1rem;
}

details pb-markdown {
    margin-top: 1rem;
}
table th, table td {
    text-align: left;
    border-bottom: 1px solid #ced4da;
}
table td:nth-child(1), table th:nth-child(1) {
    width: 40%;
}

.icon {
    width: 24px;
    height: 24px;
}