<!-- context: fileDesc/sourceDesc/msDesc-->
<details id="findspot">
    <summary>
        <h2><pb-i18n key="form.finding" /></h2>
    </summary>

    <fx-group ref="history">
        <fx-control class="fore-control"
                    id="findspot-ctrl"
                    initial=".."
                    ref="origin/origPlace/@corresp"
                    src="[[ $context-path ]]/geo-picker.html">
        </fx-control>

        <fx-group class="neutral" ref="provenance[@type='found']">
            <fx-control
                as="node"
                ref="note[@type='context']"
                update-event="leave">
                <label>
                    <pb-i18n key="form.site-find-spot" />
                    <pb-popover>
                        <svg class="icon icon-info"><use href="#info-circle"></use></svg>
                        <template slot="alternate">
                            <pb-i18n key="form.site-find-spot"></pb-i18n>
                        </template>
                    </pb-popover>
                </label>
                <edep-xml-editor
                    base-url="${app}"
                    class="widget"
                    data-template="lib:parse-params"
                    placeholder="[Inline text/markup or sequence of paragraphs]"
                    schema-root="provenance">
                </edep-xml-editor>
            </fx-control>

            <!-- YYYY ->  matches(//title,'^-?[1-9]\d*$')-->
            <!-- YYYY-MM-DD -> matches(//title,'^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$')    -->
            <section class="form-row">
            <fx-control create="create" ref="@when">
                <label>
                    <pb-i18n key="form.date" />
                </label>
                <input class="widget" placeholder="YYYY, YYYY-MM oder YYYY-MM-DD" />
                <fx-alert>
                    <svg class="icon icon-warning"><use href="#exclamation-triangle-fill"></use></svg>
                    <pb-i18n key="form.date-invalid">Ungültiges Datum</pb-i18n>
                </fx-alert>
            </fx-control>
            <fx-control create="create" ref="@notBefore">
                <label>
                    <pb-i18n key="form.date-after" />
                </label>
                <input class="widget" placeholder="YYYY, YYYY-MM oder YYYY-MM-DD" />
                <fx-alert>
                    <svg class="icon icon-warning"><use href="#exclamation-triangle-fill"></use></svg>
                    <pb-i18n key="form.date-invalid">Ungültiges Datum</pb-i18n>
                </fx-alert>
            </fx-control>
            <fx-control create="create" ref="@notAfter">
                <label>
                    <pb-i18n key="form.date-before" />
                </label>
                <input class="widget" placeholder="YYYY, YYYY-MM oder YYYY-MM-DD" />
                <fx-alert>
                    <svg class="icon icon-warning"><use href="#exclamation-triangle-fill"></use></svg>
                    <pb-i18n key="form.invalid-date">Ungültiges Datum</pb-i18n>
                </fx-alert>
            </fx-control>
            </section>
            <fx-control
                as="node"
                ref="note[@type='found-date']"
                update-event="leave">
                <label>
                    <pb-i18n key="form.remarks">Anmerkungen</pb-i18n>
                </label>
                <edep-xml-editor
                    base-url="${app}"
                    class="widget"
                    data-template="lib:parse-params"
                    placeholder="[Inline text/markup or sequence of paragraphs]"
                    schema-root="provenance">
                </edep-xml-editor>
            </fx-control>
        </fx-group>

    </fx-group>
</details>
