<fx-group ref="fileDesc/sourceDesc/msDesc/msIdentifier" id="object" aria-labelledby="identifier-lbl">
    <h2 id="identifier-lbl">
        <pb-i18n key="form.identifier">Identifier</pb-i18n>
    </h2>
    <!-- 3) -->

    <fx-output ref="idno[@type='EDEp']" class="edepid">
        <label slot="label">
            <pb-i18n key="form.edepid">EDEp ID</pb-i18n>
        </label>
    </fx-output>

    <!-- 16a) -->

    <fx-control id="tm-number" class="tm-number" ref="idno[@type='TM']">
        <label>
            <pb-i18n key="form.tm">TM</pb-i18n>
        </label>
    </fx-control>

    <!-- there's no 17) -->
</fx-group>
