<fx-group class="outer-group" ref="fileDesc/sourceDesc/msDesc/msIdentifier" id="object" aria-labelledby="identifier-lbl">
    <h2 id="identifier-lbl">
        <pb-i18n key="form.identifier">Identifier</pb-i18n>
    </h2>
    <!-- 3) -->
    <fx-output ref="idno[@type='EDEp']" class="edepid">
        <label slot="label">
            <pb-i18n key="form.edepid">EDEp ID</pb-i18n>

            <pb-popover>
                <svg class="icon icon-info"><use href="#info-circle"></use></svg>
                <template slot="alternate">
                    <pb-i18n key="form.hint-references"></pb-i18n>
                </template>
            </pb-popover>

        </label>
    </fx-output>
    <fieldset id="idnos">
        <legend>Identifier
            <fx-trigger class="add">
                <pb-popover>
                    <svg class="icon icon-add"><use href="#plus-circle"></use></svg>
                    <template slot="alternate">
                        <pb-i18n key="form.hint-add-idno"> </pb-i18n
                        ></template>
                </pb-popover>
                <fx-insert
                    context="."
                    ref="idno"
                    origin="instance('templates')/idno"></fx-insert>
            </fx-trigger>
        </legend>
        <fx-repeat ref="idno[@type != 'EDEp']" class="idno-repeat">
            <template>
                <fx-control ref="@type">
                    <label>Type</label>
                </fx-control>
                <fx-control class="idno" ref=".">
                    <label>
                        <pb-i18n key="form.idno">ID</pb-i18n>
                    </label>
                </fx-control>
                <fx-trigger>
                    <pb-popover>
                        <svg class="icon icon-remove"><use href="#dash-circle"></use></svg>
                        <template slot="alternate">
                            <pb-i18n key="form.hint-delete-idno"></pb-i18n
                            ></template>
                    </pb-popover>
                    <fx-delete ref="."></fx-delete>
                </fx-trigger>
            </template>
        </fx-repeat>
    </fieldset>


    <!-- 16a) -->

<!--
    <fx-control id="tm-number" class="tm-number" ref="idno[@type='TM']">
        <label>
            <pb-i18n key="form.tm">TM ID</pb-i18n>
            <pb-popover>
                <svg class="icon icon-info"><use href="#info-circle"></use></svg>
                <template slot="alternate">
                    <pb-i18n key="form.hint-tm"></pb-i18n>
                </template>
            </pb-popover>
        </label>
    </fx-control>
-->
    <!-- there's no 17) -->
</fx-group>
