.content-grid {
    grid-template-rows: min-content 1fr;
}

.content-grid .before-content {
    grid-column: 1 / 2;
}

section > h1 {
    margin-bottom: 2rem;
}

pb-paginate {
    margin-bottom: 1rem;
}

.facets {
    margin-top: 2rem;
}