.footer a:link, .footer a:visited {
    color: #1269B0;
    text-decoration: none;
}

.register {
    font-family: var(--pb-base-font-family);
    font-size: var(--pb-base-font-size);
}

.register h3 {
    margin-top: 0;
}

.register ul {
    padding: 0;
    margin: 0 0 1rem 0;
}

.register li {
    list-style-type: none;
}

pb-popover {
    --pb-popover-theme: "light-border";
}

.person .dates {
    font-size: var(--pb-base-font-size);
}
.person .dates::before {
    content: ' (';
}
.person .death::before {
    content: '–';
}
.person .dates::after {
    content: ')';
}
.person .dates:empty {
    display: none;
}

.name.variant {
    font-style: italic;
}
.name.variant:not(:last-child)::after {
    content: ", ";
}

.person div {
    margin-top: 1rem;
}

pb-geolocation small {
    font-size: var(--pb-footnote-font-size);
    color: var(--pb-color-lighter);
}

pb-geolocation small:has(*)::before {
    content: " (";
}

pb-geolocation small:has(*)::after {
    content: ")";
}

.country + .region::before {
    content: ", ";
}

.place .links {
    margin-top: 1rem;
}

.correspContext a {
    padding:5px;
}
.correspContext .invisible {
    display:none;
}

.placeName {
    color: #ef6c00;
    text-decoration: none;
}

.persName {
    color: #1565c0;
    text-decoration: none;
}