:root {

    --color-highlight: #F6A623;
    --color-menu-bg: #35424b;
    --color-submenu: #FADCA1;
    --pico-header-background: var(--color-menu-bg);
}

@media (min-width: 1536px) {
    :root {
      --pico-font-size: 100%;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    body:not([data-theme]) {
    }
}

[data-theme="dark"] {
}

.logo {
    background-image: url("pages/tei-publisher-logo-contrast-color.svg");
    height: 64px;
    width: 140px;
    background-size: auto auto;
    background-position: left center;
    background-repeat: no-repeat;
}

body {
    background-color: var(--pico-background-color);
    min-height: 100vh;
}

pb-page {
    display: block;
}

header {
    --pico-block-spacing-vertical: 0;
    --pico-nav-element-spacing-vertical: 0;
    --pico-primary: white;
}

nav details {
    --pico-form-element-background-color: var(--color-menu-bg);
    --pico-form-element-border-color: var(--color-menu-bg);
    --pico-form-element-focus-color: var(--color-menu-bg);
    --pico-form-element-placeholder-color: var(--pico-primary);
    --pico-form-element-active-background-color: var(--color-menu-bg);
    --pico-form-element-active-border-color: var(--color-menu-bg);
}

@media (min-width: 1024px) {
    .is-fixed-above-lg {    
        z-index: 2;
        position: sticky;
        top: 0;
        backdrop-filter: blur(1rem);
        background-color: var(--pico-header-background);
        transition:
            border-top-color 0.4s ease-in-out,
            box-shadow 0.4s ease-in-out;
    }
    .is-fixed {
        border-bottom-color: var(--pico-header-border-color);
        box-shadow: var(--pico-card-box-shadow);
    }
}

main.grid {
    padding-top: 1rem;
    grid-column-gap: 3rem;
}

.editor {
    grid-template-columns: auto 1fr;
}

.templating {
    grid-template-columns: 1fr minmax(220px, 480px);
}

h1, h2, h3, .output > label {
    font-family: Oswald, sans-serif;
    font-weight: 200;
}

.output > label {
    color: var(--color-highlight);
}

.output {
    margin-top: 1rem;
}

p {
    margin-top: 0;
}

jinn-codemirror {
    display: block;
    overflow: auto;
    max-height: 60vh;
    min-height: 20vh;
    font-size: 1rem;
}

.hidden {
    display: none;
}
[slot=toolbar] {
    display: flex;
    margin-bottom: 4px;
    --pico-spacing: 0;
}

#eval {
    min-width: fit-content
}

.badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    background-color: #2C6C0C; /* Badge background color */
    color: var(--pico-primary-inverse); /* Text color */
    font-size: 0.875rem; /* Font size */
    font-weight: bold; /* Font weight */
}

.alert {
    background-color: #D93526;
    color: var(--pico-primary-inverse);
}

.error {
    color: #D93526;
}

.buttons {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.profiles {
    text-align: center;
}
.profiles h3 {
    font-size: 1rem;
}
.profiles a {
    display: block;
    margin-bottom: 2rem;
}
.profiles img, .profiles a > label {
    display: block;
    margin: 0 auto;
}
.profiles img {
    width: 64px;
    margin-bottom: .5rem;
}
.profiles img.profile {
    filter: grayscale(100%);
}

.output {
    line-height: 2;
}
ul.output li {
    list-style: none;
    margin-top: 1rem;
}

#errorMsg {
    color: red;
    font-size: 1.2em;
    margin: 10px 0;
}

summary {
    width: fit-content;
}

details {
    margin-top: 1rem;
}

details pb-markdown {
    margin-top: 1rem;
}
table th, table td {
    text-align: left;
    border-bottom: 1px solid #ced4da;
}
table td:nth-child(1), table th:nth-child(1) {
    width: 40%;
}