<nav class="toolbar top-center">
    <ul>
        [% block breadcrumb %][% endblock %]
    </ul>
    <ul>
        [% if $features?toolbar?navigation %]
        <li>
            <span role="group" class="light">
            [% let $iconLeft = <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                    d="M328 112L184 256l144 144" />
            </svg> %]
            [% if $context("parts")?default?previous %]
                <a href="[[ '../' || $context('pagination')?page - 1 || '/index.html' ]]"
                    title="Page [[ $context('pagination')?page - 1 ]]">
                    [[ $iconLeft ]]
                </a>
            [% else %]
                <a href="#" class="disabled">[[ $iconLeft ]]</a>
            [% endif %]
            [% endlet %]
            [% let $iconRight = <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                    d="M184 112l144 144-144 144" />
            </svg> %]
            [% if $context("parts")?default?next %]
                <a href="[[ '../' || $context('pagination')?page + 1 || '/index.html' ]]"
                    title="Page [[ $context('pagination')?page + 1 ]]">
                    [[ $iconRight ]]
                </a>
            [% else %]
                <a href="#" class="disabled">[[ $iconRight ]]</a>
            [% endif %]
            [% endlet %]
            </span>
        </li>
        [% endif %]
        [% block toolbar %][% endblock %]
    </ul>
</nav>
