<template>
    [% template toggle %]
        [% if $context?toolbar?toggle %]
        <li>
            <span role="group">
                <pb-toggle-feature name="p_highlight" selector=".tei-foreign,pb-highlight,pb-popover"
                    action="disable" default="off" emit="transcription" subscribe="transcription"
                    data-target="toolbar-start">
                    <pb-i18n key="document.plain">Reading View</pb-i18n>
                </pb-toggle-feature>
            </span>
        </li>
        [% endif %]
    [% endtemplate %]

    [% template sidebar %]
        [% if $context?features?facsimile %]
            <pb-facsimile id="facsimile" class="right" default-zoom-level="0" show-navigation-control="show-navigation-control" 
        show-navigator="show-navigator" subscribe="transcription"/>
        [% endif %]
    [% endtemplate %]

    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/browse.html">All</a></li>

                <li><a href="[[ $context-path ]]/browse.html?collection=[[ browse:parent-link($context) ]]">[[ browse:parent-link($context) ]]</a></li>
                <li>[[ $doc?transform($doc?content//tei:teiHeader/tei:fileDesc/tei:titleStmt, map { "mode": "breadcrumb" }) ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
</template>