@import url("../fonts/font.css");
@import url("variables.css");
@import url("jinks-variables.css");


:root {
    --pico-font-family-sans-serif: var(--jinks-base-font-family);
    --pico-font-size: var(--jinks-base-font-size, var(--pico-font-size));
    --pico-font-weight: var(--jinks-base-font-weight);
    --pico-line-height: var(--jinks-line-height);

    --pb-color: var(--jinks-color-primary, var(--pico-color));
    --primary-text-color: var(--pb-color);
    --pb-highlight-color: var(--pb-highlight-color-light);

    --pb-logo: var(--pb-logo-light);
    --jinks-background-color: var(--jinks-background-color-light);
}

/* Settings for dark mode based on preferred color scheme */
@media only screen and (prefers-color-scheme: dark) {
    body:not([data-theme]) {
        --pb-color: var(--jinks-color-inverse, var(--pico-color));
        --primary-text-color: var(--pb-color);
        --pb-highlight-color: var(--pb-highlight-color-dark);
        --pb-logo: var(--pb-logo-dark);
        --jinks-splash-background: var(--jinks-splash-background-dark);
        --jinks-header-background-color: var(--jinks-header-background-color-dark);
        --jinks-background-color: var(--jinks-background-color-dark);
    }
}

/* Settings for dark mode if manually chosen by user */
[data-theme="dark"] {
    --pb-color: var(--jinks-color-inverse, var(--pico-color));
    --primary-text-color: var(--pb-color);
    --pb-highlight-color: var(--pb-highlight-color-dark);
    --pb-logo: var(--pb-logo-dark);
    --jinks-splash-background: var(--jinks-splash-background-dark);
    --jinks-header-background-color: var(--jinks-header-background-color-dark);
    --jinks-background-color: var(--jinks-background-color-dark);
}

html {
    scroll-behavior: smooth;
    font-size: var(--jinks-base-font-size);
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

html, body {
    max-width: 100%;
}

/* Due to a safari issue, relative paths to background images won't work as variables, so we list them here */

.logo {
    background-image: var(--pb-logo-light);
}
/* 
check with safari
.splash {
    background-image: var(--jinks-splash-background);
} */

/* check should take the theming settings */
.menubar {
    background-image: none;
}

/* check should take the theming settings */
.toolbar {
    background-image: none;
}

body {
    background-color: var(--jinks-background-color);
    font: var(--pb-base-font);
    margin: 0;
    min-height: 100vh;
    color: var(--pb-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--jinks-heading-font-family);
    font-weight: var(--jinks-heading-font-weight);
    line-height: var(--jinks-heading-line-height);
}

*:focus {
    outline: none;
}

.splash {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    background-image: var(--jinks-splash-background);
    background-color: var(--jinks-background-color);
    background-position: center center;
    background-size: var(--jinks-splash-image-size);
    background-repeat: no-repeat;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

pb-page[unresolved]~.splash {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.menubar {
    --pico-color: var(--jinks-menubar-color);
    --pico-primary: var(--jinks-menubar-color);
    --pico-primary-hover: var(--jinks-menubar-color);
    --pb-login-link-color: var(--jinks-menubar-color);
    --pb-lang-input-color: var(--jinks-menubar-color);
    --pb-lang-label-color: var(--jinks-menubar-color);
    background-color: var(--jinks-menubar-background-color);
    color: var(--jinks-menubar-color);
    --pb-search-suggestions-color: var(--jinks-menubar-color);
    --pb-search-suggestions-background: var(--jinks-menubar-background-color);
    font-size: var(--jinks-menubar-font-size);
}

.menubar .icon {
    color: var(--pico-color);
}

.menubar a:link, .menubar a:visited {
    color: var(--jinks-menubar-color);
    text-decoration: none;
}

.menubar li {
    padding: 1rem var(--pico-nav-element-spacing-horizontal);
}

.menubar details a:link, .menubar details a:visited {
    color: var(--jinks-color-primary);
}

.menubar details.dropdown summary::after {
    height: 1rem;
}

.menubar details {
    --pico-form-element-background-color: var(--color-menu-bg);
    --pico-form-element-border-color: var(--color-menu-bg);
    --pico-form-element-focus-color: var(--color-menu-bg);
    --pico-form-element-placeholder-color: var(--pico-primary);
    --pico-form-element-active-background-color: var(--color-menu-bg);
    --pico-form-element-active-border-color: var(--color-menu-bg);
}

.menubar form {
    margin-bottom: 0;
}

.mobile.menu {
    display: none;
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    padding: 0 var(--pico-block-spacing-horizontal); 
    background-color: var(--jinks-menubar-background-color);
    color: var(--jinks-menubar-color);
    z-index: 3;
}

.mobile.trigger:hover .mobile.menu {
    display: block;
}

.toolbar a {
    display: inline-block;
    color: var(--pb-toolbar-color) !important;
}
.toolbar a svg, .toolbar pb-navigation:not([disabled]) svg, .toolbar pb-ajax:not([disabled]),
a[role="button"] svg, .theme-toggle svg, .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.toolbar {
    position: relative;
    background-color: var(--jinks-toolbar-background-color);
    color: var(--pb-toolbar-color);
    --pico-color: var(--pb-toolbar-color);
    --paper-checkbox-label-color: var(--pb-toolbar-color);
    --paper-checkbox-unchecked-color: var(--pb-toolbar-color);
}

.page-header pb-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--jinks-toolbar-background-color);
}

[disabled] {
    display: none;
}

pb-document {
    display: none;
}

.page-header {
    padding-block-start: 0;
}

.page-header > div {
    background-image: var(--jinks-header-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* hero covers 100% of the viewport height */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 2;
    padding: var(--jinks-hero-padding, 1rem);
    height: var(--jinks-hero-height, auto);
    min-height: var(--jinks-hero-min-height, auto);

    color: var(--jinks-color-inverse);
    --pico-color: var(--jinks-color-inverse);
    --pico-h1-color: var(--jinks-color-inverse);
    position: relative;
    background-image: var(--jinks-hero-background);
    background-size: var(--jinks-hero-background-size); 
    background-repeat: var(--jinks-hero-background-repeat);
    background-color: var(--jinks-hero-background-color);
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--jinks-hero-background-color); /* Adjust the opacity as needed */
}

.hero > * {
    position: relative;
    z-index: 1;
}

@media (max-width: 1023px) {
    .hidden-mobile {
        display: none;
    }
}
@media (min-width: 1024px) {
    .mobile {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 1rem 2rem;
}

main > *:not(.before-content, .after-content) {
    flex: 2;
}

main > .before-content, main > .after-content {
    flex: 1;
}

main.search {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.floating-button {
    position: fixed;
    top: 50%;
    transform: translateY(calc(50% - 24px));
}

.floating-button.left {
    left: 20px; /* Adjust as needed */
}

.floating-button.right {
    right: 20px; /* Adjust as needed */
}

.floating-button a {
    width: 48px; /* Adjust as needed */
    height: 48px; /* Adjust as needed */
}

.floating-button svg {
    width: 48px;
}

button svg {
    width: 24px;
}

.logo {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left center;
    width: var(--pb-logo-image-width);
    height: var(--pb-logo-image-height);
    margin-right: var(--pb-logo-margin-right, 1rem);
    cursor: pointer;
}

pb-progress {
    width: 100%;
}

@media (max-width: 768px) {
    #downloadDialog {
        width: 100%;
    }
}

@media (min-width: 769px) {
    #downloadDialog {
        width: 50%;
    }
}

pb-view, pb-view-annotate {
    font-family: var(--jinks-content-font-family);
    font-size: var(--jinks-content-font-size);
    margin: 0 1rem;
    position: relative;
}

@media (min-width: 769px) {
    pb-view, pb-view-annotate {
        max-width: var(--pb-view-max-width);
    }
}

pb-popover {
    text-align: left !important;
}

pb-drawer {
    top: 0;
    background-color: var(--jinks-drawer-background-color);
    overflow: auto;
    height: 100vh;
}

.toc {
    font-family: var(--jinks-content-font-family);
    font-size: var(--jinks-content-font-size);
}

.toc details summary {
    /* override pico default */
    line-height: var(--jinks-line-height);
}

.toc ul {
    margin: 0;
    padding: 0;
}

.toc ul ul {
    margin-left: 28px;
}

.toc li {
    list-style-type: none;
    margin-bottom: .5em;
}

.toc li:first-child {
    margin-top: .5em;
}

.toc li>pb-link {
    margin-left: 28px;
}

.toc pb-link {
    font-family: var(--jinks-link-font-family);
    padding: 4px 8px;
}

.toc pb-link a {
    color: var(--pb-link-color);
    text-decoration: var(--pb-link-text-decoration);
}

.toc h1, .toc h2, .toc h3, .toc h4, .toc h5 {
    font-family: var(--jinks-link-font-family);
}

.toc [slot=collapse-trigger] pb-link {
    margin-left: 0px;
}

.version {
    text-align: right;
    font-size: 0.85em;
    padding: 1em;
    color: var(--jinks-color-lighter);
}

.version span {
    font-weight: bold;
}

/* Display KWIC search results */
.matches {
    margin-left: 20px;
    margin-top: 10px;
    font-family: var(--jinks-content-font-family);
}

.matches .hi {
    color: var(--jinks-color-focus);
}

.matches .count {
    margin-top: 1em;
}

.matches .count::before {
    content: '[';
}

.matches .count::after {
    content: ']';
}

.facets {
    flex: 0;
    min-width: 220px;
}

.facets h3 {
    display: flex;
    align-items: center;
}

.facets h3 label {
    margin-left: 16px;
    font-size: 11px;
}

.facets table {
    font-size: 14px;
}

.facets table table {
    padding-left: 16px;
    width: 100%;
}

.facets table td {
    padding: 4px 0;
}

.facets table td:nth-child(2) {
    color: #808080;
    text-align: right;
    padding-left: 1em;
    vertical-align: middle;
}

.before-document-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.documents div {
    margin: 0;
}

.error {
    color: #c02020;
}

.documents header a,
.documents header a:visited {
    color: #303F9F;
    text-decoration: none;
}

.documents > li:last-child {
    border: none;
}

li.document {
    list-style: none;
    margin-bottom: 10px;
    padding: 6px 0;
    border-bottom: thin solid var(--paper-grey-300);
    padding-bottom:1rem;
    position: relative;
}

.thumbnails li.document {
    display: grid;
    grid-template-columns: 9rem auto;
    grid-gap: 1rem;
    margin-bottom: 10px;
    padding: 6px 0;
    border-bottom: thin solid var(--paper-grey-300);
}

li.document header {
    margin-bottom: 1rem;
}

li.document .actions {
    display: flex;
    justify-content: space-between;
}

li.document .actions * {
    flex-grow: 0;
}

li.document svg {
    width: 24px;
}

li.document .thumbnail {
    width: 8em;
    height: 8em;
    width:8em;
    box-shadow:2px 2px 4px rgba(33,33,33,0.5);
    position:relative;
}
li.document .thumbnail img {
    border-radius:35px;
    border-color: #19232d;
    border-style: groove;
    box-shadow: 1px 1px 1px 1px  #19232d;
}

li.document .attribution {
    position: absolute;
    bottom: 1rem;
    font-size: 0.6em;
    left: 0;
    color: blue;
    background: rgba(255,255,255,0.6);
    padding: 0 0.375em;
    border-top-left-radius: 0.25em;
}

.documents .document-select {
    flex: 0 0;
    margin-right: 20px;
}

.documents .sample-description {
    font-size: var(--jinks-footnote-font-size);
}

.browse {
    grid-template-columns: 25% 1fr 25%;
}

main > section {
    margin-top: var(--pico-block-spacing-vertical);
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
}
footer a {
    width: 128px;
}

.metadata a {
    width: 100%;
    text-align: center;
}

.overflow {
    overflow: auto;
    height: 100%;
}

.above-content, .below-content {
    max-width: var(--pb-content-max-width);
    padding: 1rem;
}

/* Layouts
 *
 * 1. sticky-layout: The page header is sticky and the content scrolls underneath it.
 * 2. fixed-layout: Uses a fixed grid layout spanning the viewport. The page header is fixed at the top.
 */
.sticky-layout .page-header {
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: transparent;
    z-index: 2;
}

.fixed-layout {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    position: relative;
}

@media screen and (max-width: 1023px) {
    .fixed-layout {
        grid-template-columns: 1fr;
    }
}

.fixed-layout main {
    grid-row: 3;
    overflow: auto;
    height: 100%;
}

.fixed-layout > .page-header {
    grid-column: 1 / -1;
    grid-row: 1;
}

.fixed-layout > .above-content {
    grid-row: 2;
    grid-column: 1 / -1;
}

.fixed-layout > .below-content {
    grid-row: 4;
    grid-column: 1 / -1;
}