:root {
    --pb-line-height: 140%;
    --pb-content-max-width: 70rem;

    --pb-logo-light: url("[[ $theme?logo?light ]]");
    --pb-logo-dark: url("[[ $theme?logo?dark ]]");
    --pb-logo-image-width: [[ $theme?logo?width ]];
    --pb-logo-image-height: [[ $theme?logo?height ]];
    --pb-logo-margin-right: 1rem;

    --pb-splash-image-dark: url("[[ $theme?logo?splash?dark ]]");
    --pb-splash-image-light: url("[[ $theme?logo?splash?light ]]");
    --pb-splash-image-size: 360px auto;
    --pb-splash-background-color: var(--pico-background-color);

    --pb-base-font-family: [[$theme?fonts?base]];
    --pb-base-font-size: 16px;
    --pb-base-line-height: 1.42857143;
    --pb-base-font-weight: 300;
    --pb-base-font: var(--pb-base-font-weight) var(--pb-base-font-size)/var(--pb-base-line-height) var(--pb-base-font-family);
    --pb-serif-font-family: [[$theme?fonts?content]];
    --pb-content-font-family: var(--pb-serif-font-family);
    --pb-content-font-size: 20px;
    --pb-heading-font-family: [[$theme?fonts?heading]];
    --pb-heading-font-weight: 400 !important;
    --pb-heading-line-height: 1.2;
    --pb-breadcrumbs-font-size: 18px;
    --pb-color-primary: #303030;
    --pb-color-inverse: #F0F0F0;
    --pb-color-lighter: #35424b;
    --pb-color-focus: #f6a623;
    --pb-annotation-stripes-light: #e0e0ef;
    --pb-annotation-stripes-dark: #50505f;
    --pb-drawer-background-color: var(--pb-color-inverse);
    --pb-menubar-background-color: [[ $theme?colors?menubar?background ]];
    --pb-menubar-color: [[ $theme?colors?menubar?color ]];
    --pb-toolbar-background-color: [[ $theme?colors?toolbar?background ]];
    --pb-toolbar-color: [[ $theme?colors?toolbar?color ]];
    --paper-tooltip-delay-in: 200;
    --pb-footnote-font-size: 13px;
    --pb-footnote-font-family: var(--pb-content-font-family);
    --pb-footnote-font-weight: var(--pb-content-font-weight);
    --pb-footnote-color: #303030;
    --pb-footnote-padding: 0 0 0 .25em;
    --pb-popover-theme: "light-border";
    --pb-popover-max-width: 480px;
    --pb-popover-font-size: 16px;
    --pb-popover-line-height: 1.2;
    --pb-popover-placement: "bottom";
    --pb-popover-fallback-placement: "top right left";
    --pb-lang-input-color: var(--pb-color-inverse);
    --pb-lang-label-color: var(--pb-color-inverse);
    --pb-link-color: black;
    --pb-link-font-family: var(--pb-serif-font-family);
    --pb-highlight-color-light: #FECC63;
    --pb-highlight-color-dark: #014063;
    --paper-input-container-focus-color: var(--pb-color-focus);
    --pb-view-max-width: 920px;
    --pb-view-scroll-margin-top: 0;
}