pb-timeline::part(tooltip) {
    background-color: var(--pb-color-inverse);
    color: var(--pb-color);
}

pb-timeline {
    margin-left: var(--pico-block-spacing-horizontal);
    padding-left: var(--pico-block-spacing-horizontal);
}