pb-timeline::part(tooltip) {
    background-color: var(--jinks-color-inverse);
    color: var(--pb-color);
}

pb-timeline {
    margin-left: var(--pico-block-spacing-horizontal);
    padding-left: var(--pico-block-spacing-horizontal);
}

pb-timeline::part(label) {
    font-size: var(--jinks-font-size-smaller);
}

.timeline {
    margin-bottom: 1rem;
}