<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/base.html"
        }
    }
    ---
    [% template breadcrumb %]
    [% if exists($context?doc) %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/browse.html?collection=[[ browse:parent-link($context) ]]">Documents</a></li>
                <li>[[ $context?doc?transform($context?doc?content, map { "mode": "breadcrumb" }) ]]</li>
            </ul>
        </nav>
    </li>
    [% endif %]
    [% endtemplate %]

    [% template before %]
    [% if $context?features?toc?enabled and exists($context?doc)%]
    <h5>
        <pb-i18n key="document.contents">Contents</pb-i18n>
    </h5>
    <pb-load class="toc" url="api/document/{doc}/contents?target=transcription&amp;icons=true[[ if ($context?features?toc?collapse) then '&amp;collapse=true' else '' ]]" expand="expand"
        src="document1" subscribe="toc" load-once="load-once" auto="auto"><pb-i18n key="dialogs.loading">Loading</pb-i18n></pb-load>
    [% endif %]
    [% endtemplate %]

    [% block above-content %][% endblock %]
    <main>
        <!-- Content block -->
        [% block content %][% endblock %]
    </main>
    [% block below-content %][% endblock %]
    [% if exists($context?doc) %]
    <pb-document id="document1" path="[[ $context?doc?path ]]" odd="[[ $context?doc?odd ]]" view="[[ $context?doc?view ]]"
        root-path="[[ $config:data-root ]]" source-view="[[ $page:EXIDE ]]"/>
    [% endif %]
</template>
