:root {
    --pb-content-max-width: 90rem;
}

aside .register li {
    padding: 0;
}

aside {
    min-width: 320px;
}

.place-details {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 50%);
    column-gap: 2rem;
    min-height: 320px;
}

pb-leaflet-map {
    height: 33vh;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 1rem;
}