<main>
    ---json
    {
        "templating": {
            "extends": "static/templates/layouts/base.html"
        },
        "features": {
            "toc": {
                "enabled": false
            }
        },
        "layout": "sticky-layout"
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/1/index.html">Letters</a></li>
                <li>[[ $parts?breadcrumb?content ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
    <div class="content">
    [[ $parts?default?content ]]
    [[ $parts?default?footnotes ]]
    </div>
    <div class="content">
        [[ $parts?translation?content ]]
        [[ $parts?translation?footnotes ]]
    </div>
</main>