<main>
    [% extends "templates/base.html" %]
    [% block breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $config:context-path ]]/index.html?collection=[[ $request?parameters?collection ]]">People</a></li>
            </ul>
        </nav>
    </li>
    [% endblock %]
    <div class="list">
        <pb-custom-form id="options" auto-submit="paper-input,paper-icon-button" emit="transcription">
            <paper-input id="query" name="search" data-i18n="[label]app.search" data-template="templates:form-control">
                <paper-icon-button icon="search" slot="suffix"/>
            </paper-input>
        </pb-custom-form>
        <pb-split-list url="api/people" subforms="#options" selected="A" emit="transcription" subscribe="transcription"/>
    </div>
</main>