<main class="people">
    ---json
    {
        "templating": {
            "extends": "templates/layouts/base.html"
        },
        "features": {
            "toolbar": {
                "zoom": false
            }
        }
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/[[ $menu?items?*[?id = 'people']?url ]]"><pb-i18n key="menu.people"/></a></li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
    <div class="list">
        <pb-custom-form id="options" auto-submit="input" emit="transcription">
            <input id="query" type="search" name="search" data-i18n="[placeholder]search.search" value="[[ $request?parameters?search ]]"/>
        </pb-custom-form>
        <pb-split-list url="api/people" subforms="#options" selected="A" emit="transcription" subscribe="transcription"/>
    </div>
</main>
