<main>
    ---json
    {
        "templating": {
            "extends": "templates/base.html"
        }
    }
    ---
    [% block breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $config:context-path ]]/index.html?collection=[[ $request?parameters?collection ]]"><pb-i18n key="menu.people"/></a></li>
                <li>[[ $data?root/tei:persName/string() ]]</li>
            </ul>
        </nav>
    </li>
    [% endblock %]
    <section class="person">
        [[ $data?transform($data?root, ()) ]]
    </section>
</main>