<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/content.html"
        },
        "features": {
            "toolbar": {
                "zoom": false,
                "navigation": false
            },
            "timeline": {
                "enabled": false
            },
            "upload": {
                "enabled": false
            },
            "register": {
                "enabled": true
            }
        },
        "script": {
            "custom": [
                "resources/scripts/registers.js"
            ],
            "extra-components": [
                "pb-leaflet-map"
            ]
        },
        "styles": [
            "transform/teipublisher.css",
            "resources/css/registers-theme.css"
        ],
        "theme": {
            "layout": {
                "after-width": "min(30vw, 356px)"
            }
        }
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/places"><pb-i18n key="menu.places"/></a></li>
                <li>[[ $data?root/head((tei:placeName[@type = ('reg', 'main', 'full')], tei:placeName))/string() ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
    [% template after %]
    <pb-leaflet-map id="map" class="details-map" subscribe="map" emit="map" zoom="5" cluster="" latitude="51.856614" longitude="21.3522219">
        <pb-map-layer show="" base="" label="Mapbox OSM" url="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token={accessToken}" max-zoom="19" access-token="pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw" attribution="© Mapbox © OpenStreetMap"></pb-map-layer>
    </pb-leaflet-map>
    [% endtemplate %]
    <section class="place">
        [[ page:transform($data?root, map { "mode": "register-details" }) ]]
    </section>
</template>
