name: Deploy Docker Images

on:
  push:
    # Publish `main` as Docker `latest` image.
    branches:
      - main
      - 'release/*'

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*
  
  pull_request:
    branches: [ main ]

  workflow_dispatch:

env:
  IMAGE_NAME: jinks
  TEST_TAG: exist-db

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        EXIST_BASE: [6.4.0]

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Build default images for testing on CI
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            EXIST_VERSION=${{ matrix.EXIST_BASE }}
          load: true
          tags: ${{ env.TEST_TAG }}
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache
      - name: Start docker image
        run: docker run --publish 8080:8080 --name db --detach ${{ env.TEST_TAG }}
      - name: Run Cypress e2e test
        uses: cypress-io/github-action@v7
        with:
          browser: firefox
      - name: Retrieve eXist log
        if: failure()
        run: docker cp db:/exist/logs/exist.log .
      - name: Publish log as artifact
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: jinks-deploy-exist-${{ matrix.EXIST_BASE }}.log
          path: ./exist.log
      - name: Stop docker
        run: docker stop db

  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  push:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64 

      - name: Make buildkit default
        uses: docker/setup-buildx-action@v3
        id: buildx


      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          # set e.g v1 and 1.0.0 for pushed tags
          # set latest tag for default branch
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern=v{{major}}
            type=raw,value=latest,enable={{is_default_branch}}  


      # was ${{ github.actor }}
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push image
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          build-args: |
            PUBLISHER_VERSION=main
            EXIST_VERSION=6.4.0
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          sbom: true
          tags: ${{ steps.meta.outputs.tags }} 
          labels: ${{ steps.meta.outputs.labels }}   
