:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
}

h1 {
    font-size: 3.375rem;
    font-weight: 600;
    line-height: 110%; /* 3.7125rem */
    text-transform: uppercase;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 110%; /* 1.925rem */
    text-transform: uppercase;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 110%; /* 1.375rem */
    text-transform: uppercase;
}

@media (max-width: 1023px) {
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.25rem;
    }
}

/* hide extra elements from content pages */
.before,
.before-top,
.after,
.after-top {
    display:none;
}

.center-l {
    box-sizing: content-box;
    max-width: var(--jinks-content-max-width, 80rem); /* 1280px */
    margin-inline: auto;
    padding-inline: var(--s0);
}

.hero {
    color: var(--jinks-color-inverse);
    display: block;
    padding: 0;
    --pico-color: var(--jinks-color-inverse);
    --pico-h1-color: var(--jinks-color-inverse);
    position: relative;
    background-image: var(--jinks-hero-background-image);
    background-size: var(--jinks-hero-background-size);
    background-repeat: var(--jinks-hero-background-repeat);
    background-color: var(--jinks-hero-background-color);
}

.hero a {
    display: inline-block;
    padding: 0.8125rem 1.875rem;
    border-radius: 0.25rem;
    border: 1px solid var(--jinks-color-inverse, #4F4F4F);
    background-color: transparent;
    color: var(--jinks-color-inverse);
    font-weight: 600;
    line-height: 110%; /* 0.9625rem */
    text-transform: uppercase;
    text-decoration: none;
    align-self: flex-start;
}

.hero h1 {
    max-width: var(--jinks-hero-text-width);
}

/* subtitle for the hero section */
.hero p {
    max-width: var(--jinks-hero-text-width);
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

section {
    margin-block-end: 0;
    padding-block: var(--s2);
}

.section-light {
    background-color: var(--jinks-colors-light, #fff);
}

.section-dark {
    background-color: var(--jinks-colors-500, #000);
    color: var(--jinks-color-inverse);
    --pico-color: var(--jinks-color-inverse);
    --pico-h1-color: var(--jinks-color-inverse);
}

.section-highlight {
    background-color: var(--jinks-colors-accent, #ff0);
    color: var(--jinks-color-inverse);
    --pico-color: var(--jinks-color-inverse);
    --pico-h1-color: var(--jinks-color-inverse);
}

@media (max-width: 1023px) {
    section {
        margin-top: 2rem;
    }
}

.highlights h2 {
    background-size: cover;
}

.highlights h2 > * {
    display: block;
    background-color: var(--jinks-header-background-color);
    height: 100%;
}
article:hover h2 > * {
    background-color: transparent;
    display: none;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(33% - .5rem));
    gap: .5rem;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .highlights {
        grid-template-columns: repeat(auto-fill, calc(50% - .5rem));
    }
}

@media (max-width: 639px) {
    .highlights {
        display: block;
    }
}

.highlights article h2 {
    height: 30rem;
}

.highlights article h2 span {
    padding: 2rem 0 0 2rem;
}

.highlights article h2 {
    background-image: var(--jinks-highlight-background);
}

.highlights article:nth-child(2) h2 {
    background-image: var(--jinks-feature-background);
}

#about .bg-transparent {
    background-image: var(--jinks-feature-background);
}

footer {
    max-width: 70rem;
    margin: auto;
}

.partner-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.partner-logo {
    display: block;
    border: thin solid var(--jinks-border-color);
    width: 12.5%;
    height: 6rem;
    margin: var(--s1);
}

.partner-logo img {
    aspect-ratio: 1/1;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom a {
    color: var(--pb-color-grey-3);
    text-decoration: none;
    width: auto;
}

.bottom a:hover {
    color:#0172ad;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(25% - .5rem));
    gap: .5rem;
    margin: 0;
    padding: 0;
}

@media (max-width: 1023px) {
    .team {
        grid-template-columns: repeat(auto-fill, calc(50% - .5rem));
    }

    .team header img {
        width: 3rem; /* Fixed size */
        height: 3rem; /* Fixed size */
    }
}

.team li {
    list-style: none;
    margin-bottom: var(--pico-block-spacing-vertical);
    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
    border-radius: var(--pico-border-radius);
    background:linear-gradient(0deg, var(--jinks-overlay-background-color-light), var(--jinks-overlay-background-color-light)), var(--jinks-texture-background);
    box-shadow: var(--pico-card-box-shadow);
    color: var(--jinks-text-color);

    p {
        text-transform: none;
    }
}

.team li:hover {
    --jinks-overlay-background-color-light: rgba(255, 255, 255, 0.7);
    background-image: var(--jinks-texture-background);
    background:linear-gradient(0deg, var(--jinks-overlay-background-color-light), var(--jinks-overlay-background-color-light)), var(--jinks-texture-background);
    background-size: cover;
    background-position: 0;
    background-position-y: 0;
    color: var(--jinks-text-medium);
}

img.avatar {
    width: 5.875rem; /* Fixed size */
    height: 5.875rem; /* Fixed size */
    border-radius: 50%; /* Makes it round */
    object-fit: cover; /* Ensures the image covers the badge area without losing its aspect ratio */
    display: block; /* Removes the inline nature of images to allow centering */
    margin: 0 auto; /* Centers the image horizontally */
    opacity: 0.9;
}
  
.team h3 {
    font-size: 0.73956rem;
    font-weight: 300;
    line-height: 130%; /* 0.96144rem */
}

.team h2 {
    margin-top: 2rem;
    font-size: 1.0565rem;
    font-weight: 500;
    line-height: 110%; /* 1.16219rem */
}

.license {
    display: flex;
    flex-direction: row;
}

.license img {
    margin: var(--s-4);
    width: var(--s1);
}
