:root {
    /* --pb-base-font-family: 'Albert Sans', sans-serif; */
    --pb-base-font-size: 1.125rem;
    --pb-base-line-height: 140%;

    --pb-serif-font-family: var(--jinks-base-font-family);
    --pb-content-font-family: var(--jinks-base-font-family);
    /* --pb-heading-font-family: var(--jinks-base-font-family); */

    --pico-font-size: 16px;

}

pb-page {
    background-image: var(--jinks-page-background);
    background-position: center 95px;
    background-size: cover;
    background-attachment: fixed;
    background-color: transparent;
}

main {
    background-color: var(--pico-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    color: var(--jinks-color-inverse);
}

.hero a {
    display: inline-block;
    padding: 0.8125rem 1.875rem;
    border-radius: 0.25rem;
    border: 1px solid var(--jinks-color-inverse, #4F4F4F);
    background-color: transparent;
    color: var(--jinks-color-inverse);
    font-weight: 600;
    line-height: 110%; /* 0.9625rem */
    text-transform: uppercase;
    text-decoration: none;
    align-self: flex-start;
}

.hero h1 {
    max-width: var(--jinks-hero-text-width);
}

/* subtitle for the hero section */
.hero p {
    max-width: var(--jinks-hero-text-width);
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

h1 {
    font-size: 3.375rem;
    font-weight: 600;
    line-height: 110%; /* 3.7125rem */
    text-transform: uppercase;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 110%; /* 1.925rem */
    text-transform: uppercase;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 110%; /* 1.375rem */
    text-transform: uppercase;
}

@media (max-width: 1023px) {
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.25rem;
    }
}

section {
    padding-top: 3rem;
}

@media (max-width: 1023px) {
    section {
        margin-top: 2rem;
    }
}

.bg-transparent, .slides h2 {
    background-size: cover;
}
.bg-transparent > *, .slides h2 > * {
    display: block;
    background-color: var(--jinks-header-background-color);
    height: 100%;
}
.bg-transparent:hover > *, .slides article:hover h2 > * {
    background-color: transparent;
    display: none;
}

.slides {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(33% - .5rem));
    gap: .5rem;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .slides {
        grid-template-columns: repeat(auto-fill, calc(50% - .5rem));
    }
}

@media (max-width: 639px) {
    .slides {
        display: block;
    }
}

.slides article h2 {
    height: 30rem;
}

.slides article h2 span {
    padding: 2rem 0 0 2rem;
}

.slides article h2 {
    background-image: var(--jinks-highlight-background);
}

.slides article:nth-child(2) h2 {
    background-image: var(--jinks-feature-background);
}

#about .bg-transparent {
    background-image: var(--jinks-feature-background);
}

footer {
    max-width: 70rem;
    margin: auto;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bottom {
    min-height: 300px;
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bottom a {
    color: var(--pb-color-grey-3);
    text-decoration: none;
    width: auto;
}

.bottom a:hover {
    color:#0172ad;
}

footer img {
    min-height: 60px;
    margin: 1rem;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(25% - .5rem));
    gap: .5rem;
    margin: 0;
    padding: 0;
}

@media (max-width: 1023px) {
    .team {
        grid-template-columns: repeat(auto-fill, calc(50% - .5rem));
    }

    .team header img {
        width: 3rem; /* Fixed size */
        height: 3rem; /* Fixed size */
    }
}

.team li {
    list-style: none;
    margin-bottom: var(--pico-block-spacing-vertical);
    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
    border-radius: var(--pico-border-radius);
    background-color: var(--jinks-colors-50);
    box-shadow: var(--pico-card-box-shadow);
    color: var(--jinks-text-color);

    p {
        text-transform: none;
    }
}

.team li.collaborator {
    background-image: var(--jinks-texture-background);
    background-position-x: -100px;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.team li:hover {
    background-image: var(--jinks-texture-background);
    background-size: cover;
    background-position: 0;
    background-position-y: 0;
    color: var(--jinks-text-medium);
}

img.avatar {
    width: 5.875rem; /* Fixed size */
    height: 5.875rem; /* Fixed size */
    border-radius: 50%; /* Makes it round */
    object-fit: cover; /* Ensures the image covers the badge area without losing its aspect ratio */
    display: block; /* Removes the inline nature of images to allow centering */
    margin: 0 auto; /* Centers the image horizontally */
    opacity: 0.9;
}
  
.team h3 {
    font-size: 0.73956rem;    
    font-weight: 300;
    line-height: 130%; /* 0.96144rem */
}

.team h2 {
    margin-top: 2rem;
    font-size: 1.0565rem;
    font-weight: 500;
    line-height: 110%; /* 1.16219rem */
}